.btn-transparent {
    background: transparent;
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    border: 0;
}
.btn-transparent:hover {
}
.btn-transparent:focus {outline:0;}
#rubberband{
	border: 2px solid rgba(0, 70, 128, 0.3);
    top: 175px;
    left: 302px;
    height: 468px;
    width: 662px;
    position: absolute;
    background-color: rgba(185, 217, 255, 0.3);
}
#happy-cogs {
    width: 100px;
    margin: 60px 0 0 10px;
    position: fixed;
}

.toolbox-sidebar {
    position: fixed;
    z-index: 1;
    overflow: visible;
    height: 100%;
    width: 200px;
    left:0;
    color: #000;
    background-color: #2c3b41;
    animation: animateleft 0.4s;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    transition: all ease 0.6s;
}
.toolbox-sidebar.outside {
    left: -160px;
    cursor: pointer;
}
.toolbox-sidebar.outside:hover {
    left: -130px;
}
.toolbox-sidebar .toolbox-sidebar-handler{
    top: 0;
    position: absolute;
    height: 50px;
    width: 20px;
    right: -20px;
    background: #374850;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 38px 0 rgba(0,0,0,0.2);
    border-top-right-radius: 0;
    border-bottom-right-radius: 2px;
    transition: all ease 1s;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;

}
.toolbox-sidebar.outside .toolbox-sidebar-handler{
    opacity: 1;
    visibility: visible;
}

.toolbox-sidebar .toolbox-bar {
    width: 100%;
    overflow: hidden;
    color: #fff!important;
    background-color: #616161!important;
}
.toolbox-sidebar .toolbox-bar span {
    padding: 12px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

.toolbox-sidebar .toolbox-bar button {
    padding: 12px;
    float: right;
    width: auto;
    border: none;
    display: block;
    outline: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    transition: all ease 1s;
    opacity: 1;
    visibility: visible;
}
.toolbox-sidebar .toolbox-bar button:hover{
    background: #3c8dbc;
}
.toolbox-sidebar.outside .toolbox-bar button {
    opacity: 0;
    visibility: hidden;
}
.toolbox-sidebar .toolbox-search {
    padding: 5px;
    text-align: center;
}
.toolbox-sidebar .toolbox-search input {
    border-radius: 3px;
    border: none;
    padding: 10px;
    color: white;
    background: #6A6C75;
    width: 93%;
    font-size: 12px;
}
.toolbox-sidebar .toolbox-search input::placeholder {
    color: #c5c5c5;
}
.toolbox-sidebar .toolbox-search .fa-search, .toolbox-sidebar .toolbox-search .fa-times {
    position: relative;
    left: -25px;
    width: 0;
    cursor:pointer;
}

.toolboxAccordion{
    background: #212527;

}
.toolboxAccordion .ui-accordion-content {
    padding: 0;
    background: #2c3b41;
    border: none;
    outline: none;
}
.toolboxAccordion .ui-accordion-header {
    background: #1e282c;
    color: white;
    border: none;
    padding-left: 1em;
}
.toolboxAccordion .ui-accordion-header i.fa{
    padding: 0;
    transition: all ease .5s;
}
.toolboxAccordion .ui-accordion-header-icon{
    display:none;
}
.toolboxAccordion .ui-accordion-header-active i.fa{
    transform: rotate(90deg);
}

.toolbox-header {
    width:100%;
    position:fixed;
    top:0;
    text-align:center;
    height: 0;
    overflow: visible;
    opacity:1;
    visibility: visible;
    transition: all ease 0.6s;
}
.toolbox-header.outside {
    top: -100px;
    cursor: pointer;
    opacity:0;
    visibility: hidden;
}

.toolbox-header .toolbox-space{
    background: #212527;
    display: inline-block;
    color: white;
    padding: 10px 20px;
    text-shadow: 1px 1px 1px #666;
}
.toolbox-header button {
    float: right;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 20px;

}
.toolbox-header button:hover{
    background: #3c8dbc;
}
.toolbox-header .toolbox-footer {
    text-align: left;
    font-size: 10px;
    color:#3c8dbc;
}

.control-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 202;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    color: #bebebe;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    padding: 0 5px;
	background: -webkit-gradient(linear,left top,left bottom,from(#2c3b41),to(#1e282c));
    background: -o-linear-gradient(#2c3b41,#1e282c);
    background: linear-gradient(#2c3b41,#1e282c);
    -webkit-box-shadow: 0 1px 0 0 hsla(0,0%,100%,.035) inset, 0 -1px 2px 0 rgba(0,0,0,.12);
    box-shadow: inset 0 1px 0 0 hsla(0,0%,100%,.035), 0 -1px 2px 0 rgba(0,0,0,.12);
}
.control-toolbar > div {
    float: left;
}
.control-toolbar .icon {
	padding: 4px 6px;
}
.control-toolbar .icon:hover {
	color: #FFFFFF;
}
.control-toolbar .icon.selected {
    color: blue;
}
.nav-tabs>li>a, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	padding: 0 5px;
	font-weight: bold;
	background-color: transparent;
	color: #FFF;
	border: none;
	border-top: 4px solid transparent;
	border-radius: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	border-top: 4px solid #FFF;
}

#infoband {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #212527;
    color: #FFF;
    padding: 1px 20px;
    border-radius: 2em 0 0 0;
    font-size: 0.8em;
    z-index: 1000;
    text-shadow: 1px 1px 1px #666;
}

#tools-toolbox {
	position: absolute;
	padding: 2px;
	margin: 0 10px 10px 0;
    right: 50px;
    top: 50px;
	width: 64px;
}
#tools-toolbox p { cursor: move; }
#tools-toolbox button{
	display:block;
}
#draggable-toolbox-preview{
    position: fixed;
    background-color: #212527;
    margin: 0;
    right: 0;
    top: 35px;
	width:202px;
}
#draggable-toolbox-preview .header {
    
    background: #383f43;
    
}
#draggable-toolbox-preview p {
    cursor: move;
    background: #383f43;
    margin: 0;
    color: #FFF;
    padding: 1px 6px;
    border: none;
    font-size: 10px;
    display: inline;
}

#draggable-toolbox-preview a > i {
    margin-top: 3px;
    margin-right: 3px;
    font-size: 13px;
    color: #FFF;
    display: inline;
}

#draggable-toolbox-preview a[aria-expanded=true] .fa-chevron-left {
   display: none;
}
#draggable-toolbox-preview a[aria-expanded=false] .fa-chevron-down {
   display: none;
}

#img-wf-preview{
	background: #dbedfd;
    height: 200px;
	width: 200px;
    position: relative;
	overflow:hidden;
}
#img-wf-preview img{
	width:100%;
}
#img-wf-preview .preview-node{
	position: absolute;
	background-color: #7dabc9;
}
#img-wf-preview .preview-node.selected{
	background-color: #3b9ad8;
	border: 2px solid #3b9ad8;
}

#img-wf-preview .preview-node.viewfinder{
	background-color: #fff971;
	background-color: transparent;
    box-shadow: 0 0 0 40000px grey;
    opacity: 0.4;
}
#img-wf-preview .preview-node.group {
    background-color: transparent;
    border: 1px solid #7dabc9;
}

#img-wf-preview .preview-viewfinder{
	top: 100px;
    left: 100px;
    width: 73px;
    height: 111px;
    position: absolute;
    background-color: transparent;
    box-shadow: 0 0 0 40000px grey;
    opacity: 0.4;
}
#preview-zoom-toolbar {
    background: #000000;
    position: absolute;
    top: 20px;
    left: 5px;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    height: 40px;
    width: 40px;
}
#preview-zoom-toolbar .pan-up {
    position: absolute;
    top: 0px;
    left: 13px;
}
#preview-zoom-toolbar .pan-down {
    position: absolute;
    bottom: 2px;
    left: 13px;
}
#preview-zoom-toolbar .pan-left {
    position: absolute;
    top: 13px;
    left: 0;
}
#preview-zoom-toolbar .pan-right {
    position: absolute;
    top: 13px;
    right: 0;
}

#preview-toolbar {
    z-index: 202;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    color: #bebebe;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    padding: 0 5px;
	background: -webkit-gradient(linear,left top,left bottom,from(#2c3b41),to(#1e282c));
    background: -o-linear-gradient(#2c3b41,#1e282c);
    background: linear-gradient(#2c3b41,#1e282c);
    -webkit-box-shadow: 0 1px 0 0 hsla(0,0%,100%,.035) inset, 0 -1px 2px 0 rgba(0,0,0,.12);
    box-shadow: inset 0 1px 0 0 hsla(0,0%,100%,.035), 0 -1px 2px 0 rgba(0,0,0,.12);
}
#preview-toolbar > div {
    float: left;
}
#preview-toolbar .icon {
	padding: 4px 4px;
}
#preview-toolbar .icon:hover {
	color: #FFFFFF;
}
#preview-toolbar .icon.selected {
    color: blue;
}

#draggable-toolbox-modules-source {
	position: absolute;
	background-color: #212527;
	margin: 0 10px 10px 0;
    left: 0;
    top: 0;
}
#draggable-toolbox-modules-source p { 
    cursor: move;
    background: #383f43;
    margin: 0;
    color: #FFF;
    padding: 1px 6px;
    border: none;
    font-size: 10px;
}
#draggable-toolbox-modules-source .nav { 
	float: none;
	border: none;
}

.modulesholder{
/*
    background: #212527;
    -webkit-box-shadow: 0 1px 0 0 hsla(0,0%,100%,.035) inset, 0 -1px 2px 0 rgba(0,0,0,.12), 0 1px 0 0 hsla(0,0%,100%,.035);
    box-shadow: inset 0 1px 0 0 hsla(0,0%,100%,.035), 0 -1px 2px 0 rgba(0,0,0,.12), 0 1px 0 0 hsla(0,0%,100%,.035);
    border-top: 1px solid #1b1b1b;
	padding: 10px;
    max-height: 700px;
    overflow-y: auto;
*/
    overflow: auto;
    height: 100%;
}

.modulesholder .item.selected {
    opacity: 1;
    -webkit-transform: scale(1.025);
    -ms-transform: scale(1.025);
    transform: scale(1.025);
}
.modulesholder .item {
    width: 175px;
    border-radius: 4px;
    background: red;
    display: block;
    margin: 1rem auto;
    background: #383f43;
    border: 1px solid #111;
    border-bottom-width: 2px;
    opacity: .5;
    color: #bebebe;
}

.modulesholder .item-preview {
    width: 138px;
    height: 64px;
    background: #fff;
    border: 1px solid #000;
    margin: .5rem;
}

.item-info {
    background: #212527;
    border-top: 1px solid #1b1b1b;
    font-size: .65rem;
	align-items: center;
}
.item-label {
	font-size: 1.8em;
    padding: 5px;
    word-break: break-all;
}

.vectr_img {
    position: relative;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFW…IGBgYGBj4W32lTc/f3aX8P9Z5uuCycHQMDAwMD/9oUYAA0jg2Cs4gGmQAAAABJRU5ErkJggg==);
}

#draggable-toolbox-modules {
	position: absolute;
	width: 150px;
	padding: 2px;
	margin: 0 10px 10px 0;
    right: 50px;
    top: 250px;
}
#draggable-toolbox-modules p { cursor: move; }

/*selectable inside modules toolbox*/
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#selectable li {
	margin: 3px;
    padding: 0.4em;
    font-size: 0.8em;
    min-height: 2em;
}

.tao-countdown-button__circle {
    height: 40px;
    width: 40px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.tao-countdown-button__circle__meter {
    stroke: #e0e0e0;
    fill: none;
}
.tao-countdown-button__circle__value[tao-countdown__status='green'] {
    stroke: #5aa700;
}
.tao-countdown-button__circle__value {
    fill: none;
    -webkit-animation: countdownMain 1s;
    animation: countdownMain 1s;
    transition: all 0.5s;
}

.wf-link-symbol{
    opacity: 0.8;
    cursor: pointer;
}


.wf-link-body{
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #346789;
    cursor: pointer;
}

.wf-link-body .wf-link-body_icon {
    display: block;
    position: absolute;
    top: -15px;
    left: -15px;
    border: 1px solid#588cae;
    color: #588cae;
    padding: 6px;
    border-radius: 50%;
    opacity: 1;
    background: white;
}

.wf-link-body .wf-link_title {
    margin: 0;
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
}
.wf-link-body .wf-link_content {
    margin: 0;
    font-size: .8em;
}

/*animation*/
.development_icon{
  margin:0;
  -webkit-animation: pop 0.4s ease-in;
}
.icon-cog{}
.icon-cog.spin{
    -webkit-animation:spin 4s linear infinite;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-delay:0.6s;
}

/*Animate cogs*/
#large-cog, #small-cog{
  -webkit-animation:spin 4s linear infinite;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-delay:0.6s;
}
#small-cog{
  -webkit-animation:spinback 2s linear infinite;
  -webkit-animation-delay:0.6s;
}
.spin-2s{
  -webkit-animation:spin 2s linear infinite;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-delay:0.6s;
}

@-webkit-keyframes pop{
  0%{-webkit-transform: scale(0);}
  90%{-webkit-transform: scale(1.1);}
  100%{-webkit-transform: scale(1);}
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spinback { 
  100% { -webkit-transform: rotate(-360deg); }
}