<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new processing component</h4>
    </div>

    <form id="frmExecNodeEdit" class="form-horizontal form-newpc" role="form">
        <input type="hidden" id="op" name="op" class="op" value="op-plus" />
        <input type="hidden" id="id_u" name="id_u" value="0" />
        <input type="hidden" name="clickedon" value="">

        <div class="modal-error collapse">
            <h4 class="modal-title">Error adding processing component!</h4>
            <p id="modal-error-msg">Please check you data, one or more values for the attributes is not in the acceptable range.</p>
            <p>
                <span class="error-inputCompID collapse"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i> Label cannot be empty.</span>
                <span class="error-label collapse"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i> Label cannot be empty.</span>
                <span class="error-version collapse"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i> Version cannot be empty.</span>
                <span class="error-template collapse"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i> Template cannot be empty.</span>
            </p>
        </div>

        <div class="modal-body">
            <section>
                <div class="row">
                    <div class="col-md-12">
                            <p>Please check all the tabs before saving a new component.</p>
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#comp-tab-gd">General desc.</a></li>
                                <li><a data-toggle="tab" href="#comp-tab-conf">Configuration</a></li>
                                <li><a data-toggle="tab" href="#comp-tab-param">Parameters</a></li>
                                <li><a data-toggle="tab" href="#comp-tab-sys">Sys. vars.</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="comp-tab-gd" class="tab-pane fade in active padding-top--20 padding-left--20 padding-bottom--20">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group has-feedback">
                                                <label for="inputCompID" class="col-sm-2 col-md-2 control-label">ID</label>
                                                <div class="col-sm-10 col-md-10">
                                                    <input type="text" class="form-control" id="inputCompID" name="inputCompID" placeholder="component ID" autocomplete="off" value=""/>
                                                    <span class="ckattr-ok glyphicon glyphicon-ok form-control-feedback collapse" aria-hidden="true"></span>
                                                    <span class="ckattr-ok sr-only collapse">(success)</span>
                                                    <span class="ckattr-error glyphicon glyphicon-remove form-control-feedback collapse" aria-hidden="true"></span>
                                                    <span class="ckattr-error sr-only collapse">(error)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="inputCompLabel" class="col-sm-2 col-md-2 control-label">Label</label>
                                                <div class="col-sm-10 col-md-10">
                                                    <input type="text" class="form-control" id="inputCompLabel" name="inputCompLabel" placeholder="component label" autocomplete="off" value="" data-errorspan="label"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="inputCompVersion" class="col-sm-2 col-md-2 control-label">Version</label>
                                                <div class="col-sm-10 col-md-10">
                                                    <input type="text" class="form-control" id="inputCompVersion" name="inputCompVersion" placeholder="component version" autocomplete="off" value="" data-errorspan="version"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="inputCompDescription" class="col-sm-2 col-md-2 control-label">Description </label>
                                                <div class="col-sm-10 col-md-10">
                                                    <textarea class="form-control" rows="3" id="inputCompDescription" name="inputCompDescription" placeholder="Description"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="inputCompAuthors" class="col-sm-2 col-md-2 control-label">Author </label>
                                                <div class="col-sm-10 col-md-10">
                                                    <input type="text" class="form-control" id="inputCompAuthors" name="inputCompAuthors" placeholder="authors" autocomplete="off" value="" data-errorspan="memorySize"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="inputCompCopyright" class="col-sm-2 col-md-2 control-label">Copyright </label>
                                                <div class="col-sm-10 col-md-10">
                                                    <input type="text" class="form-control" id="inputCompCopyright" name="inputCompCopyright" placeholder="copyright" autocomplete="off" value="" data-errorspan="memorySize"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="inputActive" class="col-sm-2 col-md-2 control-label">Status </label>
                                                <div class="col-sm-10 col-md-10">
                                                    <select disabled="disabled" id="inputActive" name="inputActive" class="form-control">
                                                        <option value="true" selected="">Active</option>
                                                        <option value="false">Inactive</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="inputVisibility" class="col-sm-2 col-md-2 control-label">Visibility </label>
                                                <div class="col-sm-10 col-md-10">
                                                    <select disabled="disabled" id="inputVisibility" name="inputVisibility" class="form-control">
                                                        <option value="SYSTEM">System build-in component</option>
                                                        <option value="USER">User defined component</option>
                                                        <option value="CONTRIBUTOR" selected="selected">Contributor defined component</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="inputTemplateType" class="col-sm-2 col-md-2 control-label">Template Type </label>
                                                <div class="col-sm-10 col-md-10">
                                                    <select id="inputTemplateType" name="inputTemplateType" class="form-control">
                                                        <option value="VELOCITY" selected="selected">Apache Velocity template</option>
                                                        <option value="JAVASCRIPT" >Javascript template</option>
                                                        <option value="XSLT">XSLT template</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="comp-tab-conf" class="tab-pane fade padding-top--20 padding-left--20 padding-bottom--20">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="inputContainerId" class="col-sm-2 col-md-2 control-label">Container Id </label>
                                                <div class="col-sm-10 col-md-10">
                                                    <select id="inputContainerId" name="inputContainerId" class="form-control">
                                                        <option value="DummyTestDockerContainer" selected="">Test Docker Container</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="inputFileLocation" class="col-sm-2 col-md-2 control-label">File location </label>
                                                <div class="col-sm-10 col-md-10">
                                                    <input type="text" class="form-control" id="inputFileLocation" name="inputFileLocation" placeholder="file location" autocomplete="off" value=".\mypath1"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="inputWorkingDirectory" class="col-sm-2 col-md-2 control-label">Working directory </label>
                                                <div class="col-sm-10 col-md-10">
                                                    <input type="text" class="form-control" id="inputWorkingDirectory" name="inputWorkingDirectory" placeholder="working directory" autocomplete="off" value=".\mypath1"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- velocity template form-->
                                    <div class="template-block-frm template-block-frm-velocity collapse">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="inputFileLocation" class="col-sm-2 col-md-2 control-label">Template name </label>
                                                    <div class="col-sm-10 col-md-10">
                                                        <input type="text" class="form-control" id="inputTemplateName" name="inputTemplateName" placeholder="template name" autocomplete="off" value="" data-errorspan="template"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="inputWorkingDirectory" class="col-sm-2 col-md-2 control-label">Template contents</label>
                                                    <div class="col-sm-10 col-md-10">
                                                        <textarea class="form-control" rows="6" id="inputTemplateContents" name="inputTemplateContents" placeholder="template contents" data-errorspan="template"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="comp-tab-param" class="tab-pane fade padding-top--20 padding-bottom--20">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>Parameter list:</p>
                                            <div class="responsive">
                                                <table class="table table-bordered box-shadow--6dp tbl-edt">
                                                    <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Parameter ID</th>
                                                        <th style="width: 50%;">Description</th>
                                                        <th>Parameter Label</th>
                                                        <th>Parameter Type</th>
                                                        <th>Data Type</th>
                                                        <th>Default value</th>
                                                    </tr>
                                                    </thead>
                                                    <tfoot>
                                                    <tr>
                                                        <td colspan="3">
                                                            <button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-comp-addnewparam" data-action="comp-add-new-var">
                                                                <i class="fa fa-plus fa-fw" aria-hidden="true"></i><span class="span-muted collapse">&nbsp;Add new variable</span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    </tfoot>


                                                    <tbody class="tpl-sample-body">
                                                    <tr class="tpl-sample-row">
                                                        <th scope="row">
                                                            <a href="#" class="text tbl-prop-expand-action"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a>
                                                            <i class="fa fa-plus fa-fw hidden" aria-hidden="true"></i>
                                                            <a href="#" class="text tbl-prop-delete-action"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i></a>
                                                        </th>
                                                        <td>
                                                            <input type="text" class="var-id" value="" placeholder="parameter ID">
                                                        </td>
                                                        <td><textarea rows="2" class="var-description"></textarea></td>
                                                        <td>
                                                            <input type="text" class="var-label" value="" placeholder="parameter label">
                                                        </td>
                                                        <td>
                                                            <select class="var-type">
                                                                <option value="1" selected="selected">Regular</option>
                                                                <option value="2">Other</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="var-datatype">
                                                                <option value="java.lang.String" selected="selected">String</option>
                                                                <option value="java.lang.Integer">Integer</option>
                                                                <option value="java.lang.Boolean">Boolean</option>
                                                                <option value="file">File</option>
                                                            </select>
                                                        </td>
                                                        <td><input type="text" class="var-default" value="" placeholder="default value"></td>
                                                    </tr>
                                                    <tr style="display: none;" class="val-row-plus">
                                                        <td colspan="7">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-2 col-md-2 control-label">Unit</label>
                                                                        <div class="col-sm-10 col-md-10">
                                                                            <input type="text" class="form-control var-unit" name="inputUnit" placeholder="unit" autocomplete="off" value=""/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-2 col-md-2 control-label">Value Set</label>
                                                                        <div class="col-sm-10 col-md-10">
                                                                            <input type="text" class="form-control var-valueset" name="inputValueSet" placeholder="value set" autocomplete="off" value=""/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-2 col-md-2 control-label">Format</label>
                                                                        <div class="col-sm-10 col-md-10">
                                                                            <input type="text" class="form-control var-format" name="inputFormat" placeholder="format" autocomplete="off" value=""/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label for="inputContainerId" class="col-sm-2 col-md-2 control-label">Not Null </label>
                                                                        <div class="col-sm-10 col-md-10">
                                                                            <div class="checkbox">
                                                                                <input type="checkbox" name="inputNotNull" class="big var-notnull">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label for="inputContainerId" class="col-sm-2 col-md-2 control-label">Validator </label>
                                                                        <div class="col-sm-10 col-md-10">
                                                                            <input type="text" class="form-control var-validator" name="inputValidator" placeholder="validator" autocomplete="off" value=""/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="comp-tab-sys" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>Variables:</p>
                                            <div class="responsive">
                                                <table class="table table-bordered box-shadow--6dp tbl-edt">
                                                    <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Key</th>
                                                        <th>Value</th>
                                                    </tr>
                                                    </thead>
                                                    <tfoot>
                                                    <tr>
                                                        <td colspan="3">
                                                            <button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-comp-addnewvar" data-action="comp-add-new-var">
                                                                <i class="fa fa-plus fa-fw" aria-hidden="true"></i><span class="span-muted collapse">&nbsp;Add new variable</span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    </tfoot>
                                                    <tbody>
                                                    <tr class="tpl-sample-row">
                                                        <th class="del-col" scope="row">
                                                            <a href="#" class="text tbl-sysvar-delete-action"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i></a>
                                                        </th>
                                                        <td><input type="text" class="var-key" value="" placeholder="input variable's name"></td>
                                                        <td><input type="text" class="var-value" value="" placeholder="input variable's value"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10">
                                <button id="saveExecNode" type="submit" class="btn btn-primary btn-submit" name="btnSave">Add new processing component</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div><!-- /.modal-body -->
    </form>
    <div class="modal-note">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10">
                        <h4>Help filling in</h4>
                        <p>Please fill in all needed information. Component ID must be unique. Component ID can contain letters (a-z), numbers (0-9) and periods (.).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div><!-- /.modal-content -->

<script>
    var action = 'op-plus';
    function validateHostName(attrId){
        var $eL = $("#"+attrId);
        var $pEL = $eL.parent();
        var val = $eL.val();
        //var rgx = /^[0-9A-Za-z.-_]*$/;
        //if (val.match(rgx) === null){
        var regexp = /^[a-zA-Z0-9-_.]+$/;
        if (val.search(regexp) === -1)
        {
            showMsg("The hostname contains invalid characters.", "ERROR");
            $(".ckattr-ok", $pEL).fadeOut();
            $(".ckattr-error", $pEL).fadeIn();
            return;
        }else{
            $(".ckattr-error", $pEL).fadeOut();
            $(".ckattr-ok", $pEL).fadeIn();
        }
        $.ajax({
            type: "get",
            url: baseRestApiURL + "topology/"+val+"/?rnd=" + Math.random(),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "Authorization": authHeader
            },
            error : function (jqXHR, textStatus, errorThrown) {
                if( jqXHR.status === 500 ){
                    $(".ckattr-error", $pEL).fadeOut();
                    $(".ckattr-ok", $pEL).fadeIn();
                } else {
                    alert('E001, An error has occurred, please try again or contact app admin.');
                }
            },
            success: function(response) {
                try {
                    showMsg("Hostname already in use. Please try a different name.", "ERROR");
                    $(".ckattr-ok", $pEL).fadeOut();
                    $(".ckattr-error", $pEL).fadeIn();
                }
                catch(e) {
                    $(".ckattr-ok", $pEL).fadeOut();
                    $(".ckattr-error", $pEL).fadeIn();
                }
            }
        });
        return true;
    }

    $(document).ready( function(){
        //get all availlable dockers
        var getAllDocker = $.ajax({ cache: false,
            //url: appConfig.baseURL+appConfig.restURL+"/docker/",
            url: baseRestApiURL + "docker/?rnd=" + Math.random(),
            dataType : 'json',
            type: 'GET',
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "Authorization": authHeader
            }
        });

        $.when(getAllDocker)
            .done(function (getAllDockerResponse) {
                var selectedid = 0;//$('#department').data("selectedid");
                $('#inputContainerId').empty();
                $.each(getAllDockerResponse, function(i, value) {
                    if(value.id === selectedid){
                        $('#inputContainerId').append($('<option>').text(value.name).attr('value', value.id).prop('selected', true));
                    } else{
                        $('#inputContainerId').append($('<option>').text(value.name).attr('value', value.id));
                    }
                });
            })
            .fail(function () {
                showMsg("Could not retrive dockers list.", "ERROR");
            });

        $("#inputTemplateType").on("change", function(){
            var lclVal = $(this).val();
            $(".template-block-frm").hide();
            $(".template-block-frm-"+lclVal.toLowerCase()).show();
            })
            .trigger("change");


        $(".btn-comp-addnewvar").on("click", function(){
            var $tbl = $(this).closest(".tbl-edt");
            var $el = $tbl.find(".tpl-sample-row").clone().addClass("val-row").removeClass("tpl-sample-row"); //attr('id', 'newbutton')
//            $el.find(".val")
            $tbl.append($el);
        });
        $(".btn-comp-addnewparam").on("click", function(){
            var $tbl = $(this).closest(".tbl-edt");
            var $elBody = $tbl.find(".tpl-sample-body").clone().removeClass("tpl-sample-body");
            $elBody.find(".tpl-sample-row").addClass("val-row").removeClass("tpl-sample-row");
            $tbl.append($elBody);
        });

        $(".tbl-edt").on("click", ".tbl-sysvar-delete-action", function(e){
            e.preventDefault();
            $(this).closest(".val-row").remove();
        });
        $(".tbl-edt").on("click", ".tbl-prop-expand-action", function(e){
            e.preventDefault();
            if($(this).hasClass("active")){
                $(".val-row-plus").css({"display": "none"});
                $(this).removeClass("active");
                return;
            }
            $(".val-row-plus").css({"display": "none"});
            $(".tbl-prop-expand-action").removeClass("active");
            $(this).addClass("active");
            $(this).closest("tr").next().css({"display": "table-row"});
        });
        $(".tbl-edt").on("click", ".tbl-prop-delete-action", function(e){
            e.preventDefault();
            $(this).closest("tbody").remove();
        });



        //remove error for some input elements
        $("input, textarea","form#frmExecNodeEdit")
            .on("keypress change", function(){
                if($(this).data("errorspan")) {
                    $(".error-" + $(this).data("errorspan"), ".modal-error").css('display', 'none');
                    if($(".modal-error").find("span:visible").length == 0) {
                        $(".modal-error").hide();
                        $("#saveExecNode").removeAttr('disabled');
                    }
                }
            })
            .on("focusout", function(){
                if($(this).data("errorspan")){
                    if (($(this).val() === "")||($(this).val() === 0)||($(this).val() === "0")){
                        $(".error-"+$(this).data("errorspan"),".modal-error").css('display', 'inline-block');
                        $(".modal-error").fadeIn("slow");
                        $("#saveExecNode").attr('disabled','disabled');
                    }
                }
            });

        $("#inputCompname").focusout(function(e) {
            if($(this).val() === "")
                return;
            if($(this).attr("id")) {
                validateHostName($(this).attr("id"));
            }
        });
        $("form#frmExecNodeEdit").submit(function (e) {
            e.preventDefault();
            var $tblCompSysVar = $("#comp-tab-sys table");
            var $tblParameterDescriptors = $("#comp-tab-param table");
            var formData = {
                    "id": $('input[name=inputCompID]', this).val(),
                    "label" : $('input[name=inputCompLabel]', this).val(),
                    "version" : $('input[name=inputCompVersion]', this).val(),
                    "description" : $('textarea[name=inputCompDescription]', this).val(),
                    "authors" : $('input[name=inputCompAuthors]', this).val(),
                    "copyright" : $('input[name=inputCompCopyright]', this).val(),
                    "nodeAffinity": "Any",
                    "sourceCardinality": 0,
                    "targetCardinality": 0,
                    "sources": [],
                    "targets": [],
                    "containerId": $('select[name=inputContainerId]', this).val(),
                    "fileLocation" : $('input[name=inputFileLocation]', this).val(),
                    "workingDirectory" : $('input[name=inputWorkingDirectory]', this).val(),
                    "templateType" : $('select[name=inputTemplateType]', this).val(),
                    "templateEngine": {
                        "type": "ro.cs.tao.component.template.engine.VelocityTemplateEngine",
                        "templateType": "VELOCITY"
                    },
                    "template": {
//                        "type": "ro.cs.tao.component.template.BasicTemplate",
//                        "name": "segmentation-cc-template.vm",
//                        "templateType": "VELOCITY",
//                        "contents": "-in $sourceProductFile -filter.cc.expr $expr_string -mode.vector.out $out_str -mode.vector.outmode $outmode_string -mode.vector.neighbor $neighbor_bool -mode.vector.stitch $stitch_bool -mode.vector.minsize $minsize_int -mode.vector.simplify $simplify_float -mode.vector.layername $layername_string -mode.vector.fieldname $fieldname_string -mode.vector.tilesize $tilesize_int -mode.vector.startlabel $startlabel_int"
                    },
                    "variables": [{
                        "key": "ITK_AUTOLOAD_PATH",
                        "value": "E:\\OTB\bin"
                    }],
                    "multiThread": false,
                    "visibility": $('select[name=inputVisibility]', this).val(),
                    "active": $('select[name=inputActive]', this).val(),
                    "parameterDescriptors": [
                        {
                        "id": "outmode_string",
                        "type": 1,
                        "dataType": "java.lang.String",
                        "defaultValue": "ulco",
                        "description": "This allows setting the writing behaviour for the output vector file. Please note that the actual behaviour depends on the file format.",
                        "label": "outmode_string",
                        "unit": null,
                        "valueSet": null,
                        "format": null,
                        "notNull": false,
                        "validator": null
                         }, {
                        "id": "neighbor_bool",
                        "type": 1,
                        "dataType": "java.lang.Boolean",
                        "defaultValue": "true",
                        "description": "Activate 8-Neighborhood connectivity (default is 4).",
                        "label": "neighbor_bool",
                        "unit": null,
                        "valueSet": null,
                        "format": null,
                        "notNull": false,
                        "validator": null
                        }
                    ]
                };
            //add template to payload for template type VELOCITY
            if(formData.templateType === "VELOCITY"){
                formData.template={
                    "type": "ro.cs.tao.component.template.BasicTemplate",
                    "name" : $('input[name=inputTemplateName]', this).val(),
                    "templateType": "VELOCITY",
                    "contents" : $('textarea[name=inputTemplateContents]', this).val()
                };
            }
            //add system variable to payload parsing user defined system vars table
            formData.variables = [];
            $(".val-row", $tblCompSysVar).each(function() {
                var k = $(this).find("input.var-key").val();
                var v = $(this).find("input.var-value").val();
                var newSysVar = {};
                if( ((typeof k != "undefined") && (typeof k.valueOf() == "string") && (k.length > 0)) && ((typeof v != "undefined") && (typeof v.valueOf() == "string"))) {
                    newSysVar.key = k;
                    newSysVar.value = v;
                    formData.variables.push(newSysVar);
                }else{
                    showMsg("Invalid system variables. Please choose valid names or values to continue.", "ERROR");
                    return false;
                }
            });
            //add parameterDescriptors to payload parsing user defined parameterDescriptors table
            formData.parameterDescriptors = [];
            $("tbody", $tblParameterDescriptors).each(function(){
                var id = $(this).find(".val-row input.var-id").val();
                var label = $(this).find(".val-row input.var-label").val();
                var description = $(this).find(".val-row .var-description").val();
                var type = $(this).find(".val-row .var-type").val();
                var datatype = $(this).find(".val-row .var-datatype").val();
                var defaultval = $(this).find(".val-row .var-default").val();

                var format = $(this).find(".val-row-plus input.var-format").val();
                var unit = $(this).find(".val-row-plus input.var-unit").val();
                var validator = $(this).find(".val-row-plus input.var-validator").val();
                var notnull = $(this).find(".val-row-plus .var-notnull").is(":checked");

                if( ((typeof id !== "undefined") && (typeof id.valueOf() === "string") && (id.length > 0)) ) {
                    if (format.trim()=== ''){format = null;}
                    if (unit.trim()=== ''){unit = null;}
                    if (validator.trim()=== ''){validator = null;}

                    var newParameterDescriptor = {
                        "id": id,
                        "type": type,
                        "dataType": datatype,
                        "defaultValue": defaultval,
                        "description": description,
                        "label": label,
                        "unit": unit,
                        "valueSet": null,
                        "format": format,
                        "notNull": notnull,
                        "validator": validator
                    };
                    formData.parameterDescriptors.push(newParameterDescriptor);
                }
            });
console.log(JSON.stringify(formData));
            if(formData.id === ''){
                showMsg("Component ID can not be empty. Please choose valid values to continue.", "ERROR");
                return false;
            }
            var regexp = /^[a-zA-Z0-9-_]+$/;
            if (formData.id.search(regexp) === -1)
            {
                showMsg("The component id contains invalid characters.", "ERROR");
                return;
            }
            $.ajax({
                url: baseRestApiURL + "component/?rnd=" + Math.random(),
                dataType: 'json',
                type: 'POST',
                data: JSON.stringify(formData),
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                    "Authorization": authHeader
                },
                error : function (jqXHR, textStatus, errorThrown) {
                    if(jqXHR.status === 500){
                        showMsg("Error adding execution node. Please check you data and try again.", "ERROR");
                        return;
                    }
                    if(jqXHR.status === 406){
                        showMsg("Error adding execution node. Please check you data, one or more values for the attributes was not in the acceptable range.", "ERROR");
                        //handle error messages
                        var objResponse = JSON.parse(jqXHR.responseText);
                        if(objResponse[0] !== "Entity has validation errors"){
                            return;
                        }
                        for(i=0;i<objResponse.length;i++) {
                            var matches = objResponse[i].match(/\[(.*?)\]/);
                            if (matches) {
                                //$(".error-"+matches[1],".modal-error").show();
                                $(".error-"+matches[1],".modal-error").css('display', 'inline-block');
                            }
                        }
                        $(".modal-error ").fadeIn("slow");
                        $('#myModalNodes').animate({scrollTop: 0}, 250);
                        return;
                    }
                    showMsg("Unknown error. Unable to update execution name. Please try again.", "ERROR");
                },
                success: function(data) {
                    showMsg("Execution node successfully saved.", "SUCCESS");
                    $("#myModalNodes").modal('hide');
                    _mLIST.refresh();
                }
            });
            return false;
        });
    });
    //# sourceURL=comp-plus.js
</script>