<style>
.modal-error{background-color:red}
.modal-error span{background:#a63f3f}
.floating-img{width:16.666667%;float:right}
.floating-img>img{width:100%;height:auto;max-height:120px;margin:0;cursor:pointer}
.tbl-edt{border-top:0;margin:0}
.tbl-edt thead tr:nth-child(1) th{position:sticky;background:#556270;color:white;top:0px;z-index:10;white-space:normal;word-break:break-all;vertical-align:middle;padding:3px 8px}
.tbl-edt tbody tr:nth-child(even){background-color:#f4f4f4}
.tbl-edt tbody tr td{padding:3px 8px}
form .tagsinput .tag{background-color:#f4f4f4;border:1px solid #dedede;color:#556270}
@media (max-width: 991px) {
	.floating-img{width:100%;margin-bottom:10px}
	.floating-img>img{width:100px;float:right}
}
@media (min-width: 992px) {
	 .col-name .col-md-2{width:20%}
	 .col-name .col-md-10{width:80%}
}
</style>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit toolbox container</h4>
    </div>
	
    <form id="frmEditContainer" class="form-horizontal" action="" role="form">
		<input type="hidden" name="system" value="true" />
		<input type="hidden" name="type" value="" />
        <div class="modal-error collapse">
            <h4 class="modal-title">Error updating toolbox container!</h4>
            <p id="modal-error-msg">Please check your data.</p>
            <p>
                <span class="error-container collapse"><i class="fa fa-exclamation-triangle fa-fw"></i>Error.</span>
            </p>
        </div>
        <div class="modal-body">
            <section>
				<div class="row">
					<div class="col-md-2 floating-img">
						<input type="file" id="containerLogo" class="form-control for-validation hidden" name="containerLogo" />
						<img id="previewLogo" src="" class="base64image" onerror="devalidateLogoFile(event)" />
					</div>
                    <div class="col-md-10 col-name">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 col-md-2 control-label">Name</label>
                            <div class="col-sm-10 col-md-10">
                                <input type="text" class="form-control" id="name" name="name" placeholder="name" value="" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 col-md-2 control-label">Description</label>
                            <div class="col-sm-10 col-md-10">
                                <textarea class="form-control" rows="3" id="description" name="description" placeholder="description" style="resize:none"></textarea>
                            </div>
                        </div>
					</div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="applicationPath" class="col-sm-2 col-md-2 control-label">Application path</label>
                            <div class="col-sm-10 col-md-10">
                                <input type="text" class="form-control" id="applicationPath" name="applicationPath" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label">Applications</label>
                            <div class="col-sm-10 col-md-10" style="overflow:auto;max-height:350px">
							<!--	<table class="table table-bordered tbl-edt" id="tbl-applications">
									<thead style="position:sticky">
										<tr><th>Name</th><th>Path</th><th>Memory<br/>Requirements</th><th>Parralel Flag<br/>Template</th></tr>
									</thead>
									<tbody>
										<tr><td></td><td></td><td></td><td></td></tr>
									</tbody>
								</table> -->

								<table class="table table-bordered box-shadow--6dp tbl-edt" id="tbl-applications">
									<thead>
										<tr>
											<th></th>
											<th>Name</th>
											<th>Path</th>
											<th>Memory<br/>Requirements</th>
											<th>Parralel Flag<br/>Template</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<td colspan="5">
												<button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-cont-addnewapp" data-action="cont-add-new-app">
													<i class="fa fa-plus fa-fw" aria-hidden="true"></i><span class="span-muted collapse">&nbsp;Add new application</span>
												</button>
											</td>
										</tr>
									</tfoot>
									<tbody class="tpl-sample-body">
										<tr class="tpl-sample-row">
											<th class="del-col" scope="row">
												<a href="#" class="text tbl-app-delete-action"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i></a>
											</th>
											<td><input type="text" class="app-name" value="" placeholder="name"></td>
											<td><input type="text" class="app-path" value="" placeholder="path"></td>
											<td><input type="text" class="app-memoryRequirements" value="" placeholder="memory requirements"></td>
											<td><input type="text" class="app-parallelFlagTemplate" value="" placeholder="parallel flag template"></td>
										</tr>
										</tbody>
								</table>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="formats" class="col-sm-2 col-md-2 control-label">Formats</label>
                            <div class="col-sm-10 col-md-10">
                                <input id="formats" name="formats" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="formatNameParameter" class="col-sm-2 col-md-2 control-label">Format name parameter</label>
                            <div class="col-sm-10 col-md-10">
                                <input type="text" class="form-control" id="formatNameParameter" name="formatNameParameter" placeholder="format name parameter" value="" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="commonParameters" class="col-sm-2 col-md-2 control-label">Common parameters</label>
                            <div class="col-sm-10 col-md-10">
                                <input type="text" class="form-control" id="commonParameters" name="commonParameters" placeholder="common parameters" value="" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tag" class="col-sm-2 col-md-2 control-label">Tag</label>
                            <div class="col-sm-10 col-md-10">
                                <input type="text" class="form-control" id="tag" name="tag" placeholder="tag" value="" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10">
                                <button id="saveContainer" type="submit" class="btn btn-primary btn-submit" name="btnSave">Update container</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div><!-- /.modal-body -->
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div><!-- /.modal-content -->
<link rel="stylesheet" href="./assets/libs/jQuery-tags-input-autocomplete/jquery.tagsinput-revisited.css" type="text/css" />
<script src="./assets/libs/jQuery-tags-input-autocomplete/jquery.tagsinput-revisited.js" type="text/javascript"></script>

<script>
	function resizeBase64Img(base64, width, height) {
		var canvas = document.createElement("canvas");
		canvas.width = width;
		canvas.height = height;
		var context = canvas.getContext("2d");
		var deferred = $.Deferred();
		$("<img/>").attr("src", base64).load(function() {
			context.scale(width/this.width,  height/this.height);
			context.drawImage(this, 0, 0); 
			deferred.resolve($("<img/>").attr("src", canvas.toDataURL()));               
		});
		return deferred.promise();    
	}
	// Signal error when logo image file is broken
	var devalidateLogoFile = function(event) {
		if (event.type == "error") {
			var $previewLogo = $("#previewLogo");
			$previewLogo.attr("src", "");
			$previewLogo.addClass("empty")
		}
	}
	// Validate Logo file
	var validateLogoFile = function(element, validTypes) {
		var $previewLogo = $("#previewLogo");
		
		var reader = new FileReader();
		reader.onload = function() {
			$.when(resizeBase64Img(reader.result, 128, 128)).done(function (response) {
				$previewLogo.attr("src", response.get(0).src);
				$previewLogo.removeClass("empty");
			});
		}
		
		if (element.files.length > 0) {
			var file = element.files[0];
			if ($.inArray(file["type"], validTypes) >= 0) {
				reader.readAsDataURL(file);
				return true;
			} else {
				$previewLogo.attr("src", "");
				$previewLogo.addClass("empty")
				return false;
			}
		} else {
			$previewLogo.attr("src", "");
			$previewLogo.addClass("empty")
			return true;
		}
		return false;
	};

	function helper_addApplicationRow($tbl, payload){
        var obj = {"name":"","path":"","memoryRequirements":"","parallelFlagTemplate":""};
        $.extend( obj, payload );
		
		var $el = $tbl.find(".tpl-sample-body").clone().removeClass("tpl-sample-body");
		$el.find(".tpl-sample-row").addClass("val-row").removeClass("tpl-sample-row");
		
        $('input.app-name', $el).val(obj.name);
		$('input.app-path', $el).val(obj.path);
		$('input.app-memoryRequirements', $el).val(obj.memoryRequirements);
		$('input.app-parallelFlagTemplate', $el).val(obj.parallelFlagTemplate);
        $tbl.append($el);
	}

	
	//////////////////////////////////////////////////////////////////////////////////////
    $(document).ready( function() {
		var $form = $("form#frmEditContainer");
		var obj = window.userOpStack.dna;
		
		// initializeFormats
		$("#formats", $form).tagsInput({
			minChars    : 0,
			maxChars    : null,
			limit       : null,
			interactive : true,
			autocomplete: null,
			unique      : true,
			placeholder : 'Add a format',
			delimiter   : ','
		});
		
		if (typeof obj !== "undefined") {
			$("input[name=name]", $form).val(obj.name);
			$("textarea[name=description]", $form).val(obj.description);
			if (obj.logo == null) {
				$("img#previewLogo", $form).addClass("empty");
			} else {
				$("img#previewLogo", $form).removeClass("empty");
				$("img#previewLogo", $form).attr("src", "data:image/png;base64, " + obj.logo);
			}
			
		/*	$("#tbl-applications tbody", $form).html("");
			$.each(obj.applications, function (index, app) {
				var tr = '<tr>' +
							'<td>' + app.name + '</td>' +
							'<td>' + app.applicationPath + '</td>' +
							'<td>' + app.memoryRequirements + '</td>' +
							'<td>' + app.parallelFlagTemplate + '</td>' +
						'</tr>';
				$("#tbl-applications tbody", $form).append(tr);
				//$("select#applications", $form).append("<option>" + app.name + "</option>")
			});*/
			
			$.each(obj.applications, function(i, value) {
				helper_addApplicationRow($("#tbl-applications"), value);
				});

			$.each(obj.format, function (index, format) {
				$("#formats", $form).addTag(format);
			});
			
			$("input[name=applicationPath]", $form).val(obj.applicationPath);
			$("input[name=formatNameParameter]", $form).val(obj.formatNameParameter);
			$("input[name=commonParameters]", $form).val(obj.commonParameters);
			$("input[name=tag]", $form).val(obj.tag);
			$("input[name=type]", $form).val(obj.type);
		}

		
		$(".btn-cont-addnewapp").on("click", function(){
            var $tbl = $(this).closest(".tbl-edt");
            helper_addApplicationRow($tbl);
        });

		$(".tbl-edt")
            .on("click", ".tbl-app-delete-action", function(e){
                e.preventDefault();
                $(this).closest(".val-row").remove();
			});
			
		$("form#frmEditContainer")
		.on("click", "#previewLogo", function (e) {
			$("#containerLogo", $form).trigger("click");
		}).on("change", "#containerLogo", function (e) {
			validateLogoFile(this, [ "image/gif", "image/jpeg", "image/png" ]);
		});
		
		// Custom validation for container name
		$.validator.addMethod('containerName', function (value, element, params) {
			var pattern = new RegExp(params.regEx, "g");
			var match = value.match(pattern);
			return value.length == 0 || match;
		}, 'Remove invalid characters (only allowed small caps letters, numbers and dashes).');

		$.validator.addMethod( "isUnique", function(value,element,params){
			var isUni = true;
			if($.inArray(value, nameListTC && value !== obj.name) >= 0 ){
				isUni = false;
			}
			return isUni;
		}, "Container's name must be unique.");

		// Validate form before submit
		$("form#frmEditContainer").validate({
			rules: {
				name: {
					required: true,
					containerName: { regEx: "^[a-z0-9-]+$" },
					isUnique: true
				},
				description: {
					required: true
				},
			},
			highlight: function(element, errorClass) {
				$(element).parent().addClass("has-error");
			},
			unhighlight: function(element, errorClass) {
				$(element).parent().removeClass("has-error");
			},
			messages: {
			},
			errorPlacement: function(error, element) {
				error.appendTo(element.parent());
			},
			success: function(label) {
				label.remove();
			}
		});
		
        // Submit form
		$("form#frmEditContainer").submit(function (event) {
			event.preventDefault();
			var logoSrc = $("#previewLogo").hasClass("empty") ? userOpStack.dna.logo : $("#previewLogo").get(0).src;
			if (typeof logoSrc === "undefined") {
				logoSrc = "";
            }
			if (logoSrc.indexOf(";base64,") >= 0) {
				logoSrc = logoSrc.substring(logoSrc.indexOf(";base64,") + 8);
			}
			var formData = {
				id                 : userOpStack.dna.id,
				name               : $("input[name=name]", this).val(),
				description        : $("textarea[name=description]", this).val(),
				applicationPath    : $("input[name=applicationPath]", this).val(),
			    applications       : [],
				format             : $('input[name=formats]', this).val().split(','),
				formatNameParameter: $("input[name=formatNameParameter]", this).val(),
				commonParameters   : $("input[name=commonParameters]", this).val(),
				tag                : $("input[name=tag]", this).val(),
				logo               : logoSrc,
				type			   : $("input[name=type]", this).val()
			};

			formData.applications = [];
			var haserror=0;
			var applNamesArr=[]; 

            var $tblContApp = $("#tbl-applications");
            $(".val-row", $tblContApp).each(function() {
				
				var name = $(this).find("input.app-name").val();
				var path = $(this).find("input.app-path").val();
				var memoryRequirements = $(this).find("input.app-memoryRequirements").val();
				var parallelFlagTemplate = $(this).find("input.app-parallelFlagTemplate").val();

				var newApp = {};
			
               if( (typeof name !== "undefined") && (typeof name.valueOf() === "string") && (name.length > 0) && (typeof path !== "undefined") && (typeof path.valueOf() === "string") && (path.length > 0) ) {
                    newApp.name = name;
					newApp.path = path;
					newApp.memoryRequirements = memoryRequirements;
					newApp.parallelFlagTemplate = parallelFlagTemplate;

					formData.applications.push(newApp);
					
					applNamesArr.push(name);
                }else{
					haserror = 1;
                }
			});

			var applDuplicates=0;
			if(applNamesArr.length !== new Set(applNamesArr).size) {
					applDuplicates = 1;
					}

			if (haserror==1)
					{
					showMsg("Invalid application. Please choose valid names and paths to continue.", "ERROR");
					}
			else if (applDuplicates==1)
					{
					showMsg("Invalid application. Please choose unique names to continue.", "ERROR");
					}
			else{

				if ($(this).valid()) {
					$(".modal-error ").fadeOut();
					
					$.ajax({
						cache: false,
						url: baseRestApiURL + "docker/" + formData.id,
						dataType: 'json',
						type: "PUT",
						data: JSON.stringify(formData),
						headers: {
							"Accept": "application/json",
							"Content-Type": "application/json",
							"X-Auth-Token": window.tokenKey
						},
						error : function (jqXHR, textStatus, errorThrown) {
							if (jqXHR.status === 500) {
								showMsg("Error updating container. Please check your data and try again.", "ERROR");
								return;
							}
							showMsg("Unknown error. Unable to update container. Please try again.", "ERROR");
						},
						success: function(response,textStatus, jqXHR) {
							var r = chkTSRF(response);
							if (response.status === "FAILED") {
								if (response.message) {
									showMsg("Error updating container. Please check your data, one or more values for the attributes were not correct.", "ERROR");
									//handle error messages
									
									var objResponse = JSON.parse(jqXHR.responseText);
									objResponse = objResponse.message.split(';');
									if (objResponse[0] !== "Entity has validation errors") {
										return;
									}
									for (i = 0; i < objResponse.length; i ++) {
										var matches = objResponse[i].match(/\[(.*?)\]/);
										if (matches) {
											//$(".error-"+matches[1],".modal-error").show();
											$(".error-"+matches[1],".modal-error").css('display', 'inline-block');
										}
									}
									$(".modal-error ").fadeIn("slow");
									$('#myModalNodes').animate({scrollTop: 0}, 250);
									return;
								}
								showMsg("Error updating container. Please check your data and try again.", "ERROR");
							}
							showMsg("Container successfully saved.", "SUCCESS");
							$("#myModalNodes").modal('hide');
							panelComp.refreshData();
						}
					});
				}
			}
            return false; // To avoid actual submission of the form
        });
    });
	//# sourceURL=containers-edit.js
</script>