    <!-- Content Header (Page header) -->
    <section class="content-header tao-async-ph">
        <!--
        <div class="row">
            <div class="col-md-12">
        -->
        <h1>Dashboard <small>Overview of TAO activity.</small></h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
        <!-- 	</div>
        </div>
        -->
    </section>
    <!-- /Content Header (Page header) -->
    <!-- Main content -->
    <section class="content tao-async-mc">
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-7">


                <!-- TO DO List -->
                <div id="notification-history-panel" class="box box-primary">
                    <div class="box-header" style="cursor: move;">
                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title">Notifications History</h3>
                        <div class="box-tools pull-right">
                            <ul class="pagination pagination-sm inline">
                                <li class="disabled"><span>current page: <strong class="val-current-page">1</strong></span></li>
                                <li class="prev"><a href="#prev" data-action="go-prev" title="See newer notifications">«</a></li>
                                <li class="next"><a href="#next" data-action="go-next" title="See older notifications">»</a></li>
                                <li class="refresh"><a href="#refresh" data-action="go-refresh" title="Refresh list"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <ul id="notifications-panel-list" class="todo-list panel-list">
                            <li>
                                <span class=""><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>
                                <span class="text">Sample notification line.</span>
                                <small class="label label-danger"><i class="fa fa-clock-o"></i> 2017.05.02</small>
                                <div class="tools">
                                    cucuc<i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                        </ul>


                        <div class="panel-list-empty callout callout-empty collapse">
                            <p>Notifications history is empty.</p>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix no-border">
                        <div class="box-tools pull-right">
                            <ul class="pagination pagination-sm inline">
                                <li class="disabled"><span>current page: <strong class="val-current-page">1</strong></span></li>
                                <li class="prev"><a href="#prev" data-action="go-prev" title="See newer notifications">«</a></li>
                                <li class="next"><a href="#next" data-action="go-next" title="See older notifications">»</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-notification"><p><span>List updated</span></p></div>
                </div>
                <!-- /.box -->
                <!-- TO DO List -->
                <div id="exec-history-panel" class="box box-primary">
                    <div class="box-header" style="cursor: move;">
                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title">Executions History</h3>
                        <div class="box-tools pull-right">
                            <ul class="pagination pagination-sm inline">
                                <li class="disabled"><span>current page: <strong class="val-current-page">1</strong></span></li>
                                <li class="prev"><a href="#prev" data-action="go-prev" title="See newer notifications">«</a></li>
                                <li class="next"><a href="#next" data-action="go-next" title="See older notifications">»</a></li>
                                <li class="refresh"><a href="#refresh" data-action="go-refresh" title="Refresh list"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="panel-list">
                        </div>
                        <div class="panel-list-empty callout callout-empty collapse">
                            <p>Results history is empty. It looks you did not run any workflows yet.</p>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix no-border">
                        <div class="box-tools pull-right">
                            <ul class="pagination pagination-sm inline">
                                <li class="disabled"><span>current page: <strong class="val-current-page">1</strong></span></li>
                                <li class="prev"><a href="#prev" data-action="go-prev" title="See newer notifications">«</a></li>
                                <li class="next"><a href="#next" data-action="go-next" title="See older notifications">»</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-notification"><p><span>List updated</span></p></div>
                </div>
                <!-- /.box -->
				
                <div id="download-statistics-panel" class="box box-primary statistics">
                    <div class="box-header" style="cursor: move;">
                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title">Download statistics</h3>
                        <div class="box-tools pull-right">
                            <ul class="pagination pagination-sm inline">
                                <li class="refresh"><a href="#refresh" class="refresh" data-action="go-refresh" title="Refresh list"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
					<div class="box-body">
						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" data-toggle="tooltip" title="" data-placement="bottom" onmouseover="$(this).tooltip({content:'In progress',show:true});"></div>
							<div class="progress-bar progress-bar-warning" role="progressbar" data-toggle="tooltip" title="" data-placement="bottom" onmouseover="$(this).tooltip();"></div>
							<div class="progress-bar progress-bar-info"    role="progressbar" data-toggle="tooltip" title="" data-placement="bottom" onmouseover="$(this).tooltip();"></div>
							<div class="progress-bar progress-bar-danger"  role="progressbar" data-toggle="tooltip" title="" data-original-title="Failed downloads" data-placement="bottom" onmouseover="$(this).tooltip();"></div>
						</div>
						<div><label>Number of products to download: <span id="estimated_downloads"></span> </label></div>
					</div>
				</div>
				<style>
					.progress{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
					.progress,.progress>.progress-bar{clear:both;height:auto;margin-bottom:5px;text-align:left;text-shadow:1px 1px 1px black;text-indent:5px;line-height:2em;white-space:nowrap}
				</style>
            </section>
            <!-- /.Left col -->
            <section class="col-lg-5">

                <!-- Monitor master -->
                <div id="widget-master-nodemonitor" class="box box-solid bg-navy">
                    <iframe id="iframe-nodemonitor" src="./nodemonitor.html?node=master" style="width: 100%; height: 400px; border: 0px;"></iframe>
                </div>
                <!-- /.box -->
                <!-- Load -->
                <div class="box box-solid bg-green-gradient collapse">
                    <div class="box-header" style="cursor: move;">
                        <i class="fa fa-calendar"></i>
                        <h3 class="box-title">Load</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-black">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- Progress bars -->
                                <div class="clearfix">
                                    <span class="pull-left">Node #1</span>
                                    <small class="pull-right">90%</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                </div>

                                <div class="clearfix">
                                    <span class="pull-left">Node #2</span>
                                    <small class="pull-right">70%</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-green" style="width: 70%;"></div>
                                </div>

                                <div class="clearfix">
                                    <span class="pull-left">Node #3</span>
                                    <small class="pull-right">0%</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-green" style="width: 0;"></div>
                                </div>

                                <div class="clearfix">
                                    <span class="pull-left">Node #4</span>
                                    <small class="pull-right">30%</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-green" style="width: 30%;"></div>
                                </div>

                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <!-- /.box -->

                <!-- TO DO List -->
                <div id="exec-list-panel" class="box box-warning">
                    <div class="box-header" style="cursor: move;">
                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title">Running Jobs</h3>
                        <div class="box-tools pull-right">
                            <ul class="pagination pagination-sm inline">
                                <li class="disabled"><span>current page: <strong class="val-current-page">1</strong></span></li>
                                <li class="prev"><a href="#prev" data-action="go-prev" title="See newer notifications">«</a></li>
                                <li class="next"><a href="#next" data-action="go-next" title="See older notifications">»</a></li>
                                <li class="refresh"><a href="#refresh" data-action="go-refresh" title="Refresh list"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="panel-list">
                        </div>
                        <div class="panel-list-empty callout callout-empty collapse">
                            <p>Results history is empty. It looks you did not run any workflows yet.</p>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix no-border">
                        <div class="box-tools pull-right">
                            <ul class="pagination pagination-sm inline">
                                <li class="disabled"><span>current page: <strong class="val-current-page">1</strong></span></li>
                                <li class="prev"><a href="#prev" data-action="go-prev" title="See newer notifications">«</a></li>
                                <li class="next"><a href="#next" data-action="go-next" title="See older notifications">»</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-notification"><p><span>List updated</span></p></div>
                </div>
                <!-- /.box -->
            </section>
            <!-- right col -->
        </div>
    </section><!-- /.content -->
<script>
	function updateDownloadStatistics(once) {
		$.ajax({
            cache    : false,
			url      : baseRestApiURL + "progress/",
            dataType : 'json',
            type     : 'GET',
            headers  : {
                "Accept"      : "application/json",
                "Content-Type": "application/json",
                "X-Auth-Token": window.tokenKey
            }
		}).done(function (result) {
			var res = chkTSRF(result);
			
			var totPrc = 0
			var cnt = 0;
			$(".statistics .progress").html("");
			var $bar = "";
			if (res.length > 0) {
				res.sort(function (a, b){
					if (a.name.toLowerCase() > b.name.toLowerCase()) { return 1; }
					if (a.name.toLowerCase() < b.name.toLowerCase()) { return -1; }
					return 0;
				});
				
				$.each(res, function (index, resource) {
					$bar = $('<div class="progress-bar progress-bar-success" role="progressbar" data-toggle="tooltip" title="" data-placement="bottom" onmouseover="$(this).tooltip({content:\'In progress\',show:true});">' + resource.name + '</div>');
					$bar.attr("title", parseInt(resource.progress*10000)/100 + "%");
					$bar.css({ width: parseInt(resource.progress*10000)/100 + "%" });
					$(".statistics .progress").append($bar);
					
					totPrc += resource.progress;
					cnt ++;
				});
				$bar = $('<div class="progress-bar progress-bar-info" data-toggle="tooltip" title="" data-placement="bottom" onmouseover="$(this).tooltip({content:\'In progress\',show:true});">Overall progress</div>');
				$bar.attr("title", parseInt(totPrc*10000/cnt)/100 + "%");
				$bar.css({ width: parseInt(totPrc*10000/cnt)/100 + "%" });
			} else {
				$bar = $('<div class="progress-bar progress-bar-info" data-toggle="tooltip" title="" data-placement="bottom" onmouseover="$(this).tooltip({content:\'In progress\',show:true});">No downloads in progress</div>');
				$bar.attr("title", "");
				$bar.css({ width: "100%" });
			}
			$(".statistics .progress").prepend($bar);
			$(".statistics #estimated_downloads").html(cnt);
		}).fail(function (jqXHR, textStatus) {
		}).complete(function () {
			if (!once) {
				setTimeout(function () { updateDownloadStatistics(); }, 20000);
			}
        });
	}
    $( document ).ready(function() {
		updateDownloadStatistics();
        $("#exec-list-panel").npExecPanels({
            msgEnd: "No more job to show.",
            msgEmpty: "Job pool is empty. No workflow is currently running.",
            theme: '',
            url: baseRestApiURL + "orchestrator/running/jobs/"
        });
        $("#exec-history-panel").npExecPanels({
            msgEnd: "You reached the end of execution list. Nothing more to show.",
            msgEmpty: "Results history is empty. It looks you did not run any workflows yet.",
            theme: '',
            url: baseRestApiURL + "orchestrator/history/"
        });
        $("#notification-history-panel").npNotificationsPanels({
            msgEnd: "You reached the end of notification list. Nothing more to show.",
            msgEmpty: "Notification history is empty. You do not have any notifications yet.",
            theme: '',
            headerUser: taoUserProfile.username,
            url: baseRestApiURL + "monitor/notification/"
        });
		$("#download-statistics-panel").on("click", "a.refresh", function (e) {
			e.preventDefault();
			updateDownloadStatistics(true);
		});
    });
	
//# sourceURL=dashboard-admin.js
</script>
