    <!-- Content Header (Page header) -->
    <section class="content-header tao-async-ph">
        <!--
        <div class="row">
            <div class="col-md-12">
        -->
        <h1>Dashboard <small>Overview of TAO activity.</small></h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
        <!-- 	</div>
        </div>
        -->
    </section>
    <!-- /Content Header (Page header) -->

    <!-- Main content -->
    <section class="content tao-async-mc">


        <div class="row">
            <!-- Left col -->
            <section class="col-lg-7">

                <!-- TO DO List -->
                <div class="box box-primary">
                    <div class="box-header" style="cursor: move;">
                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title">Activity & History</h3>
                        <div class="box-tools pull-right">
                            <ul class="pagination pagination-sm inline">
                                <li><a href="#">«</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <ul class="todo-list">
                            <li>
                                <span class=""><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>
                                <span class="text">New registered user</span>
                                <small class="label label-danger"><i class="fa fa-clock-o"></i> 2017.05.02</small>
                                <div class="tools">
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li>
                                <span class=""><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>
                                <span class="text">Workflow execution started by user Dorin Shultz.</span>
                                <small class="label label-info"><i class="fa fa-clock-o"></i> 2017.05.02 14:20:55</small>
                                <div class="tools">
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li>
                                <span class=""><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>
                                <span class="text">Workflow execution started by user Dorin Shultz.</span>
                                <small class="label label-info"><i class="fa fa-clock-o"></i> 2017.05.02 14:20:55</small>
                                <div class="tools">
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li>
                                <span class=""><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>
                                <span class="text">Workflow execution started by user Dorin Shultz.</span>
                                <small class="label label-info"><i class="fa fa-clock-o"></i> 2017.05.02 14:20:55</small>
                                <div class="tools">
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li>
                                <span class=""><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>
                                <span class="text">Workflow execution started by user Dorin Shultz.</span>
                                <small class="label label-info"><i class="fa fa-clock-o"></i> 2017.05.02 14:20:55</small>
                                <div class="tools">
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li>
                                <span class=""><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>
                                <span class="text">Workflow execution started by user Dorin Shultz.</span>
                                <small class="label label-info"><i class="fa fa-clock-o"></i> 2017.05.02 14:20:55</small>
                                <div class="tools">
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li>
                                <span class=""><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>
                                <span class="text">Workflow execution started by user Dorin Shultz.</span>
                                <small class="label label-info"><i class="fa fa-clock-o"></i> 2017.05.02 14:20:55</small>
                                <div class="tools">
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li>
                                <span class=""><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>
                                <span class="text">New registered user</span>
                                <small class="label label-danger"><i class="fa fa-clock-o"></i> 2017.05.02</small>
                                <div class="tools">
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li>
                                <span class=""><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>
                                <span class="text">New registered user</span>
                                <small class="label label-danger"><i class="fa fa-clock-o"></i> 2017.05.02</small>
                                <div class="tools">
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix no-border">
                        <div class="box-tools pull-right">
                            <ul class="pagination pagination-sm inline">
                                <li><a href="#">«</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </section>
            <!-- /.Left col -->
            <section class="col-lg-5">

                <!-- Monitor master -->
                <div id="widget-master-monitor" class="box box-solid bg-navy">
                    <div class="box-header" style="cursor: move;">
                        <i class="fa fa-calendar"></i>
                        <h3 class="box-title">Master node monitor</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                            <dl class="dl-horizontal">
                                <dt>Runtime (start time):</dt>
                                <dd><span class="val-mm-starttime" style="text-transform: lowercase;">n/a</span></dd>
                                <dt>Uptime:</dt>
                                <dd><span class="val-mm-uptime" style="text-transform: lowercase;">n/a</span></dd>
                                <dt>Available processors:</dt>
                                <dd><span class="val-mm-processors">n/a</span></dd>
                                <dt>Thread count</dt>
                                <dd><span class="val-mm-threadcount">n/a</span>, peak thread count: <span class="val-mm-peakthreadcount">n/a</span></dd>
                                <dt>Memory:</dt>
                                <dd><span class="val-mm-memory" style="text-transform: lowercase;">n/a</span></dd>
                            </dl>
                    </div>
                    <div>
                        <canvas id="myChart" width="400" height="200"></canvas>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <!-- Load -->
                <div class="box box-solid bg-green-gradient">
                    <div class="box-header" style="cursor: move;">
                        <i class="fa fa-calendar"></i>
                        <h3 class="box-title">Load</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-black">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- Progress bars -->
                                <div class="clearfix">
                                    <span class="pull-left">Node #1</span>
                                    <small class="pull-right">90%</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                </div>

                                <div class="clearfix">
                                    <span class="pull-left">Node #2</span>
                                    <small class="pull-right">70%</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-green" style="width: 70%;"></div>
                                </div>

                                <div class="clearfix">
                                    <span class="pull-left">Node #3</span>
                                    <small class="pull-right">0%</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-green" style="width: 0;"></div>
                                </div>

                                <div class="clearfix">
                                    <span class="pull-left">Node #4</span>
                                    <small class="pull-right">30%</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-green" style="width: 30%;"></div>
                                </div>

                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <!-- /.box -->

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Running Workflows</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <tbody><tr>
                                <th style="width: 10px">#</th>
                                <th>Task</th>
                                <th>Progress</th>
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td>Workflow name, by User Name</td>
                                <td>
                                    <div class="progress progress-xs progress-striped active">
                                        <div class="progress-bar progress-bar-success" style="width: 30%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Workflow name, by User Name</td>
                                <td>
                                    <div class="progress progress-xs progress-striped active">
                                        <div class="progress-bar progress-bar-success" style="width: 40%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Workflow name, by User Name</td>
                                <td>
                                    <div class="progress progress-xs progress-striped active">
                                        <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>Workflow name, by User Name</td>
                                <td>
                                    <div class="progress progress-xs progress-striped active">
                                        <div class="progress-bar progress-bar-success" style="width: 10%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>Workflow name, by User Name</td>
                                <td>
                                    <div class="progress progress-xs progress-striped active">
                                        <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>Workflow name, by User Name</td>
                                <td>
                                    <div class="progress progress-xs progress-striped active">
                                        <div class="progress-bar progress-bar-success" style="width: 30%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>7.</td>
                                <td>Workflow name, by User Name</td>
                                <td>
                                    <div class="progress progress-xs progress-striped active">
                                        <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                                    </div>
                                </td>
                            </tr>


                            </tbody></table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </section>
            <!-- right col -->
        </div>
    </section><!-- /.content -->
<script>
    var _loadChart = {
        myNewChart:null,
        data:{
            labels : ["-","-","-","-","-","-","-","-","-","-","-","-","-","-","-","-","-","-","-","-"],
            datasets : [
                {
                    fillColor : "rgba(220,220,220,0.5)",
                    strokeColor : "rgba(220,220,220,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    data : [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
                },
                {
                    fillColor : "rgba(255,187,205,0.5)",
                    strokeColor : "rgba(255,187,205,1)",
                    pointColor : "rgba(151,187,205,1)",
                    pointStrokeColor : "#fff",
                    data : [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
                },
                {
                    fillColor : "rgba(151,187,205,0.5)",
                    strokeColor : "rgba(151,187,205,1)",
                    pointColor : "rgba(151,187,205,1)",
                    pointStrokeColor : "#fff",
                    data : [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
                }
            ]
        },
        optionsNoAnimation :{
            animation : false,
            scaleOverride : true,
            scaleSteps : 100,
            scaleStepWidth : 20,
            scaleStartValue : 0
        },
        initChart: function(){
            this.optionsNoAnimation = {animation : false};
            this.myNewChart = new Chart(document.getElementById("myChart").getContext("2d"));
            this.myNewChart.Line(_loadChart.data, _loadChart.optionsNoAnimation);
        },
        updateData: function(v1,v2,v3,l0){
            if(this.myNewChart === null || typeof this.myNewChart !== 'object'){
                this.initChart();
            }
            var l = this.data["labels"];
            var ds0 = this.data["datasets"][0]["data"];
            var ds1 = this.data["datasets"][1]["data"];
            var ds2 = this.data["datasets"][2]["data"];
            l.push(l0);
            l.shift();
            ds0.push(v1);
            ds1.push(v2);
            ds2.push(v3);
            ds0.shift();
            ds1.shift();
            ds2.shift();
            this.myNewChart.Line(_loadChart.data, _loadChart.optionsNoAnimation);
        }
    };

    function updateMasterMonitorWidget(){
        $.ajax({ cache: false,
            url: baseRestApiURL + "monitor/master/?rnd=" + Math.random(),
            dataType : 'json',
            type: 'GET',
            beforeSend : function(xhr) {
                xhr.setRequestHeader("Accept", "application/json");
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.setRequestHeader("Authorization", "Bearer " + window.tokenKey);
            }
        }).done(function (getMasterMonitorResponse) {
            //console.log(getMasterMonitorResponse);
            $(".val-mm-processors").text(parseInt(getMasterMonitorResponse.runtime.availableProcessors));
            $(".val-mm-peakthreadcount").text(parseInt(getMasterMonitorResponse.runtime.peakThreadCount));
            $(".val-mm-threadcount").text(parseInt(getMasterMonitorResponse.runtime.threadCount));
            var upTimeS = parseInt(getMasterMonitorResponse.runtime.upTime);
            var duration = moment.duration(522121, 'seconds');
            $(".val-mm-uptime").text(upTimeS+" "+getMasterMonitorResponse.runtime.timeUnit+" (about "+(duration.humanize())+")");
            $(".val-mm-starttime").text(getMasterMonitorResponse.runtime.startTime.year+"-"+getMasterMonitorResponse.runtime.startTime.monthValue+"-"+getMasterMonitorResponse.runtime.startTime.dayOfMonth+" "+getMasterMonitorResponse.runtime.startTime.hour+":"+getMasterMonitorResponse.runtime.startTime.minute+":"+getMasterMonitorResponse.runtime.startTime.second);
            $(".val-mm-memory").text(getMasterMonitorResponse.memory.heapUsed+"/"+getMasterMonitorResponse.memory.heapMax+" (heap used/heap max, "+getMasterMonitorResponse.memory.memoryUnit+")");
            _loadChart.updateData(
                (100 - Math.floor(Math.random() * (100))),
                (100 - Math.floor(Math.random() * (100))),
                (100 - Math.floor(Math.random() * (100))),
                (upTimeS+'s')
            );
        }).fail(function (jqXHR, textStatus) {
            //alert("Retriving master monitor data failed.");
        }).complete(function(){
            if($("#widget-master-monitor").length){
                setTimeout(function(){
                    updateMasterMonitorWidget();
                },3000);
            }
        });
    }
    $( document ).ready(function() {
        $( window )
            .resize(function() {
                if($("#widget-master-monitor").length) {
                    var w = parseInt($("#widget-master-monitor").width());
                    $("#myChart").attr("width", w);
                    _loadChart.initChart();
                }
            })
            .trigger( "resize" );
        updateMasterMonitorWidget();
        //bind resize event
    });
</script>