<style>
#myModalEditTags .form-group{margin-right:0;}
#myModalEditTags .form-group>*{padding-left:0px;}

/* Table style */
.tbl-edt thead tr:nth-child(1) th{position:sticky;background:#556270;color:white;top:0px;z-index:10;white-space:normal;word-break:break-all;vertical-align:middle;padding:3px 8px;}
</style>
<!-- modal nodes op -->
<div id="myModalNodes" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- modal nodes op -->

<!-- modal tags edit -->
<div id="myModalEditTags" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-edit-tags">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit</h4>
            </div>
            <form id="frmEditDatasourceTags" class="form-horizontal" role="form">
                <div class="modal-body">
                    <section>
						<div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="fetch_mode" class="col-sm-2 col-md-2 control-label">Fetch mode </label>
                                    <div class="col-sm-10 col-md-10">
                                       <select class="form-control" id="fetch_mode" name="fetch_mode" aria-invalid="false">
											<option value="OVERWRITE">Overwrite</option>
											<option value="RESUME">Resume</option>
											<option value="COPY">Copy</option>
											<option value="SYMLINK">Symbolic link</option>
											<option value="CHECK">Direct link to product</option>
										</select>
                                    </div>
                                </div>
                            </div>
                        </div>
						<div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="local_root" class="col-sm-2 col-md-2 control-label">Local root </label>
                                    <div class="col-sm-10 col-md-10">
                                        <input type="text" id="local_root" name="local_root" class="form-control" placeholder="Datasource products not available locally" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="formTags" class="col-sm-2 col-md-2 control-label">Tags </label>
                                    <div class="col-sm-10 col-md-10">
                                        <input id="formTags" name="formTags" class="form-control" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="tbl-parameters" class="col-sm-2 col-md-2 control-label">Parameters </label>
									<div class="col-sm-10 col-md-10">
										<table class="table table-bordered box-shadow--6dp tbl-edt" id="tbl-parameters">
											<thead>
												<tr>
													<th class="col-sm-1 col-md-1"></th>
													<th>Key</th>
													<th>Value</th>
												</tr>
											</thead>
											<tfoot>
												<tr>
													<td colspan="3">
														<button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-addnewparam" data-action="add-new-var">
															<i class="fa fa-plus fa-fw" aria-hidden="true"></i><span class="span-muted collapse">&nbsp;Add new parameter</span>
														</button>
													</td>
												</tr>
											</tfoot>
											<tbody class="tpl-sample-body">
												<tr class="tpl-sample-row">
													<th scope="row">
														<i class="fa fa-plus fa-fw hidden" aria-hidden="true"></i>
														<a href="#" class="text tbl-param-delete-action"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i></a>
													</th>
													<td>
														<input type="text" class="var-key" value="" placeholder="parameter name">
													</td>
													<td>
														<input type="text" class="var-value" value="" placeholder="parameter value">
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11">
                                        <div class="modal-footer">
                                            <button id="saveDatasourcesTags" type="submit" class="btn btn-primary btn-action left-btn" name="btnSave">Save</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div>
</div>
<!-- modal tags edit -->



<!-- Content Header (Page header) -->
<section class="content-header tao-async-ph">
    <h1>Data Sources <small>The list of components that can query and retrieve <strong>products</strong> from <strong>remote repositories</strong>.</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Datasources</li>
    </ol>
</section>
<!-- /Content Header (Page header) -->

<!-- Main content -->
<section class="content tao-async-mc">
    <div id="panel-topo-wrapper" class="row collapseX">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs visible-xs-block"> <!-- visible-xs-block -->
                    <li class="role-dropdown active">
                        <select id="selectUserPanel" name="selectUserPanel" class="form-control form-changepane" title="Select desired node view.">
                            <option class="role role-admin" value="all_nodes">All data sources </option>
                        </select>
                    </li>
                </ul>
                <ul class="nav nav-tabs hidden-xs">
                    <li class="role role-admin active"><a href="#panel-nodes" data-toggle="tab" data-action="all_nodes" aria-expanded="true">All datasources</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="panel-nodes">
                        <div class="row">
                            <div class="col-md-12" id="list-master-controls">
                                <div class="box-tools pull-left">
                                    <button class="btn btn-master-tool text-black" data-action="op-filter" data-toggle="tooltip" data-original-title="Filter by tags"><i class="fa fa-filter"></i><span class="label label-warning val-count-filters" style="display:none;">0</span></button>
                                </div>
                                <div class="box-tools pull-left">
                                    <form class="search-container collapse" action="">
                                        <input id="search-box" type="text" class="search-box" name="q" placeholder="Search by label" />
                                        <label for="search-box"><i class="fa fa-search search-icon" aria-hidden="true"></i></label>
                                        <input type="submit" id="search-submit" />
                                    </form>
                                </div>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-master-tool text-black" data-action="refresh-list" data-toggle="tooltip" data-original-title="Refresh"><i class="fa fa-refresh fa-spin-hover"></i></button>
                                    <button class="btn btn-master-tool text-black" data-action="view-list" data-toggle="tooltip" data-original-title="List view"><i class="fa fa-list"></i></button>
                                    <button class="btn btn-master-tool text-black" data-action="view-table" data-toggle="tooltip" data-original-title="Grid view"><i class="fa fa-table"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 like collapse">
                                <span data-tag="tag">Label like: <strong class="val-q"></strong>&nbsp;<i class="fa fa-times fa-fw clear-search" aria-hidden="true"></i></span>
                            </div>
                            <div class="col-md-12 tags collapse">
                                <span class="collapse" data-tag="tag">tag<i class="fa fa-check fa-fw" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="row" id="list-work-users">
                            <div class="col-sm-12">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <i class="fa fa-database"></i>
                                        <h3 class="box-title">Data sources -  <span class="val-itemfrom">0</span> to <span class="val-itemto">0</span> of <span class="val-itemscount">0</span></h3>
                                        <div class="box-tools pull-right nppaginatedcells-order collapse" data-toggle="tooltip" title="Change order"></div>
                                    </div>
                                    <div class="nppaginatedcells-empty callout callout-empty">
                                        <p>List is empty. <span class="results-empty">You do not have any data sources.</span><span class="filter-results-empty collapse">Your current selection returned no results.</span></p>
                                    </div>
                                    <div class="box-body chat users-box">
                                        <div class="nppaginatedcells-panel-body">
                                        </div>
                                        <div class="cell-templates collapse">
                                            <core-cell-list>
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="nodes-item-core-box">
                                                        <div class="box-top-tags">
                                                        </div>
                                                        <div class="box-top">
                                                            <div class="box-title"><span class="val-sensorName"></span></div>
                                                            <div class="box-subtitle" style="font-size: 18px;"><span class="val-dataSourceName"></span></div>
                                                            <div class="box-text">
																Version: <strong><span class="val-version"></span></strong> | 
																Authors: <strong><span class="val-authors"></span></strong> | 
                                                                Copyright: <strong><span class="val-copyright"></span></strong> 
                                                            </div>
                                                            <div class="box-icon">
                                                                <i class="fa fa-database"></i>
                                                            </div>
                                                        </div>
                                                     
                                                        <div class="row">
                                                            <div class="col-sm-12 col-xs-12">
                                                                <div class="text-right" style="padding-top: 5px;">
                                                                    <button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-nodeop" data-action="edit"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i><span class="span-muted">&nbsp;Edit</span></button>
                                                                    <button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-nodeop" data-action="view"><i class="fa fa-eye fa-fw" aria-hidden="true"></i><span class="span-muted">&nbsp;View parameters</span></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </core-cell-list>
                                            <core-cell-grid>
                                                <div class="col-md-3 col-sm-6">
                                                    <div class="nodes-item-core-box">
                                                        <div class="box-top-tags">
                                                        </div>
                                                        <div class="box-top">
                                                            <div class="box-title"><span class="val-sensorName"></span></div>
                                                            <div class="box-subtitle" style="font-size: 18px;"><span class="val-dataSourceName"></span></div>
                                                            <div class="box-text">Version:<strong> <span class="val-version"></span></strong></div>
                                                            <div class="box-text">Authors: <strong><span class="val-authors"></span></strong></div>
                                                            <div class="box-text">Copyright: <strong><span class="val-copyright"></span></strong></div>
                                                            <div class="box-icon">
                                                                <i class="fa fa-database"></i>
                                                            </div>
                                                        </div>
                                            
                                                        <div class="box-bottom with-line">
                                                            <div class="">
                                                                <button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-nodeop" data-action="edit"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i><span class="span-muted collapse">&nbsp;Edit</span></button>
                                                                <button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-nodeop" data-action="view"><i class="fa fa-eye fa-fw" aria-hidden="true"></i><span class="span-muted collapse">&nbsp;View parameters</span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </core-cell-grid>
                                        </div>
                                    </div>
                                    <div class="box-footer clearfix no-border">
                                        <div class="box-tools pull-right">
                                            <ul class="nppaginatedcells-panel-pagination pagination pagination-sm inline">
                                                <li><a href="#" data-page="prev">«</a></li>
                                                <li class="active"><a href="#" data-page="0">1</a></li>
                                                <li><a href="#" data-page="1">2</a></li>
                                                <li><a href="#" data-page="2">3</a></li>
                                                <li><a href="#" data-page="next">»</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="box-notification"><p><span>List updated</span></p></div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.tab-pane -->

                    <div class="tab-pane" id="panel-nodesX">
                    </div><!-- /.tab-pane -->

                </div><!-- /.tab-content -->
            </div><!-- nav-tabs-custom -->
        </div>
    </div>
</section><!-- /.content -->
<link rel="stylesheet" href="./assets/libs/jQuery-tags-input-autocomplete/jquery.tagsinput-revisited.css" type="text/css" />
<script src="./assets/libs/jQuery-tags-input-autocomplete/jquery.tagsinput-revisited.js" type="text/javascript"></script>
<!-- 1.12.1/jquery-ui.min.js for autocomplete -->
<link rel="stylesheet" href="./assets/libs/jQuery-datepicker/jquery-ui.css" type="text/css" />
<script src="./assets/libs/jQuery-datepicker/jquery-ui.js" type="text/javascript"></script>

<script>
    function buildModalParamsList(dna, parameters){
        var html = "<div class=\"modal-content\">\n" +
            "    <div class=\"modal-header\">\n" +
            "        <button type=\"button\" class=\"close\" data-dismiss=\"modal\"><span aria-hidden=\"true\">&times;</span><span class=\"sr-only\">Close</span></button>\n" +
            "        <h4 class=\"modal-title\" id=\"myModalLabel\">Datasource parameters</h4>\n" +
            "    </div>\n" +
            "        <div class=\"modal-body\">\n" +
            "            <section>\n" +
            "            <div class=\"row\">\n" +
            "                        <div class=\"col-md-12\">\n" +
            "                            <!-- small box -->\n" +
            "                            <div class=\"small-box bg-yellow\">\n" +
            "                                <div class=\"inner\">\n" +
            "                                    <h3>"+dna['sensorName']+"</h3>\n" +
            "                                    <p style=\"line-height: 1em;\">\n" +
            dna['dataSourceName']+
            "                                    </p>\n" +
            "                                </div>\n" +
            "                                <div class=\"icon\"><i class=\"fa fa-database\"></i></div>\n" +
            "                            </div>\n" +
            "                        </div>\n" +
            "             </div>"+
            "                <div class=\"row\">\n" +
            "                    <div class=\"col-md-12\">\n";

        html +="<p>These parameters can be set when searching for EO products.</p><div class=\"responsive\">\n" +
            "    <table class=\"table table-bordered box-shadow--6dp\">\n" +
            "      <thead>\n" +
            "        <tr>\n" +
            "          <th></th>\n" +
            "          <th>Name</th>\n" +
            "          <th>Type</th>\n" +
            "          <th>Default value</th>\n" +
            "        </tr>\n" +
            "      </thead>\n" +
            "      <tbody>\n";

        for (var i = 0, j = parameters.length; i < j; i++) {
            var lType = parameters[i]['type'].split(".");
            var lDefault = '-';
            if((typeof parameters[i]['defaultValue'] !== 'undefined')  && parameters[i]['defaultValue']!== null){
                lDefault = parameters[i]['defaultValue'];
            }
            html += "        <tr>\n" +
                "          <th scope=\"row\">"+(parameters[i]['required']?"*":"")+"</th>\n" +
                "          <td>"+parameters[i]['name']+"</td>\n" +
                "          <td>"+lType[lType.length-1]+"</td>\n" +
                "          <td>"+lDefault+"</td>\n" +
                "        </tr>\n";
        }
        html += "      </tbody>\n" +
            "    </table>\n" +
            "  </div>";
        html +=
            "    <div class=\"modal-footer\">\n" +
            "        <button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">Close</button>\n" +
            "    </div>\n" +
            "</div><!-- /.modal-content -->";

        return html;
    }

    var myModalViewDatasource = function(action, args){
        var getDatasourceParameters = $.ajax({
                cache: false,
                url: baseRestApiURL + "query/sensor/"+args.dna.sensorName+"/"+args.dna.dataSourceName,
                dataType : 'json',
                type: 'GET',
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                    "X-Auth-Token": window.tokenKey
                }
            });
        $.when(getDatasourceParameters)
            .done(function (getDatasourceParametersResponse) {
                var parameters = chkTSRF(getDatasourceParametersResponse);
                var $modal = $("#myModalNodes");
                var rmContent = buildModalParamsList(args.dna, parameters.parameter);
                $modal.find('.modal-dialog').html(rmContent);
                $modal.modal('show');
            })
            .fail(function () {
                alert("Could not retrive parameters for selected datasource.", "ERROR");
            });
    };

	function helper_addParameterRow($tbl, payload){
		var obj = {"key":"","value":""};
		$.extend( obj, payload );
		
		var $el = $tbl.find(".tpl-sample-body").clone().removeClass("tpl-sample-body");
		$el.find(".tpl-sample-row").addClass("val-row").removeClass("tpl-sample-row");

		$('input.var-key', $el).val(obj.key);
		$('input.var-value', $el).val(obj.value);
		$tbl.append($el);
	}
	
    var showModalTagsEdit = function(action, args){
		$("#tbl-parameters").find("tbody:not(.tpl-sample-body)").remove();
		$.ajax({
			url: baseRestApiURL + "datasource/config?dataSourceId=" + args.dna.id,
			async: false,
			headers : {
				"X-Auth-Token": window.tokenKey
			},
			success: function(result) {
				if (result.status === "SUCCEEDED") {
					var oDna = $.extend(true, args.dna, result.data);
					
					window.editAction = typeof result.data !== "undefined";
					window.userOpStack = [{
						"dna": oDna,
						"action": "comp_edit"
					}];
					if(oDna.hasOwnProperty('tags') && oDna['tags']!= null){
						$('#formTags').importTags( args.dna['tags'].join());
					} else {
						$('#formTags').importTags("");
					}
					if(oDna.hasOwnProperty('fetchMode') && oDna['fetchMode']!= null){
						$("#fetch_mode").find("option[value='" + oDna.fetchMode + "']").prop("selected",true);
					}
					if(oDna.hasOwnProperty('localRepositoryPath') && oDna['localRepositoryPath']!= null){
						$("#local_root").val(oDna.localRepositoryPath);
					} else {
						$("#local_root").val("");
					}
					if(oDna.hasOwnProperty('parameters') && oDna['parameters'] != null) {
						$.each(oDna['parameters'], function (key, value) {
							helper_addParameterRow($("#tbl-parameters"),{"key":key,"value":value});
						});
					}
                    $("#myModalEditTags .modal-title").html("Edit "+ oDna.id);
                    $("#myModalEditTags .modal-body").css("padding", "15px 5px 15px 30px");
					$("#myModalEditTags").modal('show');
				}
			},
			error: function (jqXHR, textStatus, errorThrown) {
				alert("Could not open the add/edit page. An error occurred while retrieving data from server.");
			}
		});
        
    };


    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    $( document ).ready(function() {
        var urls = [
                baseRestApiURL + "datasource/"
            ];

        window.panelComp = $('#panel-nodes').npPaginatedCells({
            headerUser: taoUserProfile.username,
            url: urls,
            viewMode: preferences.viewMode,
            filterAttribute: "label",
            order:[
                {
                    "label":"Name ascending",
                    "objAttributeName":"label",
                    "direction":"ASC"
                },
                {
                    "label":"Name descending",
                    "objAttributeName":"label",
                    "direction":"DSC"
                }
            ],
            doAction: function(action, args){
                if(action === "edit") showModalTagsEdit(action, args);
                if(action === "view") myModalViewDatasource(action, args);
            }
        });
		
        $("#frmEditDatasourceTags").on("submit", function(e){
            e.preventDefault(e);
            var id =  window.userOpStack[0]['dna']['sensorName'] + '-' + window.userOpStack[0]['dna']['dataSourceName'];
            var tags = $('input[name=formTags]', this).val();
            tags = tags.split(",");

			var $tblParameters = $("#tbl-parameters");
			var haserror = 0;
			var paramDuplicates = 0;
			var parameters = {};
			var paramKeysArr=[]; 
			
            $(".val-row", $tblParameters).each(function() {
				var key = $(this).find("input.var-key").val();
				var val = $(this).find("input.var-value").val();
               if((typeof key !== "undefined") && (typeof key.valueOf() === "string") && (key.length > 0) && (typeof val !== "undefined") && (typeof val.valueOf() === "string") && (val.length > 0) ) {
					parameters[key] = val;
					
					paramKeysArr.push(key);
                } else {
					haserror = 1;
                }
			});
			if(paramKeysArr.length !== new Set(paramKeysArr).size) {
				paramDuplicates = 1;
			}
			if(haserror==1) {
				showMsg("Invalid parameter. Please add key and value to continue.", "ERROR");
			}
			else if(paramDuplicates==1) {
				showMsg("Invalid parameter. Please choose unique keys to continue.", "ERROR");
			}
			else {
				$(".modal-error ").fadeOut();
				var updateTags = $.ajax({
					cache: false,
					type: "PUT",
					url: baseRestApiURL + "datasource/"+id+"/tag",
					data: JSON.stringify(tags),
					contentType: "application/json; charset=utf-8",
					headers: {
						"Accept": "application/json",
						"Content-Type": "application/json",
						"X-Auth-Token": window.tokenKey
					}
				});
				if ($.isEmptyObject(parameters)) parameters = null;
				var payload = {"id":id,"fetchMode":$("#fetch_mode").val(),"localRepositoryPath":$("#local_root").val(),"parameters":parameters};
				var requestType = window.editAction ? "PUT" : "POST";
				var updateConfig = $.ajax({
					cache: false,
					type: requestType,
					url: baseRestApiURL + "datasource/config",
					data: JSON.stringify(payload),
					contentType: "application/json; charset=utf-8",
					headers: {
						"Accept": "application/json",
						"Content-Type": "application/json",
						"X-Auth-Token": window.tokenKey
					}
				});
				$.when(updateTags, updateConfig).done(function (r1, r2) {
					// var responseTags = chkTSRF(r1[0]);
					// var responseConfig = chkTSRF(r2[0]);
					
					if(r1[0].status === "SUCCEEDED" && r2[0].status === "SUCCEEDED") {
						showMsg("Datasources successfully saved.", "SUCCESS");
					} else {
						showMsg("Datasources was not saved.", "FAILED");
					}

					$("#myModalEditTags").modal('hide');
					panelComp.refreshData();
				}).fail(function () {
					showMsg("Unknown error. Unable to update datasource. Please try again.", "ERROR");
				});
			}
			return false;
        });

        initializeTagsInputAutocomplete("#formTags", "datasource");
		
		$(".tbl-edt")
		.on("click", ".tbl-param-delete-action", function(e){
			e.preventDefault();
			$(this).closest(".val-row").remove();
		});
			
		$(".btn-addnewparam").on("click", function(){
			var $tbl = $(this).closest(".tbl-edt");
			helper_addParameterRow($tbl);
		});
    });
    //# sourceURL=datasource-admin2.js
</script>
