<!-- modal nodes op -->
<div id="myModalModules" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- modal nodes op -->
<!-- Content Header (Page header) -->
<section class="content-header tao-async-ph">
    <!--
    <div class="row">
        <div class="col-md-12">
    -->
    <h1>Datasources <small>Full list of <strong>datasources</strong>.</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Datasources</li>
    </ol>
    <!-- 	</div>
    </div>
    -->
</section>
<!-- /Content Header (Page header) -->

<!-- Main content -->
<section class="content tao-async-mc">
    <div id="panel-modules-wrapper" class="row collapseX">

        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs visible-xs-block"> <!-- visible-xs-block -->
                    <li class="role-dropdown active">
                        <select id="selectUserPanel" name="selectUserPanel" class="form-control form-changepane">
                            <option class="role role-admin" value="all_modules">All datasources</option>
                            <option class="role role-admin" value="disabled_modules">Disabled datasources</option>
                        </select>
                    </li>
                    <li class="pull-right">
                        <a href="#" class="btn text-muted btn-action" data-action="refresh" data-toggle="tooltip" title="" data-original-title="Refresh"><i class="fa fa-refresh"></i></a>
                    </li>
                </ul>
                <ul class="nav nav-tabs hidden-xs">
                    <li class="role role-admin active"><a href="#panel-modules" data-toggle="tab" data-action="all_modules" aria-expanded="true">All datasources</a></li>
                    <li class="role role-admin"><a href="#panel-modulesX" data-toggle="tab" data-action="disabled_modules" aria-expanded="false">Disabled datasources</a></li>
                    <li class="pull-right">
                        <a href="#" class="btn text-muted btn-action" data-action="refresh" data-toggle="tooltip" title="" data-original-title="Refresh"><i class="fa fa-refresh"></i></a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="panel-modules">
                        <div class="row">
                            <div class="col-md-12 div-loading collapse">
                                <div class="box box-default box-solid">
                                    <div class="box-header">
                                        <h3 class="box-title">Loading ...</h3>
                                    </div>
                                    <div class="box-body">
                                        Datasources list will load soon ...
                                    </div><!-- /.box-body -->
                                    <!-- Loading (remove the following to stop the loading)-->
                                    <div class="overlay">
                                        <i class="fa fa-refresh fa-spin"></i>
                                    </div>
                                    <!-- end loading -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="list-master-controls">
                                <div class="box-tools pull-left">
                                    <button class="btn btn-master-tool text-black" data-action="op-plus" data-toggle="tooltip" data-original-title="Add a new datasource"><i class="fa fa-plus"></i></button>
                                </div>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-master-tool text-black" data-action="view-list" data-toggle="tooltip" data-original-title="View as boxes"><i class="fa fa-list"></i></button>
                                    <button class="btn btn-master-tool text-black" data-action="view-table" data-toggle="tooltip" data-original-title="View as list"><i class="fa fa-table"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="list-work-users">
                            <div class="col-sm-12">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <i class="fa fa-database"></i>
                                        <h3 class="box-title">Datasources - <span class="val-modulesonscreen">0</span> from <span class="val-modulescount">0</span></h3>
                                        <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
                                            <p>Order by:</p>
                                        </div>
                                    </div>
                                    <div class="box-body chat users-box" id="nodes-box">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!-- /.tab-pane -->

                    <div class="tab-pane" id="panel-modulesX">
                        <div class="row">
                            <div class="col-md-12 div-loading collapse" style="display: none;">
                                <div class="box box-default box-solid">
                                    <div class="box-header">
                                        <h3 class="box-title">Loading ...</h3>
                                    </div>
                                    <div class="box-body">
                                        Loading list. Please wait.
                                    </div><!-- /.box-body -->
                                    <!-- Loading (remove the following to stop the loading)-->
                                    <div class="overlay">
                                        <i class="fa fa-refresh fa-spin"></i>
                                    </div>
                                    <!-- end loading -->
                                </div>
                            </div>
                        </div>
                        <!-- accordion -->
                        <div class="row" id="list-courier-nodes">
                            <div class="col-md-12">
                                <div class="box box-solid">
                                    <div class="box-body">
                                        <div class="box-group" id="accordion-nodes">
                                            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                                        </div>
                                    </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </div><!-- /.col -->
                        </div>
                        <!-- /.accordion -->
                        <div class="row hidden">
                            <core-node-box id="node-master-template" class="collapse">
                                <div class="col-md-3 col-sm-6">
                                    <div class="nodes-item-core-box">
                                        <div class="box-top">
                                            <div class="box-title"><span class="val-mnm"> Datasource X </span></div>
                                            <div class="box-subtitle">source type: <span class="val-dtype">  AWS  </span></div>
                                            <div class="box-icon">
                                                <i class="fa fa-database"></i>
                                            </div>
                                        </div>
                                        <div class="box-description">
                                            <p><span class="val-desc"> Provided by CER ... </span></p>
                                        </div>
                                        <div class="box-bottom with-line">
                                            <div class="">
                                                <button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-nodeop" data-action="view"><i class="fa fa-eye fa-fw" aria-hidden="true"></i><span class="span-muted">&nbsp;View</span></button>
                                                <button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-nodeop" data-action="edit"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i><span class="span-muted">&nbsp;Edit</span></button>
                                                <button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-nodeop collapse only-v-1" data-action="disable"><i class="fa fa-pause fa-fw" aria-hidden="true"></i><span class="span-muted">&nbsp;Disable</span></button>
                                                <button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-nodeop collapse only-v-0" data-action="enable"><i class="fa fa-play fa-fw" aria-hidden="true"></i><span class="span-muted">&nbsp;Enable</span></button>
                                                <button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-nodeop" data-action="delete"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i><span class="span-muted">&nbsp;Delete</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </core-node-box>
                        </div>
                    </div><!-- /.tab-pane -->

                </div><!-- /.tab-content -->
            </div><!-- nav-tabs-custom -->
        </div>
    </div>
</section><!-- /.content -->
<script>
    var _panelDATASOURCES = _panelDATASOURCES ||
        {
            data: "",
            dataOpQueue: [],
            dataHighlightedId: 0,
            dataFilter : {
                type: ""
            },
            dataHash: "",
            dataStatistics : "",
            getData: function (){ // populate/refresh docs array
                var	lcl_postdata = {
                    "from": 0,
                    "to": 0,
                    "order": "none"
                };
                $.ajax({
                    type: "post",
                    url: baseRestURL+"datasources/list?rnd=" + Math.random(),
                    dataType: "json",
                    data: JSON.stringify(lcl_postdata),
                    contentType: "application/json; charset=utf-8",
                    error: function() {
                        alert("Communication error. Try again or notify the site admin! Thank you.");
                    },
                    success: function(response) {
                        //try {
                        showMsg(response.msgdetails.global, response.msgcode);
                        if(response.code === '200-OK'){
                            _panelDATASOURCES.data = response.payload;
                            _panelDATASOURCES.dataHash = response.msgdetails.hash;
//							_panelDATASOURCES.hideLoading();
                            $(".val-modulescount").html(response.msgdetails.count);
                            //_paneDOCS.dataStatistics = response.stats;
                            _panelDATASOURCES.repaintList();
                            //_paneDOCS.highlightDoc();
                        }
                        //}
                        //catch(e) {
//						alert("Malformed server answer. Try again or notify the site admin! Thank you.");
//					}
                    }
                });
            },
            repaintList: function() {
                _panelDATASOURCES.clearList();
                $.each(_panelDATASOURCES.data, function( index, value ) {
                    _panelDATASOURCES.drawModule(value);
                });
                $(".val-modulesonscreen").html(_panelDATASOURCES.data.length);
            },
            clearList: function() {
                $( "#nodes-box" ).empty();
            },
            drawModule: function(elX) {
                if (true){
                    $( "#node-master-template" ).clone()
                        .prop("id", "node-"+elX.did )
                        .appendTo( "#nodes-box" );
                    var $thisEL = $( "#node-"+elX.did );
                    $thisEL.data("dna", elX);
                    $(".val-mnm", $thisEL).html(elX.dnm);
                    $(".val-ml", $thisEL).html(elX.ml);
                    $(".val-v", $thisEL).html(elX.mv);
                    $(".val-desc", $thisEL).html(elX.ddesc);
                    $(".only-v-"+elX.stat, $thisEL).show();
                    $(".box-bottom", $thisEL).find(".span-muted").addClass("collapse");
                    $(".only-v-"+elX.s, $thisEL).show();
                    if(elX.s === 0){
                        $thisEL.addClass("disabled");
                    }
                    $thisEL.fadeIn('slow');
                }
                return true;
            }
        };



    myModalModulesOpShow = function(operationid){
        $(".modal-dialog","#myModalModules").removeClass("modal-lg");
        var rm_contentUrl = '/_tao/rm_content/rm_blank.php';

        if(operationid === "view"){
            $(".modal-dialog","#myModalModules").addClass("modal-lg");
            rm_contentUrl='/_tao/rm_content/tao_module_view.php?operationid=' + operationid;
        }
        if(operationid === "op-plus"){
            rm_contentUrl='/_tao/rm_content/tao_node_plus.php?operationid=' + operationid;
        }
        if(operationid === "edit"){
            rm_contentUrl='/_tao/rm_content/tao_node_plus.php?operationid=' + operationid + '&iduser=' + _panelUSERS.dataUsersOpQueue[0]["iduser"];
        }
        if(operationid === "delete"){
            //rm_contentUrl='/_tao/rm_content/tao_dialog_node.php?action=DELETE&mode=single&groupsize=0&operationid=' + operationid; //+ '&traseuid=' + _paneDOCS.dataOperations.single.traseuid;
        }
        if(operationid === "enable"){
            rm_contentUrl='/_tao/rm_content/tao_dialog_node.php?action=ENABLE&mode=single&groupsize=0&operationid=' + operationid; //+ '&traseuid=' + _paneDOCS.dataOperations.single.traseuid;
        }
        if(operationid === "disable"){
            rm_contentUrl='/_tao/rm_content/tao_dialog_node.php?action=DISABLE&mode=single&groupsize=0&operationid=' + operationid; //+ '&traseuid=' + _paneDOCS.dataOperations.single.traseuid;
        }

        var rmContent = '';
        $.ajax({
            url: rm_contentUrl,
            success: function(result) {
                rmContent = result;
            },
            async:   false
        });
        if(rmContent !== ''){
            $("#myModalModules").find('.modal-dialog').html(rmContent);
        }else{
            alert("Must be a crazy error! Could not retrive needed data from server.");
            return e.preventDefault();
        }
        $("#myModalModules").modal('show');
    };


    //bind some actions to active elements
    $('#nodes-box').on('click', '.btn-action', function (e) {
        var action = $(this).data("action");
        var nodeDNA = $(this).closest("core-node-box").data("dna");
        console.log(nodeDNA);
        _panelDATASOURCES.dataOpQueue = [{
            "id":nodeDNA.mid,
            "action":action
        }];
        myModalModulesOpShow(action);
    });
    $('#panel-modules-wrapper').on("click", '.btn-action[data-action="refresh"]', function(event){
        event.preventDefault();
        //_panelUSERS.refresh();
    });
    $('#panel-modules-wrapper').on("click", '.btn-master-tool[data-action="op-plus"]', function(event){
        var action = $(this).data("action");
        myModalModulesOpShow(action);
    });

    ///////////////////
    $( document ).ready(function() {
        console.log( "users panel ready!" );
        _panelDATASOURCES.getData();
    });
</script>
