<!-- Content Header (Page header) -->
<section class="content-header tao-async-ph">
    <h1>Datasources<small>Full list of <strong>datasources for making your queries</strong>.</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Queries</li>
    </ol>
</section>
<!-- /Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div id="panel-topo-wrapper" class="row">
        <div class="col-md-12">
             <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs visible-xs-block"> <!-- visible-xs-block -->
                    <li class="role-dropdown active">
                         <select class="form-control form-changepane" >
                            <option class="role role-admin" value="all_datasources">All datasources </option>
                        </select>
                    </li>
                    <li class="pull-right">
                        <a href="#" class="btn text-muted btn-action" data-action="refresh" data-toggle="tooltip" title="" data-original-title="Refresh"><i class="fa fa-refresh"></i></a>
                    </li>
                </ul>
                <ul class="nav nav-tabs hidden-xs">
                    <li class="role role-admin active"><a href="#panel-datasources" data-toggle="tab" data-action="all_datasources" aria-expanded="true">All datasources</a></li>
                    <li class="pull-right">
                        <a href="#" class="btn text-muted btn-action" data-action="refresh" data-toggle="tooltip" title="" data-original-title="Refresh"><i class="fa fa-refresh"></i></a>
                    </li>
                </ul>
                
               	<div class="modal-error collapse">
               		<h4 class="modal-title">Error!</h4>
		            <p id="modal-error-msg"></p>
		        </div>
                
                <!-- tab-content -->
				<div class="tab-content">
					<div class="tab-pane active" id="panel-datasources">
						<div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-horizontal form-group ">
                                        <label for="queryLabel" class="col-sm-1 col-md-1 control-label">Query label</label>
                                        <div class="ui-widget col-sm-11 col-md-11">
                                            <input id="queryLabel" class="form-control" value="" placeholder="name of your query.">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                        <div class="form-horizontal form-group ">
                                        <label for="listDatasources" class="col-sm-1 col-md-1 control-label">Datasources </label>
                                        <div class="ui-widget col-sm-11 col-md-11">
                                            <input id="listDatasources" class="form-control">
                                            <input type="hidden" id="selectedDatasource" value="default">
                                        </div>
                                    </div>
                                </div>
                            </div>
						</div>

						<div  id="parameterList">
							<form id="editQueryParams" class="form-horizontal" role="form">   
								<div class="row">
									<div class="col-md-12">
										<div class="form-group has-feedback">
											<label for="user_name" class="col-sm-1 col-md-1 control-label">User </label>
											<div class="col-sm-2 col-md-2">
												<input type="text" id="user_name" value="" class="form-control">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group has-feedback">
										    <label for="user_pass" class="col-sm-1 col-md-1 control-label">Password </label>
										    <div class="col-sm-2 col-md-2">
										        <input type="password" id="user_pass" name="user_pass" value="" class="form-control" autocomplete="new-password">
										        <i class="glyphicon glyphicon-eye-open form-control-feedback" title="show password"></i>
										    </div>
										</div>
									</div>
								</div>

								<div class="row"><!-- row -->
									<div class="col-md-12">
								        <p>Parameter list:</p>
											<table class="table table-bordered box-shadow--6dp" id="datasourceParams">
												<thead>
													<tr>
														 <th></th>
														 <th>Name</th>
														 <th>Type</th>
														 <th>Value</th>
													</tr>
												</thead>
											</table>
									</div><!-- /.box -->
								</div><!-- /.row -->
								<div class="row">
									<div class="col-md-12">
										<div class="form-group ">
											<label for="limit" class="col-sm-1 col-md-1 control-label">Limit</label>
	                              			<div class="col-sm-1 col-md-1">
	                              				<input type="number" id="limit" value="" class="form-control" min="0">
						                    </div>
	                              			<div class="col-sm-1 col-md-1"></div>	
	                              			<label for="pageNumber" class="col-sm-1 col-md-1 control-label">Page number</label>
	                              			<div class="col-sm-1 col-md-1">
	                              				<input type="number" id="pageNumber" value="" class="form-control" min="0">
	                              			</div>
	                              			<div class="col-sm-1 col-md-1"></div>
	                              			<label for="pageSize" class="col-sm-1 col-md-1 control-label">Page size</label>
	                              			<div class="col-sm-1 col-md-1">
	                              				<input type="number" id="pageSize" value="" class="form-control" min="0">
	                              			</div>
	                              			<div class="col-sm-2 col-md-2"></div>
	                              			<div class="col-sm-1 col-md-1">
												<button id="saveParams" type="submit" class="btn btn-primary btn-submit" name="btnSave">Execute Query</button>
											</div>
										</div>
									</div>
								</div><!-- /.row -->
							</form>   
						</div><!-- /params -->

						<!--  datasourceProducts -->
						<div id="datasourceProducts">
							<form id="formDownloadProducts" class="form-horizontal" role="form">
								<div class="row"><!-- row -->
										<div class="col-md-12">
											<p>Products list:</p>
											<table class="table table-bordered box-shadow--6dp paginated" id="tbdatasourceProducts">
												<thead>
													<tr>
														<th scope="row" style="text-align:center">
															<div class="checkbox"><input type="checkbox" name="allproducts" value="all">Select all</div>
														</th>
														<th>Name</th>
														<th>Acquisition Date</th>
														<th>Product Type</th>
													</tr>
												</thead>
											</table>
									</div><!-- /.box -->
								</div><!-- /.row -->
								<div class="row">
									<div class="col-md-12">
										<div class="form-group ">
											<div class="col-sm-10 col-md-10"></div>
										<div class="col-sm-2 col-md-2">					         				   
												<button id="downloadProducts" type="submit" class="btn btn-primary btn-submit" name="btnDownload" >Download</button>
											</div>
										</div>
									</div>
								</div>
							</form><!-- /form -->
						</div> <!--  /datasourceProducts -->
            		</div>
				</div><!--  /tab-content -->
            	
        	</div><!-- /Custom Tabs -->
		</div>
	</div>
</section>
<!-- /Main content -->
<link rel="stylesheet" href="./assets/libs/jQuery-datepicker/jquery-ui.theme.css" type="text/css" />
<link rel="stylesheet" href="./assets/libs/jQuery-datepicker/jquery-ui.structure.css" type="text/css" />
<link rel="stylesheet" href="./assets/libs/jQuery-datepicker/jquery-ui.css" type="text/css" />
<script src="./assets/libs/jQuery-datepicker/jquery-ui.js" type="text/javascript"></script>
<script src="./assets/libs/jQuery/paginathing.js" type="text/javascript"></script>

<script>
// Load map poly
$("#panel-topo-wrapper").on("click", ".ol", function (e) {
	var mapContainer = $("#panel-topo-wrapper").closest(".content-wrapper");
	var polygonField = $(this).parent().find("input");
	openPolygonMap(mapContainer, polygonField);
});

var inputType = {
		"Integer":{
			type:"number",
			min:"0"
		},
		"Float":{
			type:"number",
		},
		"Double":{
			type:"number",
		},
		"String":{
			type:"text"
		}
		
};

var datasourcesList = [];
var listOfProducts = [];
var allDatasources = [];
var myQuery = [];

function getDatasourcesList(){

    $.ajax({
        cache: false,
        type: "get",
        url: baseRestApiURL + "query/",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        headers: {
            "Accept": "application/json",
            "Content-Type": "application/json",
            "X-Auth-Token": window.tokenKey
        },
        error : function (jqXHR, textStatus, errorThrown) {
            chkXHR(jqXHR.status);
        },
        success: function(r,textStatus, jqXHR) {
            var response = chkTSRF(r);
            if(jqXHR.status === 204){
                showMsg("No datasources found.", "SUCCESS");
                response = [];
            }
            datasourcesList = response;
            allDatasources = [];
			$.each(response,function(k, v ){
				allDatasources.push({label:v.sensor+" "+v.dataSourceName,value:'d_'+k});
			});
			//set the source option with the list of datasources retrieved
			$( "#listDatasources" ).autocomplete( "option", "source",allDatasources);
			routeLoading('hide');
            showMsg("Datasources list successfully retrieved.", "SUCCESS");

        }
    });
}
function showDatasourceParams(el){
	$("#parameterList").css('display','');
	$('input[name=product]').prop('checked',false);
	$("#datasourceProducts").css('display','none');
	var param = datasourcesList[el].parameters;
	
	var sortedParam = Object.keys(param).sort(function(a, b) {
		var textA = a.toUpperCase();
		var textB = b.toUpperCase();
		return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
	});
	
	var html ='';
	$.each(sortedParam, function(index, property){

        if (param.hasOwnProperty(property)) {
        	var lType = param[property]['type'].split(".");
        	
            var lDefault = '';
            if(param[property]['defaultValue']!== null){   
                lDefault = param[property]['defaultValue'];
            }
            
            html += " <tr>\n" +
            "          <th scope=\"row\" >"+(param[property]['required']?"*":"")+"</th>\n" +
	                "	<td class=\"col-sm-4 col-md-4\">"+param[property]['name']+"</td>\n"+
	                "	<td class=\"col-sm-2 col-md-2\">"+lType[lType.length-1]+"</td>\n"+
	            	"	<td class=\"col-sm-6 col-md-6\">";
			var paramType = lType[lType.length-1];
			paramType = $.trim(paramType.replace(/;/g,''));
		
            switch (paramType){
            	case "DataFormat":
					html +=  '		<input type="text" name="' + property + '" value=""  class="var_' + property + '">';
					break;
            	case "Polygon2D":
					html +=  '		<input type="text" name="' + property + '" value=""  class="var_' + property + '"><i class="fa fa-fw fa-globe ol" style="font-size:1.8em;vertical-align:bottom;color:#2677a7;cursor:pointer"></i>';
					
					break;
				case "SensorType":
            		
            		var enums = taoEnums.getEntity(param[property]['type']);
				
 					html +=  "		<select name=\""+property+"\" class=\"var_"+property+"\">\n";
					if(param[property]['defaultValue'] == null){
						html += "   	<option value=\"default\" selected=\"selected\">Select </option>\n";
					}
					
					$.each(enums, function(index, values){
					 if(lDefault === values.key){
						 html += "		<option value=\""+values.key+"\" selected=\"selected\">"+values.value+"</option>\n";
					 }else{
						 html += "		<option value=\""+values.key+"\" >"+values.value+"</option>\n";
					 }
            
					});
					break;
					
            	case "Date":
            		 html +=  "		<input type=\"text\" name=\""+property+"_d1\" class=\"datepicker var_"+property+"\" data-name=\""+property+"\">\n";
            		 html +=  "		<input type=\"text\" name=\""+property+"_d2\" class=\"datepicker var_"+property+"\" data-name=\""+property+"\">\n";
            		 break;
            	
            	default:
            		if(param[property]['valueSet']!== null){
            			html +=  "		<select name=\""+property+"\" class=\"var_"+property+"\">\n";
            			if(param[property]['defaultValue'] == null){
							html += "   	<option value=\"default\" selected=\"selected\">Select </option>\n";
						}
            			$.each(param[property]['valueSet'], function(index, value){
   						 if(lDefault === value){
   							 html += "		<option value=\""+value+"\" selected=\"selected\">"+value+"</option>\n";
   						 }else{
   							 html += "		<option value=\""+value+"\" >"+value+"</option>\n";
   						 }
            	
   						});
            }else{
            			var type = (inputType.hasOwnProperty(paramType))? ((inputType[paramType].hasOwnProperty("type"))? inputType[paramType]['type']:"text"):"text";
            			var min = (inputType.hasOwnProperty(paramType))? ((inputType[paramType].hasOwnProperty("min"))? "min=\""+inputType[paramType]['min']+"\"":""):"";

            			html +=  "		<input type=\""+type+"\" name=\""+property+"\" value=\""+lDefault+"\" "+min+" class=\"var_"+property+"\">\n";
          
            }

            }
            
            html +="	</td>\n"+
            	   "</tr>\n";
		}
	});
	$('table#datasourceParams tbody').remove();
	$('table#datasourceParams ').append('<tbody>'+html+'</tbody>');
		
	$.each($("input[name*='_d1']"), function(){
		var name = $(this).attr('data-name');
		$(this).datepicker({
			dateFormat: 'yy-mm-dd',
			onSelect:function(selected,evnt){
				var newDate = new Date(selected);
				if (newDate) { // Not null
					newDate.setDate(newDate.getDate() + 1);
				}
				$("input[name='"+name+"_d2']").datepicker("option", "minDate", newDate);
			}
		});
	});
	
	$.each($("input[name*='_d2']"), function(){
		var name = $(this).attr('data-name');
		$(this).datepicker({
			dateFormat: 'yy-mm-dd',
			onSelect:function(selected,evnt){
				var newDate = new Date(selected);
				if (newDate) { // Not null
					newDate.setDate(newDate.getDate() - 1);

				}
				$("input[name='"+name+"_d1']").datepicker("option", "maxDate", newDate);
			}
		});
	});
}

function showProductsTable(products,pagesize, pagenumber){
	$("#parameterList").css('display','none');
	$("#datasourceProducts").css('display','');

	var html = '';
	$.each(products, function(index,value){
		//var date = new Date(value.acquisitionDate).toLocaleString();
		html +=	"<tr>"+
				"	<th scope=\"row\" class=\"col-sm-1 col-md-1\">\n"+
				"		<div class=\"checkbox\">\n"+
				"			<label><input type=\"checkbox\" name=\"product\" value=\""+value.id+"\" style=\"margin:auto\"></label>\n"+
				"		</div>\n"+
				"	</th>\n"+
				"	<td class=\"col-sm-6 col-md-5\">"+value.name+"</td>\n"+
				"	<td class=\"col-sm-2 col-md-3\">"+value.acquisitionDate+"</td>\n"+
				"	<td class=\"col-sm-3 col-md-3\">"+value.productType+"</td>\n"+
				"</tr>\n";
	});
	$('table#tbdatasourceProducts tbody').remove();
	$('table#tbdatasourceProducts ').append('<tbody>'+html+'</tbody>');

	$('.pagination-container').remove();
	$('table#tbdatasourceProducts tbody').paginathing({
		firstLast:false,
	    perPage: 10,
	    pageNumbers:'number',
	    insertAfter: 'table#tbdatasourceProducts',
	   // limitPagination: 5
		});
}

function ajaxCallFnc(url, data, type){
	return $.ajax({
         cache: false,
         url: baseRestApiURL + url,
         type: type,
         data: data,
         headers: {
             "Accept": "application/json",
             "Content-Type": "application/json",
             "X-Auth-Token": window.tokenKey
         },
         error : function (jqXHR, textStatus, errorThrown) {
             if(jqXHR.status === 500){
                 showMsg("Please check your data and try again.", "ERROR");
                 return;
             }
             if(jqXHR.status === 406){
                 showMsg("Please check your data, one or more values for the attributes was not in the acceptable range.", "ERROR");
                 //handle error messages
                 var objResponse = JSON.parse(jqXHR.responseText);
                 if(objResponse[0] !== "Entity has validation errors"){
                     return;
                 }
                 for(i=0;i<objResponse.length;i++) {
                     var matches = objResponse[i].match(/\[(.*?)\]/);
                     if (matches) {
                         $(".error-"+matches[1],".modal-error").css('display', 'inline-block');
                     }
                 }
                 $(".modal-error ").fadeIn("slow");
                
                 return;
             }
             showMsg("Unknown error. Please try again.", "ERROR");
         },
         success: function(data) {
             console.log(data);
         }
     });
}

function downloadProducts(formData){
	var data = {
			"query": myQuery,
			"products": formData,
			"mode": "1"//RESUME
	};
	
	$.when( ajaxCallFnc("query/fetch", JSON.stringify(data),"POST") ).done( function(data){
		 console.log(data);
		 routeLoading('hide');
         if($.type(data) === 'object' && data.status === "SUCCEEDED" ){
        	 showMsg("The selected products were successfully downloaded.", "SUCCESS");
        	 
         }else if($.type(data) === 'object' && data.status === "FAILED"){
        	 showMsg(data.message, "FAILED");
         }else{
        	 showMsg("The selected products were not downloaded.", "SUCCESS");
         }
	});
		
}


function checkProducts(listOfProducts){
	 var productsName = [];
	 $.each(listOfProducts, function(index, value){
		 productsName.push(value.name);
	 });
	 console.log(productsName);	 
	 $.when( ajaxCallFnc("product/check", {names:JSON.stringify(productsName)}, "GET") ).done( function(data){
		 console.log("product/check =>"+productsName);	 
		    if($.type(data) === 'object' && data.status === "SUCCEEDED" ){
		    	routeLoading('hide');
            	if(data.data.lenght > 0 && data.data.lenght === productsName.lenght ){
            		showMsg("The list of products returned already exists.", "SUCCESS");
            	}else if(data.data.lenght > 0){
            		var productsToDownload = [];
            		$.each(listOfProducts, function(index, product){
            			if($.inArray(product.name, data.data) > 0){
            				productsToDownload.push(product);
            			}
            		});
            		//products to show for downloading
            		showProductsTable(productsToDownload);
            	}else{
            		//show all
            		showProductsTable(listOfProducts);
            	}
            }else if($.type(data) === 'object' && data.status === "FAILED"){
        		routeLoading('hide');
           	 showMsg(data.message, "FAILED");
            }
	});
	
}

function refresh(){
	routeLoading('show');
	$("#parameterList, #datasourceProducts").css('display','none');	
	$("#queryLabel").val('');
	$("#listDatasources").val('');
	setTimeout(function(){
		getDatasourcesList();
	},200);
}

$( document ).ready(function() {
	$('.btn-action[data-action="refresh"]').on("click", function(event){
	    event.preventDefault();
	    refresh();
	});
	
	
	$('input[name="user_pass"] + .glyphicon ').css({'cursor':'pointer', 'pointer-events': 'all'});
	$('input[name="user_pass"] + .glyphicon ').on('click',function() {
			 if( $(this).hasClass('glyphicon-eye-open') ){
				 $("#"+this.previousElementSibling.id ).attr('type','text');
				 $(this).removeClass('glyphicon-eye-open');
				 $(this).addClass('glyphicon-eye-close');
				 $(this).attr('title','hide password');
			 }else{
				 $("#"+this.previousElementSibling.id ).attr('type','password');
				 $(this).removeClass('glyphicon-eye-close');
				 $(this).addClass('glyphicon-eye-open');
				 $(this).attr('title','show password');
				 }
	});
	
	$("#parameterList, #datasourceProducts").css('display','none');
	getDatasourcesList();
	
	//Initialize the autocomplete with the list of datasources
	$( "#listDatasources" ).autocomplete({
		source: function(request, response) {
			var results = $.ui.autocomplete.filter(allDatasources, request.term);
			response(results);
			},
		focus: function(event, ui) {
			return false; // Prevent the widget from inserting the value.
		},
		select: function( event, ui ) {
			event.preventDefault();
			console.log(ui.item.value);console.log(ui.item.label);
			var val = ui.item.value;
			this.value = ui.item.label;

			$("#selectedDatasource").val(val);
            //autolabel query if empty
			//if($("#queryLabel").val()===""){
                $("#queryLabel").val($("#listDatasources").val() + " (" + moment().format("YYYY-MM-DD HH:mm:ss").toString() + ")");
          //  }
			showDatasourceParams(val.replace('d_',''));
			$( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });

			return false;// Prevent the widget from inserting the value.
		}
	});
	$(".ui-autocomplete").css({ "max-height": "400px", "overflow-y": "scroll", "overflow-x": "hidden"});
	
	//add pagination
	$('table#tbdatasourceProducts tbody').paginathing({firstLast:false});
	
	$('input[name=allproducts]').click( function(){
			if( $(this).is(':checked') ){
				$('input[name=product]').prop('checked',true);
			}else{
				$('input[name=product]').prop('checked',false);
			}
	});
	
	
	$("form#formDownloadProducts").submit(function(e){
		e.preventDefault();
		routeLoading('show');
		var label = $("#queryLabel").val();
        if(label === ""){
        	routeLoading('hide');
            showMsg("You must specify a label for your query in order to proceed.", "WARNING");
            return;
        }
    	var selectedDatasource = $("#selectedDatasource").val().replace('d_','');
        var formData = {
		    "label": label,
            "products":[],
            "productType":datasourcesList[selectedDatasource]['sensor']
		};
		if($('input[name=allproducts]').is('checked')){
			formData.products = listOfProducts;
		}else{
			checkedProducts = $('input[name=product]:checked');
			$.each(checkedProducts,function(index){
				if(listOfProducts[index].id === $(this).attr('value')){
                    formData.products.push(listOfProducts[index]);
		        }
			});
		}
//		formData =$.extend({},formData);
		if(Object.keys(formData.products).length > 0 ){
		$.when( ajaxCallFnc("datasource/create", JSON.stringify(formData), "POST") ).done( function(data){
				if($.type(data) === 'object' && data.status === "SUCCEEDED" ){
					showMsg("Datasource component was successfully created.", "SUCCESS");
					downloadProducts(formData.products);
	             }else if($.type(data) === 'object' && data.status === "FAILED"){
	            	 routeLoading('hide');
	            	 showMsg(data.message, "FAILED");
	             }else{
	            	 routeLoading('hide');
	            	 showMsg("Datasource componet was not created.", "SUCCESS");
	             }
		});
		} else{
			routeLoading('hide');
			 showMsg("No products selected for download", "WARNING");
		}
	});//end submit form formDownloadProducts
	
	$("form#editQueryParams").submit(function(e){
		e.preventDefault();
		routeLoading('show');
		 
		var param = datasourcesList[$("#selectedDatasource").val().replace('d_','')].parameters;
		var values = {};
		var msg = "";
		//get all elements that have a class starting with 'var_' and which are not necessarily the first class
		$("[class^='var_'],[class*=' var_']").each(function () {
			if($(this).val()!=='default' && $.trim($(this).val())!==""){
				if($(this).hasClass("datepicker") ){
					var paramName = $(this).attr("data-name");
							
					if($.inArray(paramName, values) < 0){
						var name = $(this).attr("name");
						if(name === paramName+"_d1"){
							date1 = $(this).val();
							date2 = $("input[name='"+paramName+"_d2']").val();
						}else if(name === paramName+"_d2"){
							date2 = $(this).val();
							date1 = $("input[name='"+paramName+"_d1']").val();
						}
						
						if(date1 !== "" && date2 !== ""){
							values[paramName] = "["+date1+","+date2+"]";
						}else if(date1 !== ""){
							values[paramName] = date1;
						}else if(date2 !== ""){
							values[paramName] = date2;
						}
							
					}
					
				}else{
					values[$(this).attr('name')] = $(this).val();
				}
			}
		});

		
		var selectedDatasource = $("#selectedDatasource").val().replace('d_','');
		myQuery = {
			     "userId": "admin",
		               "sensor": datasourcesList[selectedDatasource]['sensor'],
		               "dataSource" :  datasourcesList[selectedDatasource]['dataSourceName'],
		               "user" : $('#user_name', this).val(),
		               "password" : $('#user_pass', this).val(),
		               "values": values,
		               "limit":  $('#limit', this).val(),
		               "pageNumber":  $('#pageNumber', this).val(),
		               "pageSize":  $('#pageSize', this).val()
		               
		           };

	 	console.log(myQuery);

			$.when( ajaxCallFnc("query/exec", JSON.stringify(myQuery), "POST") ).done( function(data){
		             if($.type(data) === 'object' && data.status === "SUCCEEDED" && data.data.length>0){
		            	 listOfProducts = data.data;
						 //check if the list of products returned already exists
				       	 checkProducts(listOfProducts);
	
					}else if($.type(data) === 'object' && data.status === "FAILED"){
						routeLoading('hide');
						showMsg(data.message, "FAIL");
					}else{
						routeLoading('hide');
						showMsg("No products were found for selected datasource.", "SUCCESS");
					}
				});

	});//end submit form editQueryParams
	
});
//# sourceURL=datasources-queries.js
</script>