<!-- Content Header (Page header) -->
<section class="content-header tao-async-ph">
    <h1>My Files<small>Full list of user <strong>Files</strong>.</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">My Files</li>
    </ol>
</section>
<!-- /Content Header (Page header) -->
<!-- Main content -->
<section id="tree-content" class="content">
    <div class="row">
        <div class="col-md-12">
			<div class="box">
				<div class="box-header empty"></div>
				<div class="box-body">
					<div class="col-md-12 col-sm-12">
						<div id="toolbox-browser" class="toolbox">
							<div class="treeview"></div>
							<div id="properties" class="hidden">
								<div id="rm-previewattributes" class="box-shadow--6dp">
									<div class="callout attributes-holder">
										<h4 class="title">File name</h4>
										<button type="button" class="close">×</button>
										<div class="holder"><div>
											<table class="table table-hover">
												<thead><tr><th>Name</th><th>Value</th></tr></thead>
												<tbody></tbody>
											</table>
											<div class="imagepreview-holder hidden"><div><span class="fa fa-expand fa-fw full-preview"></span><img src=""/></div></div></div>
										</div>
									</div>
									<div class="callout actions-holder">
										<h4>Actions</h4>
										<table class="actions-set for-folders">
											<tr class="action share-holder">
												<td><span class="action-name">Share</span></td>
												<td><span class="action-info"></span></td>
												<td>
													<div class="TSwitch">
														<input id="TSPrimary" name="share-folder" type="checkbox" disabled/>
														<label for="TSPrimary" class="label-success"></label>
													</div>
												</td>
											</tr>
											<tr class="action delete-holder">
												<td><span class="action-name">Delete</span></td>
												<td><span class="action-info"></span></td>
												<td><button class="btn bg-green btn-flat" disabled><i class="fa fa-trash fa-fw"></i>Delete product</button></td>
											</tr>
										</table>
										<table class="actions-set for-files">
											<tr class="action download-holder">
												<td><span class="action-name">Download</span></td>
												<td><span class="action-info"></span></td>
												<td><a href="#"><button class="btn bg-green btn-flat" disabled><i class="fa fa-download fa-fw"></i>Download file</button></a></td>
											</tr>
											<tr class="action delete-holder">
												<td><span class="action-name">Delete</span></td>
												<td><span class="action-info"></span></td>
												<td><button class="btn bg-green btn-flat" disabled><i class="fa fa-trash fa-fw"></i>Delete file</button></td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
			   </div>
				<div class="box-header empty"></div>
			</div>
        </div>
    </div>
</section>

<style>
.toolbox{width:100%}
.toolbox>div{width:100%}
/* ===== TREEVIEW ===== */
.toolbox .treeview{margin-left:10px}
.toolbox .treeview input[type="checkbox"]{display:none}
.toolbox .treeview a{width:100%;display:block;cursor:pointer;padding:5px 0;line-height:1.1em}
.toolbox .treeview a:hover,
.toolbox .treeview a.selected{background-color:#ecf0f5;color:#0f5075}
.toolbox .treeview a span{float:right;padding:0 10px 0 7px;width:110px;text-align:right;color:#5c5d5e}
.toolbox .treeview .fa{float:none;width:30px;color:#3c8dbc}
.toolbox .treeview .fa-folder{color:#ffb85d}
.toolbox .treeview .fa-public{position:relative}
.toolbox .treeview .fa-public::after{position:absolute;content:"\f064";font-size:10px;color:#00a65a;right:5px;bottom:-5px;}
.toolbox .treeview label{position:relative;color:#5c5d5e;display:block;margin-bottom:0}
.toolbox .treeview label a{margin-left:0}
.toolbox .treeview label::before{display:block;position:absolute;top:0;left:-17px;font-family:'FontAwesome';font-size:18px;padding:0 7px;color:transparent}
.toolbox .treeview label::before{content:'\f105';margin-left:0}
.toolbox .treeview input:checked+label::before{content:'\f107';margin-left:-3px}
.toolbox .treeview input:checked+label .fa-folder::before{content:'\f07c'}
.toolbox .treeview:hover label::before{color:#b9b9b9}
.toolbox .treeview:hover input:checked+label::before{color:#5c5d5e}
.toolbox .treeview .sub{display:none;margin-left:20px}
.toolbox .treeview input:checked~.sub{display:block}
/* ===== PROPERTIES ===== */
#properties{position:fixed;right:2%;width:37%}
#properties button.close{position:absolute;top:7px;right:12px;opacity:1;color:white}
#properties button.close:hover,
#properties button.close:focus{color:#8bccf3}
#properties .box-shadow--6dp{margin-bottom:15px}
#properties .box-header{overflow-x:hidden}
#properties .callout{padding:0;border:0;background-color:white;margin:0;border-radius:0}
#properties h4{margin:0;background-color:#3c8dbc;color:white;padding:10px}
#properties .btn.bg-green{float:right;width:130px;margin:5px 0}
#properties .btn.bg-green.btn-xs{margin:0}
#properties .btn.bg-green:disabled{border:1px solid #dadada;color:#9a9a9a !important;background-color:white !important;opacity:0.6}
#properties table{width:100%;margin-bottom:0}
#properties table td{padding:5px 10px;line-height:1.2em}
#properties table td:first-child{width:25%}
#properties .actions-holder td:last-child{width:130px;text-align:right;height:50px}
.action-name{font-size:16px;font-weight:600;color:#3c8dbc}
.imagepreview-holder{text-align:center;margin:10px 0;position:relative}
.imagepreview-holder>div{text-align:center;display:inline-block;position:relative}
.imagepreview-holder img{width:100%}
.imagepreview-holder .full-preview {
	position: absolute;
    top: 10px;
    right: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    color: white;
    background-color: #00a65a;
    border: 2px solid white;
    border-radius: 5px;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 3px;
    cursor: pointer;
}
.imagepreview-holder .full-preview:hover{background-color:#00894b}
.imagepreview-holder.full-screen {
	position: fixed;
    top: 0;
    z-index: 9999;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    cursor: pointer;
    overflow: auto;
}
.imagepreview-holder.full-screen>div{position:unset}
.imagepreview-holder.full-screen img{position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;width:auto}
.fa-fw{margin-right:5px}
.attributes-holder .holder{overflow:auto}
/* ===== SWITCH ===== */
.TSwitch {
	text-align: center;
    position: relative;
    width: 130px;
    height: 34px;
    margin: 5px 0;
}
.TSwitch>input[type="checkbox"]{display:none}
.TSwitch>label{
	cursor:pointer;
	height: 0px;
	width: 130px;
	font-weight: 400;
	font-family: 'FontAwesome','Source Sans Pro','Helvetica Neue';
	font-size: 14px;
}
.TSwitch>label::before {
    background: #dadada;
	border: 1px solid #dadada;
    border-radius: 9px;
    content: '';
    height: 18px;
    position: absolute;
    top: 8px;
    left: 0;
    width: 130px;
    transition: all 0.4s ease-in-out;
}
.TSwitch>label::after {
    background: rgb(255, 255, 255);
    border: 1px solid #bce6d3;
    content: 'Share \00A0\00A0\f054';
    height: auto;
    position: absolute;
    width: auto;
    padding: 8px 12px;
    top: 0;
    left: 10px;
    right: 30px;
    text-align: left;
    color: #00a65a;
    transition: all 0.3s ease-in-out;
}
.TSwitch>input[type="checkbox"]:checked+label::before {
	background-color: #bce6d3;
	border-color: #9ed4bc;
    content: '';
}
.TSwitch>input[type="checkbox"]:disabled+label::before {
    content: '';
    background-color: transparent;
    border-color: #ececec;
	cursor: default;
}
.TSwitch>input[type="checkbox"]:checked+label::after {
    background: inherit;
    content: '\f053\00A0\00A0 Unshare';
    left: 30px;
	right: 10px;
    text-align: right;
	color: white;
	border-color: #00a65a;
}
.TSwitch>input[type="checkbox"]:disabled+label::after {
    content: '\f057\00A0\00A0 Disabled';
    text-align: center;
    color: rgba(154, 154, 154, 0.65);
    left: 15px;
    right: 15px;
    cursor: default;
    border-color: #ececec;
}
</style>

<script>
// BSwitch options
var compsTree = $(".toolbox .treeview");

function refreshTree() {
	var deferred = $.Deferred();
	$.ajax({
		url: baseRestApiURL + "files/user/",
		type: "GET",
		dataType: 'json',
		beforeSend: function(xhr) {
			xhr.setRequestHeader("Accept", "application/json");
			xhr.setRequestHeader("Content-Type", "application/json");
			xhr.setRequestHeader("X-Auth-Token", tokenKey);
		},
		error: function (jqXHR, textStatus) {
			var msg = "Error while loading files.";
			alert(msg);
			compsTree.closest(".box").addClass("box-warning");
			deferred.reject(jqXHR, textStatus, msg);
		},
		success: function(response) {
			compsTree.closest(".box").addClass("box-success");
			renderTree(response);
			deferred.resolve(response);
		}
	});
	return deferred.promise();
}

function getParentFolder(relativePath) {
	var parentId = relativePath.substring(0, relativePath.lastIndexOf("\\"));
	var parent = $("input[id='" + parentId.replace(/\\/g, "\\\\") + "']").parent().find(">.sub");
	if (parent.length == 0) { parent = compsTree; }
	return parent;
}

function renderFolder(relativePath, attributes) {
	// get parent, render if null
	var parent = getParentFolder(relativePath);
	if (parent == compsTree && relativePath.indexOf("\\") >= 0 ) {
		parent = renderFolder(relativePath.substring(0, relativePath.lastIndexOf("\\")), null);
	}
	
	var chk = parent.find("input[id='" + relativePath.replace(/\\/g, "\\\\") + "']");
	// render folder if null
	if (chk.length == 0) {
		var id = relativePath;
		var faPublic = attributes && attributes.visibility != undefined && attributes.visibility == "PUBLIC";
		var element = $('<div><input type="checkbox" id="' + id + '"><label for="' + id +  '"><a href="#"><span class="fa fa-folder' + (faPublic ? " fa-public" : "") + '"></span>' + relativePath.substring(relativePath.lastIndexOf("\\") + 1) + '</a></label><div class="sub"></div></div>');
		element.data("attributes", attributes);
		parent.append(element);
		chk = parent.find("input[id='" + relativePath.replace(/\\/g, "\\\\") + "']");
	}
	
	if (!attributes) { attributes = {}; }
	attributes.fileInfo = {};
	attributes.fileInfo.relativePath = relativePath;
	attributes.fileInfo.fileSize = 0;
	attributes.fileInfo.fileName = relativePath.substring(relativePath.lastIndexOf("\\") + 1);
	attributes.fileInfo.fileType = "folder";
	attributes.fileInfo.uri = "";
	chk.parent().find(">label a").data("attributes", attributes);
	
	return chk.parent().find(">.sub");
}

// Render tree: folders and files
function renderTree(response) {
	compsTree.html("");
	
	// Render tree folders first
	$.each(response, function (index, file) {
		if (file.folder && file.relativePath != "") {
			renderFolder(file.relativePath, file.attributes);
		}
	});
	
	// Render files
	$.each(response, function (index, file) {
		if (!file.folder) {
			var size = parseInt(file.size);
			if (size < 1024) {
				size = size + " B";
			} else if (size < 1024*1024) {
				size = parseFloat(size / 1024, 2).toFixed(2) + " KB";
			} else if (size < 1024*1024*1024) {
				size = parseFloat(size / 1024 / 1024, 2).toFixed(2) + " MB";
			} else if (size < 1024*1024*1024*1024) {
				size = parseFloat(size / 1024 / 1024 / 1024, 2).toFixed(2) + " GB";
			} else {
				size = parseFloat(size / 1024 / 1024 / 1024 / 1024, 2).toFixed(2) + " TB";
			}
			var name   = file.relativePath.substring(file.relativePath.lastIndexOf("\\") + 1);
			var href   = baseRestApiURL + 'files/?fileName=' + file.relativePath.replace(/\\/g, "/");
			var type   = file.relativePath.substring(file.relativePath.lastIndexOf("."));
			var folder = getParentFolder(file.relativePath);
			var fafile = "fa-file-o";
			switch (type) {
				case ".txt" : fafile = "fa-file-text-o"   ; break;
				case ".html": fafile = "fa-file-code-o"   ; break;
				case ".xml" : fafile = "fa-file-code-o"   ; break;
				case ".json": fafile = "fa-file-code-o"   ; break;
				case ".tif" : fafile = "fa-file-image-o"  ; break;
				case ".png" : fafile = "fa-file-image-o"  ; break;
				case ".pdf" : fafile = "fa-file-pdf-o"    ; break;
				case ".zip" : fafile = "fa-file-archive-o"; break;
			}
			var element = $('<a href="#"><span class="fa ' + fafile + '"></span>' + name + '<span>' + size + '</span>' + '<span>' + type + '</span>' + '</a>');
			
			if (!file.attributes) { file.attributes = {}; }
			file.attributes.fileInfo = {};
			file.attributes.fileInfo.relativePath = file.relativePath;
			file.attributes.fileInfo.fileSize = size;
			file.attributes.fileInfo.fileName = name;
			file.attributes.fileInfo.fileType = type;
			file.attributes.fileInfo.uri = href;
			
			element.data("attributes", file.attributes);
			folder.append(element);
		}
	});
}

function setPreviewImageBase64(attributes) {
	if ($("#properties .imagepreview-holder img").attr("src") != "") {
		$("#properties .imagepreview-holder").toggleClass("hidden");
		adjustPropertiesPosition();
	} else {
		$("#properties .imagepreview-holder").addClass("hidden");
		$("#properties .imagepreview-holder img").attr("src", "");
		if (attributes.formatType == "RASTER") {
			$.ajax({
				url: attributes.fileInfo.uri.replace("?fileName=", "preview?fileName="),
				type: "GET",
				beforeSend: function(xhr) { xhr.setRequestHeader("X-Auth-Token", tokenKey); },
				success: function(response) {
					$("#properties .imagepreview-holder img").attr("src", response == "" ? "" : "data:image/jpeg;base64, " + response);
				}
			});
		}
	}
}

$("#properties .imagepreview-holder img").load(function(){
	$("#properties .imagepreview-holder").removeClass("hidden");
	$("#properties .attributes-holder .holder").css({ "max-height": "" });
	adjustPropertiesPosition();
});

function closeAttributes() {
	// Set attributes default values
	$("#properties .attributes-holder .title").text("File name");
	var tableBody = $("#properties #rm-previewattributes .attributes-holder tbody");
	tableBody.html("");
	
	// Empty image preview
	$("#properties .imagepreview-holder").addClass("hidden");
	$("#properties .imagepreview-holder img").attr("src", "");
	
	// Set actions default values
	$("#properties .actions-holder a").attr("href", "");
	$("#properties .actions-holder .action-info").text("");
	$("#properties .actions-holder button").attr('disabled', true);
	$("#properties .actions-holder input[type='checkbox']").prop('checked', false);
	$("#properties .actions-holder input[type='checkbox']").attr('disabled', true);
	
	// Hide all actions
	$("#properties .actions-holder .actions-set").addClass("hidden");
	$("#properties .actions-holder .actions-set .action").removeClass("hidden");
	
	// Hide properties window and clear data
	$("#properties").addClass("hidden");
	$("#properties").removeData("attributes");
	compsTree.css({ width: "" });
}

function displayFolderActions(attributes) {
	// Delete
	if (attributes.id != undefined && attributes.visibility == "PRIVATE") {
		$(".for-folders .delete-holder .action-info").text("Delete selected product.");
		$(".for-folders .delete-holder button").attr('disabled', false);
	} else {
		$(".for-folders .delete-holder .action-info").text(attributes.id == undefined ? "This folder can not be deleted" : "This product is public and can not be deleted.");
		$(".for-folders .delete-holder button").attr('disabled', true);
	}
	
	// Sharing
	if (attributes.visibility == "PUBLIC") {
		// Folder is PUBLIC
		$(".for-folders .share-holder .action-info").text("This product is public");
		$(".for-folders .TSwitch>input[type='checkbox']").prop('checked', true);
		$(".for-folders .TSwitch>input[type='checkbox']").attr('disabled', false);
	} else if (attributes.visibility == "PRIVATE") {
		// Folder is PRIVATE
		$(".for-folders .share-holder .action-info").text("This product is not public");
		$(".for-folders .TSwitch>input[type='checkbox']").prop('checked', false);
		$(".for-folders .TSwitch>input[type='checkbox']").attr('disabled', false);
	} else {
		// Folder sharing status in unknown
		$(".for-folders .share-holder .action-info").text("Sharing is disabled for this folder.");
		$(".for-folders .TSwitch>input[type='checkbox']").prop('checked', false);
		$(".for-folders .TSwitch>input[type='checkbox']").attr('disabled', true);
	}
	
	$(".for-folders").removeClass("hidden");
}

function displayFileActions(attributes) {
	// Download
	$(".for-files .download-holder .action-info").text("Download size: " + attributes.fileInfo.fileSize);
	$(".for-files .download-holder a").attr("href", attributes.fileInfo.uri);
	$(".for-files .download-holder button").attr('disabled', false);
	
	// Delete
	if (attributes.fileInfo.relativePath.indexOf("files\\") == -1) {
		$(".for-files .delete-holder .action-info").text("Product contents can not be deleted.");
		$(".for-files .delete-holder button").attr('disabled', true);
		//$(".for-files .delete-holder").addClass("hidden");
	} else {
		$(".for-files .delete-holder .action-info").text("Delete selected file.");
		$(".for-files .delete-holder button").attr('disabled', false);
	}
	
	$(".for-files").removeClass("hidden");
}

function displayAttributes(attributes) {
	closeAttributes();
	
	$("#properties .attributes-holder .title").text(attributes.fileInfo.fileName);
	$("#properties .attributes-holder .title").css({ "border-bottom": "5px solid " + (attributes.fileInfo.fileType == "folder" ? "#ffb85d" : "#7dc1e8") });
	
	var tableBody = $("#properties .attributes-holder tbody");
	var size = 0;
	$.each(attributes, function (name, value) {
		if (name == "productType" && value == "GeoTIFF" && attributes.fileInfo.fileType != "folder") {
			tableBody.append('<tr><td>' + name + '</td><td>' + value + '<button class="btn bg-green btn-flat btn-xs image-preview"><i class="fa fa-eye fa-fw"></i>Toggle quick view</button></td></tr>');
		} else if (name != "fileInfo") {
			tableBody.append('<tr><td>' + name + '</td><td>' + value + '</td></tr>');
		} else {
			size --;
		}
		size ++;
	});
	if (size == 0) {
		tableBody.append('<tr><td>-</td><td>-</td></tr>');
	}
	
	// Draw Actions
	if (attributes.fileInfo.fileType == "folder") {
		displayFolderActions(attributes);
	} else {
		displayFileActions(attributes);
	}
	
	$("#properties").data("attributes", attributes);
	compsTree.css({ width: "54%" });
	
	// Unhide properties window
	$("#properties").removeClass("hidden");
}

// Actions to perform when folder or file is selected
$(".toolbox .treeview").on("click", "a", function (e) {
	e.preventDefault();
	
	$(".toolbox .treeview a.selected").removeClass("selected");
	$(this).addClass("selected");
	
	displayAttributes($(this).data("attributes"));
	adjustPropertiesPosition();
});

$(".toolbox .treeview").on("dblclick", "label", function (e) {
	var chk = $(this).parent().find("input[type='checkbox']");
	chk.prop("checked", !chk.prop("checked"));
});

// Quick view product
$("#properties").on("click", "button.image-preview", function (e) {
	var attributes = $(this).closest("#properties").data("attributes");
	setPreviewImageBase64(attributes);
});

$("#properties").on("click", ".full-preview", function (e) {
	$("#properties .imagepreview-holder").clone().appendTo("body").addClass("full-screen");
	$("body .full-screen span").remove();
});
$("body").on("click", ".full-screen", function (e) {
	$(this).remove();
});

// Close properties window
$("#properties").on("click", "button.close", function (e) {
	closeAttributes();
	$(".toolbox .treeview a.selected").removeClass("selected");
});

function toggleProductVisibility(attributes) {
	var product    = attributes.fileInfo.relativePath;
	var visibility = attributes.visibility != "PUBLIC" ? "PUBLIC" : "PRIVATE";
	var formData   = { "folder": product, "visibility": visibility };
	$.ajax({
		url: baseRestApiURL + "files/",
		type: "POST",
		data: formData,
		beforeSend: function(xhr) { xhr.setRequestHeader("X-Auth-Token", tokenKey); },
		success: function(response) {
			if (response.message != undefined) {
				// Failed
				$("#properties .share-holder input[name='share-folder']").prop("checked", attributes.visibility == "PUBLIC" ? true : false);
			} else {
				// Success
				$.when(refreshTree()).done(function () {
					var prod = compsTree.find("input[id='" + product.replace(/\\/g, "\\\\") + "']+label>a");
					prod.addClass("selected");
					displayAttributes(prod.data("attributes"));
					adjustPropertiesPosition();
				});
			}
		},
		error: function (jqXHR, textStatus) {}
	});
}

// Share: toggle product visibility
$("#properties .share-holder").on("click", "input[name='share-folder']", function (e) {
	e.preventDefault();
	
	var attributes = $("#properties").data("attributes");
	var action = attributes.visibility != "PUBLIC" ? "share" : "unshare";
	$('#confirm-dialog').modal('confirm', {
		msg: "Are you sure you want to " + action + " this product?",
		callbackConfirm: function () {
			toggleProductVisibility(attributes);
		},
		callbackCancel: function (){ }
	});
});

function deleteProduct(attributes) {
	$.ajax({
		url: baseRestApiURL + "files/?fileName=" + attributes.fileInfo.relativePath,
		type: "DELETE",
		beforeSend: function(xhr) { xhr.setRequestHeader("X-Auth-Token", tokenKey); },
		success: function(response) {
			if (response.message != undefined) {
				// Failed
				showMsg(response.message);
			} else {
				// Success
				showMsg(response);
				$.when(refreshTree()).done(function () { });
				closeAttributes();
			}
		},
		error: function (jqXHR, textStatus) {
			var a = 1;
		}
	});
}

// Delete
$("#properties .delete-holder").on("click", "button", function (e) {
	e.preventDefault();
	
	var attributes = $("#properties").data("attributes");
	var action = attributes.visibility != "PUBLIC" ? "share" : "unshare";
	$('#confirm-dialog').modal('confirm', {
		msg: "Are you sure you want to delete this product?",
		callbackConfirm: function () {
			deleteProduct(attributes);
		},
		callbackCancel: function (){ }
	});
});

// Download selected file
$("#properties .download-holder").on("click", "a", function (e) {
	e.preventDefault();
	
	var btn  = $(this).find("button");
	var info = $(this).closest(".download-holder").find(".action-info");
	var infoVal = info.text();
	
	var attributes = $(this).closest("#properties").data("attributes");
	var filename   = attributes.fileInfo.fileName;
	
	var xhr = new XMLHttpRequest();
	xhr.open('GET', this.href, true);
	xhr.setRequestHeader("X-Auth-Token", tokenKey);
	xhr.responseType = 'blob';
	xhr.onload = function(e) {
		info.text(infoVal);
		btn.find("i").removeClass("fa-refresh fa-spin").addClass("fa-download");
		btn.prop("disabled", false);
		
		if (this.status == 200) {
	        var blob = new Blob([this.response], { type: this.getResponseHeader('Content-Type') });
			
	        if (typeof window.navigator.msSaveBlob !== 'undefined') {
	            // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created.
				// These URLs will no longer resolve as the data backing the URL has been freed."
	            window.navigator.msSaveBlob(blob, filename);
	        } else {
	            var URL = window.URL || window.webkitURL;
	            var downloadUrl = URL.createObjectURL(blob);
				
				// use HTML5 a[download] attribute to specify filename
				var a = document.createElement("a");
				// safari doesn't support this yet
				if (typeof a.download === 'undefined') {
					window.location = downloadUrl;
				} else {
					a.href = downloadUrl;
					a.download = filename;
					document.body.appendChild(a);
					a.click();
				}
	            setTimeout(function () { URL.revokeObjectURL(downloadUrl); $(a).remove(); }, 100); // cleanup
	        }
		}
	}
	xhr.send();
	
	btn.prop("disabled", true);
	btn.find("i").removeClass("fa-download").addClass("fa-refresh fa-spin");
	info.text("Please wait for your download to start!");
});

function adjustPropertiesPosition() {
	var scrollTop  = document.documentElement ? document.documentElement.scrollTop : document.body.scrollTop;
	var contentTop = $("#tree-content>.row").offset().top;
	var treeTop    = $(".toolbox .treeview").offset().top;
	
	var sumHeight = 0;
	$.each($("#properties .callout"), function () {
		sumHeight += $(this).hasClass("attributes-holder") ? $(this).find(".title").outerHeight() : $(this).outerHeight();
	});
	
	var newTop = treeTop - scrollTop;
	if (contentTop - scrollTop < 0) {
		newTop = treeTop - contentTop;
	}
	$("#properties").css({ "top": newTop + "px" });
	
	var hgh = $(window).height() - newTop - sumHeight - (treeTop - contentTop) - 10;
	$("#properties .attributes-holder .holder").css({ "max-height": hgh + "px" });
	
	if ($("#properties .attributes-holder .holder").outerHeight() >= $("#properties .attributes-holder .holder>div").outerHeight()) {
		$("#properties .attributes-holder .holder").css({ "overflow-y": "unset" });
	} else {
		$("#properties .attributes-holder .holder").css({ "overflow-y": "" });
	}
}

$(window).on("ready scroll resize", function() {
	adjustPropertiesPosition();
});

$(document).ready(function() {
	$.when(refreshTree()).done(function () { });
});

//# sourceURL=my-auxfiles.js
</script>

<!-- /Main content -->
