<div class="card">
        <div class="modal-body">

            <div class="card-profile">
                <img src="https://www.gravatar.com/avatar/00000000?d=mp&s=160" style="width:100%">
                <span class="card-title val-user-fullname">John Doe</span>
            </div>
            <div class="card-body">
                <p>first name: <span class="val-user-fname"></span></p>
                <p>last name: <span class="val-user-lname"></span></p>
                <p>organization: <span class="val-user-org"></span></p>
                <p>role: <span class="val-user-role"></span></p>
                <p>username: <span class="val-user-name"></span></p>
                <p>email: <span class="val-user-email"></span></p>
                <p>alternative email: <span class="val-user-email2"></span></p>
                <p>phone: <span class="val-user-phone"></span></p>
                <p>quota: <span class="val-user-quota"></span></p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
</div>
