<div class="card">
	<form class="form-edit-profile" action ="">
        <div class="modal-body">
            <div class="card-profile">
                <img src="https://www.gravatar.com/avatar/00000000?d=mp&s=160" style="width:50%;height:50%;"></br>
                <span class="card-title val-user-fullname"></span>
            </div>
            <div class="card-body" style="text-align:left">
            	<div class="row">
                	<div class="col-md-12">
            			<div class="form-group">
		                	<label for="val-user-firstName" class="control-label col-sm-5 col-md-5">First name:</label>
		                	<div class="val-user-fname col-sm-6 col-md-6" id="val-user-firstName" contenteditable="false"></div>
                		</div>
                	</div>
                </div>
                <div class="row">
                	<div class="col-md-12">
            			<div class="form-group">
		                	<label for="val-user-lastName" class="control-label col-sm-5 col-md-5">Last name:</label>
		                	<div class="val-user-lname col-sm-6 col-md-6" id="val-user-lastName" contenteditable="false"></div>
                		</div>
                	</div>
                </div>
                <div class="row">
                	<div class="col-md-12">
            			<div class="form-group">
		                	<label for="val-user-organization" class="control-label col-sm-5 col-md-5">Organization:</label>
		                	<div class="val-user-org col-sm-6 col-md-6" id="val-user-organization" contenteditable="false"></div>
                		</div>
                	</div>
                </div>
                <div class="row">
                	<div class="col-md-12">
            			<div class="form-group">
		                	<label for="val-user-role" class="control-label col-sm-5 col-md-5">Role:</label> 
		                	<div class="val-user-role col-sm-6 col-md-6" id="val-user-role" ></div>
                		</div>
                	</div>
                </div>
                 <div class="row">
                	<div class="col-md-12">
            			<div class="form-group">
		                	<label for="val-user-name" class="control-label col-sm-5 col-md-5">Username:</label> 
		                	<div class="val-user-name col-sm-6 col-md-6" id="val-user-name" ></div>
                		</div>
                	</div>
                </div>
                <div class="row">
                	<div class="col-md-12">
            			<div class="form-group">
		                	<label for="val-user-email" class="control-label col-sm-5 col-md-5">Email:</label> 
		                	<div class="val-user-email col-sm-6 col-md-6" id="val-user-email" contenteditable="false"></div>
                		</div>
                	</div>
                </div>
                <div class="row">
                	<div class="col-md-12">
            			<div class="form-group">
		                	<label for="val-user-alternativeEmail" class="control-label col-sm-5 col-md-5">Alternative email:</label>
		                	<div class="val-user-email2 col-sm-6 col-md-6" id="val-user-alternativeEmail" contenteditable="false"></div>
                		</div>
                	</div>
                </div>
                <div class="row">
                	<div class="col-md-12">
            			<div class="form-group">
		                	<label for="val-user-phone" class="control-label col-sm-5 col-md-5">Phone:</label> 
		                	<div class="val-user-phone col-sm-6 col-md-6" id="val-user-phone" contenteditable="false"></div>
                		</div>
                	</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        	<div class="pull-left">
            	<button type="button" class="btn btn-default btn-edit-profile" data-action="edit">Edit</button>
            </div>
			<div class="pull-left" style="margin-left: 10px;">
				<a href="./password-reset.html" class="btn btn-default btn-flat btn-reset-password" data-action="reset-password">Reset Password</a>
            </div>
            <div class="pull-right">
            	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	</div>
		</div>
	</form>
</div>