<div class="modal-content">
    <form id="frmNewPC" class="form-horizontal form-newpc" role="form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">RM Blank</h4>
            <p><strong>Hmm! You should not be here.</strong></p>
            <img src = "media/images/alice-through-the-looking-glass.jpg" style="width: 100%;">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Inchide</button>
        </div>
    </form>
</div><!-- /.modal-content -->