<div class="modal-content">
    <form id="frmNewPC" class="form-horizontal form-newpc" role="form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">RM Blank</h4>
            <p style="text-align: center;">
                <strong>Under construction. Try again later.</strong>
                <br><img src = "media/images/alice-through-the-looking-glass.jpg" style="width: 50%;">
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </form>
</div><!-- /.modal-content -->