<!-- Content Header (Page header) -->
<section class="content-header tao-async-ph">
    <!--
    <div class="row">
        <div class="col-md-12">
    -->
    <h1>Documentation <small>v 1.0 <strong>user guide and documentation</strong>.</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Documentation</li>
    </ol>
    <!-- 	</div>
    </div>
    -->
</section>
<!-- /Content Header (Page header) -->

<div class="content body">
    <p>
        This documentation is for versions 1.0. Please visit <a href="https://example.com">TAO project homepage</a> for further details.
    </p>

    <section id="introduction" class="s--docu">
        <h2 class="page-header">Introduction</h2>
        <p>
            <b>Tool Augmentation by User Enhancements and Orchestration (TAO)</b> is .... is .... is .... is .... is .... is .... is .... is .... is ....
        </p>
    </section><!-- /#introduction -->
    <!-- ============================================================= -->

    <section id="dependencies" class="s--docu">
        <h2 class="page-header">Dependencies</h2>
        <p>TAO depends on two main ...
            The TAO package contains both of these components.</p>
        <ul class="bring-up">
            <li><a href="#" target="_blank">jsPlumb</a></li>
            <li><a href="http://jquery.com/" target="_blank">jQuery 1.11+</a></li>
        </ul>

        <div class="callout callout-danger lead">
            <h4>Installation instructions</h4>
            <p>Before using the TAO interface and to start building your projects the system must be properly setup on your execution nodes.</p>
        </div>
    </section>


    <!-- ============================================================= -->

    <section id="layout" class="s--docu">
        <h2 class="page-header">UI and general layout</h2>
        <p class="lead">The user interface consists of x major components:</p>
        <ul>
            <li>Dashboard</li>
            <li>Workflow editor</li>
            <li>Contextual properties sidebar</li>
            <li>Notifications area</li>
        </ul>

        <div class="box box-solid" style="max-width: 300px;">
            <div class="box-body no-padding">
                text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text.
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </section>


    <!-- ============================================================= -->

    <section id="tao-options" class="s--docu">
        <h2 class="page-header">Advanced Options</h2>
        <p class="lead">Modifying the options.</p>

        <h3>Editing commands</h3>
        <p>Within the main console edit object parameters to suit your use case.</p>
        <p>Example</p>
        <pre class="prettyprint"><code class="html">
		   #!/bin/bash
		   echo Hello World
		  </code></pre>
    </section>

    <!-- ============================================================= -->

    <section id="browsers">
        <h2 class="page-header">Browser Support</h2>
        <p class="lead">TAO supports the following browsers:</p>
        <ul>
            <li>IE10+</li>
            <li>Firefox (latest)</li>
            <li>Safari (latest)</li>
            <li>Chrome (latest)</li>
            <li>Opera (latest)</li>
        </ul>
    </section>

    <!-- ============================================================= -->

    <section id="license">
        <h2 class="page-header"><a href="#license">License</a></h2>
        <p class="lead">
            text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text.
        </p>
    </section>
</div>