<!-- Content Header (Page header) -->
<section class="content-header tao-async-ph">
    <h1>How To<small>&nbsp;TAO how to guides for usual operations.</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">TAO how to guides</li>
    </ol>
</section>
<!-- /Content Header (Page header) -->
<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">How To</h3>
                    <p>This section provides the following information about how to use the available features of the TAO framework.</p>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="box-group" id="accordion">
                        <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

</section>
<!-- /Main content -->
<script>
function loadJSON(callback) {   
	  var xobj = new XMLHttpRequest();
	  xobj.overrideMimeType("application/json");
	  xobj.open('GET',baseRestApiURL + "ui/fragments/howto.json", true);
	  xobj.onreadystatechange = function () {
	    if (xobj.readyState == 4 && xobj.status == "200") {
	      callback(JSON.parse(xobj.responseText));
	    }
	  };
	  xobj.send(null);  
	}
function getImages(content){		
	  var regExp = /(\{([^}]+)\})/g;
	  var matches = content.match(regExp);
	  if(matches!=null &&  matches!= ""){
		  for (var i = 0; i<matches.length; i++){
			  var imgName = matches[i].replace('{','');
			  imgName = imgName.replace('}','');
			  var img = "<img src='./assets/dist/img/howto/"+imgName+".png' alt='"+imgName.replace('_',' ')+"'>";

			  content = content.replace(matches[i],img);
		  }
	  }
	  return content;
	  }
	
$(document).ready( function(){
	loadJSON(function(json) {		
		  console.log(json); // this will log out the json object
		  if($.isArray(json) == true && json.length>0){	

			  $.each(json, function(){
				  var section = this;
				  console.log(section.name);
				  var el = ' <div class="panel box box-primary query-accordion" >'+
				       	   '	<div class="box-header ">'+
				   		   '		<h4 class="box-title query-accordion-title">';
				  el = el +'			<a data-toggle="collapse" data-parent="#accordion" href="#'+section.name.replace(' ','_')+'" aria-expanded="false" class="collapsed">'+
				  						section.name+
                  		'				</a>'+
              			'			</h4>'+                               
          				'		</div>'+
						'	<div id="'+section.name.replace(' ','_')+'" class="panel-collapse collapse" aria-expanded="false" style="height: 0px; background-color: rgb(247, 250, 255);">';
          				  
				  $.each(section.value,function(k,v){	
					  el = el + '<div class="row box-query">'+
					    		'    <div class="col-md-12">';
					  if(v.hasOwnProperty('note')){
						  var note = getImages(v.note);		
						  el = el +	'	<div class="box-body box-note">'+
					    	'    			<span class="glyphicon glyphicon-info-sign" style=" color: #72afd2;"></span> '+note+
							'			</div>';
					  }
					  if(v.content != ''){						  
					  
						  var content = getImages(v.content);										  
						  el = el +						 
						    '        	<div class="box box-solid">'+
						    '           	<div class="box-header with-border">'+
						    '                	<i class="fa fa-question-circle"></i>'+
						    '                	<h3 class="box-title query-title"><strong> '+v.title+'</strong></h3>'+
						    '            	</div>'+
						    '            	<!-- /.box-header -->'+
						    '            	<div class="box-body query-content">'+
						    '               	<blockquote>	'+content+                       
						    '               	</blockquote>'+
						    '            	</div>'+
						    '           	 <!-- /.box-body -->'+
						    '        	</div>'+
						    '        <!-- /.box -->';
					  }
					  el = el +' </div>'+
					    '    	<!-- ./col -->'+
					    '	</div>';
	
				  });
				  el = el +	'</div></div>';	
				  $(".box-group").append( el);
			  });
		  }
		});
});
//# sourceURL=tao-howto.js
</script>
