<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new execution node</h4>
    </div>
    <form id="frmExecNodeEdit" class="form-horizontal form-newpc" role="form">
        <input type="hidden" id="op" name="op" class="op" value="op-plus" />
        <input type="hidden" id="id_u" name="id_u" value="0" />
        <input type="hidden" name="clickedon" value="">

        <div class="modal-error collapse">
            <h4 class="modal-title">Error adding execution node!</h4>
            <p id="modal-error-msg">Please check your data, one or more values for the attributes is not in the acceptable range.</p>
            <p>
                <span class="error-hostName collapse"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i> Invalid hostname.</span>
                <span class="error-memorySize collapse"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i> Memory size cannot be empty.</span>
                <span class="error-password collapse"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i> Password cannot be empty.</span>
                <span class="error-diskSpace collapse"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i> Disk space cannot be empty.</span>
                <span class="error-userName collapse"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i> User name cannot be empty.</span>
            </p>
        </div>

        <div class="modal-body">
            <section>
				<div class="row node_type">
					<div class="col-md-12">
						<div class="radio_group">
							<label class="radio-inline"><input type="radio" name="inputType" value="local" checked />New local</label>
							<label class="radio-inline"><input type="radio" name="inputType" value="openstack" disabled />OpenStack</label>
						</div>
					</div>
				</div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group has-feedback">
                            <label for="inputHostname" class="col-sm-2 col-md-2 control-label">Hostname</label>
                            <div class="col-sm-10 col-md-10">
                                <input type="text" class="form-control" id="inputHostname" name="inputHostname" placeholder="Name of node" autocomplete="off" value="" data-errorspan="hostName"/>
                                <span class="ckattr-ok glyphicon glyphicon-ok form-control-feedback collapse" aria-hidden="true"></span>
                                <span class="ckattr-ok sr-only collapse">(success)</span>
                                <span class="ckattr-error glyphicon glyphicon-remove form-control-feedback collapse" aria-hidden="true"></span>
                                <span class="ckattr-error sr-only collapse">(error)</span>
                                <span style="font-style: italic;font-size: 1.3rem;">Hostname must be <b>unique </b>and can contain letters (a-z) (A-Z), numbers (0-9), periods (.), dashes (-), and underscores (_)</span><br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputUsername" class="col-sm-2 col-md-2 control-label">Username</label>
                            <div class="col-sm-10 col-md-10">
                                <input type="text" class="form-control" id="inputUsername" name="inputUsername" placeholder="user name" autocomplete="off" value="" data-errorspan="userName"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 col-md-2 control-label">Password</label>
                            <div class="col-sm-10 col-md-10">
                                <input type="password" autocomplete="new-password" class="form-control" id="inputPassword" name="inputPassword" placeholder="password" autocomplete="off" value="" data-errorspan="password"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputSSHKey" class="col-sm-2 col-md-2 control-label">SSH Key</label>
                            <div class="col-sm-10 col-md-10">
                                <input type="password" autocomplete="off" class="form-control" id="inputSSHKey" name="inputSSHKey" placeholder="SSH key" autocomplete="off" value="" data-errorspan="SSHKey"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputFlavor" class="col-sm-2 col-md-2 control-label">Node flavor </label>
                            <div class="col-sm-10 col-md-10">
                                <div class="ui-front">
                                    <select id="inputFlavor" name="inputFlavor" class="form-control">
									</select>
                                </div>
                                <p id="inputFlovorMsg" class="collapse"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputProcessorcount" class="col-sm-2 col-md-2 control-label">Processor count</label>
                            <div class="col-sm-10 col-md-10">
                                <input type="number" class="form-control flavor-edit" id="inputProcessorcount" name="inputProcessorcount" placeholder="processor count" min="0" autocomplete="off" value="1"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputMemorysize" class="col-sm-2 col-md-2 control-label">Memory size (GB) </label>
                            <div class="col-sm-10 col-md-10">
                                <input type="number" class="form-control flavor-edit" id="inputMemorysize" name="inputMemorysize" placeholder="memory size GB" min="0" autocomplete="off" value="0" data-errorspan="memorySize"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputDiskspacesize" class="col-sm-2 col-md-2 control-label">Storage space (GB) </label>
                            <div class="col-sm-10 col-md-10">
                                <input type="number" class="form-control flavor-edit" id="inputDiskspacesize" name="inputDiskspacesize" placeholder="storage size GB" min="0" autocomplete="off" value="0" data-errorspan="diskSpace"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputSwapspacesize" class="col-sm-2 col-md-2 control-label">Swap space (GB) </label>
                            <div class="col-sm-10 col-md-10">
                                <input type="number" class="form-control flavor-edit" id="inputSwapspacesize" name="inputSwapspacesize" placeholder="storage size GB" min="0" autocomplete="off" value="0" data-errorspan="diskSpace"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputDescription" class="col-sm-2 col-md-2 control-label">Description </label>
                            <div class="col-sm-10 col-md-10">
                                <textarea class="form-control" rows="3" id="inputDescription" name="inputDescription" placeholder="Add short description of node" style="resize: none;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputActive" class="col-sm-2 col-md-2 control-label">Status </label>
                            <div class="col-sm-10 col-md-10">
                                <select id="inputActive" name="inputActive" class="form-control">
                                    <option value="true" selected="">Active</option>
                                    <option value="false">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" style="padding-top: 15px;">
                            <div class="col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10">
                                <button id="saveExecNode" type="submit" class="btn btn-primary btn-submit" name="btnSave">Add new execution node</button>
                                <button type="button" class="btn btn-default right-btn" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div><!-- /.modal-body -->
    </form>
    <div class="modal-footer">
    </div>
</div><!-- /.modal-content -->
<link rel="stylesheet" href="./assets/libs/jQuery-tags-input-autocomplete/jquery.tagsinput-revisited.css" type="text/css" />
<script src="./assets/libs/jQuery-tags-input-autocomplete/jquery.tagsinput-revisited.js" type="text/javascript"></script>
<!-- 1.12.1/jquery-ui.min.js for autocomplete -->
<link rel="stylesheet" href="./assets/libs/jQuery-datepicker/jquery-ui.css" type="text/css" />
<script src="./assets/libs/jQuery-datepicker/jquery-ui.js" type="text/javascript"></script>
<script>
    var action = 'op-plus';
    var $frmEl = $('#frmExecNodeEdit');
	
	var openStackAvailable = function() {
		return $.ajax({
			cache: false,
			url: baseRestApiURL + "topology/external",
			type: 'GET',
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "X-Auth-Token": window.tokenKey
            },
			success: function (response) {
				if (response.status == responseStatus.success) {
					$("input[name='inputType'][value='openstack']").prop("disabled", !response.data);
				} else {
					$("input[name='inputType'][value='openstack']").prop("disabled", true);
				}
			},
			error: function (jqXHR, textStatus) {
				showMsg("Unable to retrive openstack status.", "WARNING");
				$("input[name='inputType'][value='openstack']").prop("disabled", true);
			}
		});
	};
	
    function validateHostName(attrId){
        var $eL = $("#"+attrId);
        var $pEL = $eL.parent();
        var val = $eL.val().toLowerCase();
       
        $.ajax({
            cache: false,
            type: "get",
            url: baseRestApiURL + "topology/"+val+"/",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "X-Auth-Token": window.tokenKey
            },
            error : function (jqXHR, textStatus, errorThrown) {
                if( jqXHR.status === 404 ){
                    //all ok, hostname is unknown to the system
                    return 1;
                }
                if( jqXHR.status === 500 ){
                    $(".ckattr-error", $pEL).fadeOut();
                    $(".ckattr-ok", $pEL).fadeIn();
                } else {
                    alert('E001, An error has occurred, please try again or contact app admin. ');
                }
            },
            success: function(response) {
                try {
                    if(typeof response.data === 'undefined'){
                        $(".ckattr-error", $pEL).fadeOut();
                        $(".ckattr-ok", $pEL).fadeIn();
                        return 1;
                    }else{
                        if(response.data.active){
                            showMsg("Hostname already exists. You will be editing an existing node.", "ERROR");
                        }else{
                            showMsg("Hostname already exists, but current state is disabled. Saving your data will activate this execution node.", "ERROR");
                        }
                        $(".ckattr-ok", $pEL).fadeOut();
                        $(".ckattr-error", $pEL).fadeIn();
                    }
                }
                catch(e) {
                    $(".ckattr-ok", $pEL).fadeOut();
                    $(".ckattr-error", $pEL).fadeIn();
                }
            }
        });
        return true;
    }
    function renderMultilineSelect(normalNode, flavorID) {
        var $sO = $("#inputFlavor");
        var $sOMsg = $("#inputFlovorMsg");
        $sO.hide().empty();
        if(!taoFlavors || (taoFlavors.length < 1) || normalNode){
            $sOMsg.html("<input type='text' class='form-control' placeholder='Flavor service unavailable' disabled>").removeClass('collapse');
			if($("#inputFlavor-button").length > 0) {
				$sO.npMultilineSelect("destroy");
				$sO.hide();
			}
            return;
        } else {
			$sOMsg.html("").addClass("collapse");
		}
        /*if(!flavorID){
            flavorID = taoFlavors[0]['id'];
        }*/
		
        //disable flavor edit ???
        //$("input.flavor-edit").prop('disabled', true);
        $.each(taoFlavors, function() {
            $sO.append($("<option />").val(this.id).text(this.id).data( "payload", this ));
        });
		if(flavorID){
			$sO.val(flavorID).change();
        }
       
        var $ms = $sO.npMultilineSelect();
        $ms.npMultilineSelect( "menuWidget" ).addClass( "overflow-npmultilineselect" ).parent().css("z-index", "9999");
        $sO.npMultilineSelect("refresh");
        if(flavorID === 'master'){
            $sO.npMultilineSelect("disable");
            $sOMsg.html('Flavor cannot be changed for master node').removeClass('collapse');
            $("#inputFlovorMsg").css({"font-style": "italic", "font-size": "1.3rem"})
        }
        $sO.on( "selectmenuchange", function( event, ui ) {
            var payload = ui.item.element.data('payload');
            console.log(payload);
            $("#inputProcessorcount").val(payload.cpu);
            $("#inputMemorysize").val(payload.memory);
            $("#inputDiskspacesize").val(payload.disk);
            $("#inputSwapspacesize").val(payload.swap);
        });
        //put init value if any
/*
        var currentFlavourID = $('select[name=inputFlavor]', this).val();
        var matchingFlavour = _.filter(taoFlavors, function(item) {
            return item.id === currentFlavourID;
        });
        $("#inputProcessorcount").val(matchingFlavour.cpu);
        $("#inputMemorysize").val(matchingFlavour.memory);
        $("#inputDiskspacesize").val(matchingFlavour.disk);
        $("#inputSwapspacesize").val(matchingFlavour.swap);
*/


    }
    $(document).ready( function(){
	
		openStackAvailable();
		
        //remove error for some input elements
        $("input","form#frmExecNodeEdit")
        .on("keypress change", function(){
            if($(this).data("errorspan")) {
                $(".error-" + $(this).data("errorspan"), ".modal-error").css('display', 'none');
                if($(".modal-error").find("span:visible").length == 0) {
                    $(".modal-error").hide();
                    $("#saveExecNode").removeAttr('disabled');
                }
            }
			if ($(this).hasClass("flavor-edit") && typeof $("#inputFlavor").find("option:selected").val() !== "undefined" && $("#inputFlavor").find("option:selected").val() !== "") {
				renderMultilineSelect();
			}
        });
		
        renderMultilineSelect(true);
		
		$("input:radio[name='inputType']").on("change", function(e) {
			if (this.value === "openstack") {
				 renderMultilineSelect(false);
			} else {
				 renderMultilineSelect(true);
			}
		})

        $frmEl.validate({
			rules: {
				inputHostname: {
					required: true,
					inputHostname: { regEx: /^([A-Za-z0-9]|\.|-|_)+$/ },
				},
				inputUsername: {
					required: true
				},
				inputPassword: {
					required: true
				},
                inputProcessorcount:{
                    min: 1
                },
                inputMemorysize: {
                    min: 1
                },
                inputDiskspacesize:{
                    min: 1
                },
                inputSwapspacesize:{
                    min: 1
                }
			},
			highlight: function(element, errorClass) {
				$(element).parent().addClass("has-error");
			},
			unhighlight: function(element, errorClass) {
				$(element).parent().removeClass("has-error");
			},
			messages: {
			},
			errorPlacement: function(error, element) {
				error.appendTo(element.parent());
			},
			success: function(label) {
				label.remove();
			}
		});

        $.validator.addMethod('inputHostname', function (value, element, params) {
			var pattern = new RegExp(params.regEx, "g");
			var match = value.match(pattern);
            var ret = value.length !== 0 && match;
            var $pEL = $("#inputHostname").parent();
            if(ret){
                $(".ckattr-error", $pEL).fadeOut();
                $(".ckattr-ok", $pEL).fadeIn();
            }else{
                $(".ckattr-ok", $pEL).fadeOut();
                $(".ckattr-error", $pEL).fadeIn();
            }
			return ret;
		}, 'Remove invalid characters (only allowed small caps letters, numbers and periods).');
		
        $frmEl
        .on("focusout","#inputHostname",function(e) {
            if($(this).val() !== "" && $(this).attr("id") && $("#inputHostname").parent().hasClass("has-error") === false) {
                validateHostName($(this).attr("id"));
            }
        });

        $frmEl.submit(function (event) {
            event.preventDefault();

            if ($(this).valid()) {

                var formData = {
                    "id":$('input[name=inputHostname]', this).val().toLowerCase(),
                    "userName":$('input[name=inputUsername]', this).val(),
                    "userPass":$('input[name=inputPassword]', this).val(),
                    "sshKey":$('input[name=inputSSHKey]', this).val(),
                    "flavor":{
                        "id":$('select[name=inputFlavor]>option:selected', this).length > 0
                                ? $('select[name=inputFlavor]', this).val()
                                : $('input[name=inputHostname]', this).val().toLowerCase(),
                        "cpu":$('input[name=inputProcessorcount]', this).val(),
                        "memory":$('input[name=inputMemorysize]', this).val(),
                        "disk":$('input[name=inputDiskspacesize]', this).val(),
                        "swap":$('input[name=inputSwapspacesize]', this).val(),
                        "rxtxFactor": 1.0
                    },
                    "description":$('textarea[name=inputDescription]', this).val(),
                    "active":$('select[name=inputActive]', this).val(),
                    "volatile":false,
                    "tags": [ $("[name=inputType]", this).val() ]
                };
                console.log(formData);

            $.ajax({
                cache: false,
                url: baseRestApiURL + "topology/" + formData.id,
                dataType : 'json',
                type: 'POST',
                data: JSON.stringify(formData),
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                    "X-Auth-Token": window.tokenKey
                },
                error : function (jqXHR, textStatus, errorThrown) {
                    if(jqXHR.status === 500){
                        showMsg("Error adding execution node. Please check your data and try again.", "ERROR");
                        return;
                    }
                    if(jqXHR.status === 406){
                        showMsg("Error adding execution node. Please check your data, one or more values for the attributes was not in the acceptable range.", "ERROR");
                        //handle error messages
                        var objResponse = JSON.parse(jqXHR.responseText);
                        if(objResponse[0] !== "Entity has validation errors"){
                            return;
                        }
                        for(i=0;i<objResponse.length;i++) {
                            var matches = objResponse[i].match(/\[(.*?)\]/);
                            if (matches) {
                                $(".error-"+matches[1],".modal-error").css('display', 'inline-block');
                            }
                        }
                        $(".modal-error ").fadeIn("slow");
                        $('#myModalNodes').animate({scrollTop: 0}, 250);
                        return;
                    }
                    showMsg("Unknown error. Unable to add node. Please try again.", "ERROR");
                },
                success: function(response, textStatus, jqXHR) {
                	 var r = chkTSRF(response);
               	  	 if(response.status === "FAILED"){
                         if(response.message){
                             showMsg("Error adding execution node. Please check your data, one or more values for the attributes was not in the acceptable range.", "ERROR");
                             //handle error messages

                             var objResponse = JSON.parse(jqXHR.responseText);
                             objResponse = objResponse.message.split(';');
                             if(objResponse[0] !== "Entity has validation errors"){
                                 return;
                             }
                             for(i=0;i<objResponse.length;i++) {
                                 var matches = objResponse[i].match(/\[(.*?)\]/);
                                 if (matches) {
                                     $(".error-"+matches[1],".modal-error").css('display', 'inline-block');
                                 }
                             }
                             $(".modal-error ").fadeIn("slow");
                             $('#myModalNodes').animate({scrollTop: 0}, 250);
                             return;
                         }
                         showMsg("Error adding execution node. Please check your data and try again.", "ERROR");
                     }
               	
                    showMsg("Execution node successfully saved.", "SUCCESS");
                    $("#myModalNodes").modal('hide');
                    panelComp.refreshData();
                }
            });
            return false;
            }
        return false;

        }); //submit form
    });
    //# sourceURL=topology-plus.fragment.js
</script>