<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add new user</h4>
    </div>


    <form id="frmUserEdit" class="form-horizontal form-newpc" role="form">
        <input type="hidden" id="op" name="op" class="op" value="op-plus" />
        <input type="hidden" id="id_u" name="id_u" value="0" />
        <input type="hidden" name="clickedon" value="">
        <div class="modal-error collapse">
            <h4 class="modal-title">Error!</h4>
            <p id="modal-error-msg"></p>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">

                </div>
            </div>
        </div>

        <div class="modal-body">
            <section>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="selectUserType" class="col-sm-2 col-md-2 control-label">User Type</label>
                            <div class="col-sm-10 col-md-10">
                                <select id="selectUserType" name="selectUserType" class="form-control">
                                    <option value="0" selected="">User</option>
                                    <option value="1">Admin</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group has-feedback">
                            <label for="inputUsername" class="col-sm-2 col-md-2 control-label">Username</label>
                            <div class="col-sm-10 col-md-10">
                                <input type="text" class="form-control" id="inputUsername" name="inputUsername" placeholder="Username" autocomplete="off" value=""/>
                                <span class="ckattr-ok glyphicon glyphicon-ok form-control-feedback collapse" aria-hidden="true"></span>
                                <span class="ckattr-ok sr-only collapse">(success)</span>
                                <span class="ckattr-error glyphicon glyphicon-remove form-control-feedback collapse" aria-hidden="true"></span>
                                <span class="ckattr-error sr-only collapse">(error)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputFullName" class="col-sm-2 col-md-2 control-label">Full Name</label>
                            <div class="col-sm-10 col-md-10">
                                <input type="text" class="form-control" id="inputFullName" name="inputFullName" placeholder="Full name" autocomplete="off" value=""/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group has-feedback">
                            <label for="inputEmail" class="col-sm-2 col-md-2 control-label">Email</label>
                            <div class="col-sm-10 col-md-10">
                                <input type="text" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email address" autocomplete="off" value=""/>
                                <span class="ckattr-ok glyphicon glyphicon-ok form-control-feedback collapse" aria-hidden="true"></span>
                                <span class="ckattr-ok sr-only collapse">(success)</span>
                                <span class="ckattr-error glyphicon glyphicon-remove form-control-feedback collapse" aria-hidden="true"></span>
                                <span class="ckattr-error sr-only collapse">(error)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputPhone" class="col-sm-2 col-md-2 control-label">Phone</label>
                            <div class="col-sm-10 col-md-10">
                                <input type="text" class="form-control" id="inputPhone" name="inputPhone" placeholder="Phone number" autocomplete="off" value=""/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputQuota" class="col-sm-2 col-md-2 control-label">Quota</label>
                            <div class="col-sm-10 col-md-10">
                                <input type="number" class="form-control" id="inputQuota" name="inputQuota" placeholder="quota" min="0" autocomplete="off" value="0"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputContainer" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <div class="checkbox">
                                    <input type="checkbox" id="inputContainer" name="inputContainer"> Please check only to regenerate the user's password
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10">
                                <button id="saveUser" type="submit" class="btn btn-primary btn-submit" name="btnSave">Add user</button>
                                <button id="saveUserP" type="submit" class="btn btn-primary btn-submit" name="btnSavePending">Add user as pending</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div><!-- /.modal-body -->
    </form>
    <div class="modal-note">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10">
                        <h4>Help filling in</h4>
                        <p>Please fill in all needed information. All data needed to identify a user must be unique, username and email address will be validated on the server against all existing users.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div><!-- /.modal-content -->

<script>
    var action = 'op-plus';

    function validateUserUnique(attrId){
        var val = $("#"+attrId).val();
        var	lcl_postdata = {
            "operation" : "unique",
            "except" : "",
            "attrid" : attrId,
            "val" : val
        };
        $.ajax({
            type: "post",
            url: "/_tao/rm_json/users_validate.ajax.php?action=validate&rnd=" + Math.random(),
            dataType: "json",
            data: JSON.stringify(lcl_postdata),
            contentType: "application/json; charset=utf-8",
            error: function() {
                alert("Communication error. Try again or notify the site admin! Thank you.");
            },
            success: function(response) {
                var $pEL = $("#"+attrId).parent();
                try {
                    showMsg(response.msgdetails.global, response.msgcode);
                    if(response.code == '200-OK'){
                        if(response.msgcode == 'SUCCESS'){
                            $(".ckattr-error", $pEL).fadeOut();
                            $(".ckattr-ok", $pEL).fadeIn();
                            //$("#inputIdParinte").val(response.data);
                        }else{
                            $(".ckattr-ok", $pEL).fadeOut();
                            $(".ckattr-error", $pEL).fadeIn();
                        }
                    }else{
                        $(".ckattr-ok", $pEL).fadeOut();
                        $(".ckattr-error", $pEL).fadeIn();
                    }
                }
                catch(e) {
                    alert("Malformed server answer. Try again or notify the site admin! Thank you.");
                }
            }
        });
        return true;
    }


    $("#inputUsername, #inputEmail").focusout(function(e) {
        var attrId = $(this).attr("id");
        if(attrId) {
            validateUserUnique(attrId);
        }
    });

    $(document).ready( function(){

    });
</script>