<!-- modal nodes op -->
<div id="myModalNodes" class="modal fade modal-form-focus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- modal nodes op -->
<!-- Content Header (Page header) -->
<section class="content-header tao-async-ph">
    <h1>Users management<small>The <strong>users</strong> of the TAO platform.</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Users</li>
    </ol>
</section>
<!-- /Content Header (Page header) -->

<!-- Main content -->
<section class="content tao-async-mc">
    <div id="panel-users-wrapper" class="row collapseX">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs visible-xs-block"> <!-- visible-xs-block -->
                    <li class="role-dropdown active">
                        <select id="selectUserPanel" name="selectUserPanel" class="form-control form-changepane" title="Select desired node view.">
                            <option class="role role-admin" value="all_users">Active users </option>
                            <option class="role role-admin" value="pending_users">Pending users</option>
                            <option class="role role-admin" value="disabled_users">Disabled users</option>
                        </select>
                    </li>
                </ul>
                <ul class="nav nav-tabs hidden-xs">
                    <li class="role role-admin active"><a href="#panel-nodes" data-toggle="tab" data-action="all_users" aria-expanded="true">Active users</a></li>
                    <li class="role role-admin"><a href="#panel-nodes" data-toggle="tab" data-action="pending_users" aria-expanded="false">Pending users</a></li>
                    <li class="role role-admin"><a href="#panel-nodes" data-toggle="tab" data-action="disabled_users" aria-expanded="false">Disabled users</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="panel-nodes">
                        <div class="row">
                            <div class="col-md-12" id="list-master-controls">
                                <div class="box-tools pull-left">
                                    <button class="btn btn-master-tool text-black" data-action="op-plus" data-toggle="tooltip" data-original-title="Add new user"><i class="fa fa-plus"></i></button>
                                </div>
                                <div class="box-tools pull-left">
                                    <button class="btn btn-master-tool text-black" data-action="op-filter" data-toggle="tooltip" data-original-title="Filter by tags"><i class="fa fa-filter"></i><span class="label label-warning val-count-filters" style="display:none;">0</span></button>
                                </div>
                                <div class="box-tools pull-left">
                                    <form class="search-container collapse" action="">
                                        <input id="search-box" type="text" class="search-box" name="q" placeholder="Search by label" />
                                        <label for="search-box"><i class="fa fa-search search-icon" aria-hidden="true"></i></label>
                                        <input type="submit" id="search-submit" />
                                    </form>
                                </div>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-master-tool text-black" data-action="refresh-list" data-toggle="tooltip" data-original-title="Refresh"><i class="fa fa-refresh fa-spin-hover"></i></button>
                                    <button class="btn btn-master-tool text-black" data-action="view-list" data-toggle="tooltip" data-original-title="List view"><i class="fa fa-list"></i></button>
                                    <button class="btn btn-master-tool text-black" data-action="view-table" data-toggle="tooltip" data-original-title="Grid view"><i class="fa fa-table"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 like collapse">
                                <span data-tag="tag">Label like: <strong class="val-q"></strong>&nbsp;<i class="fa fa-times fa-fw clear-search" aria-hidden="true"></i></span>
                            </div>
                            <div class="col-md-12 tags collapse">
                                <span class="collapse" data-tag="tag">tag<i class="fa fa-check fa-fw" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="row" id="list-work-users">
                            <div class="col-sm-12">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <i class="fa fa-user"></i>
                                        <h3 class="box-title">Users -  <span class="val-itemfrom">0</span> to <span class="val-itemto">0</span> of <span class="val-itemscount">0</span></h3>
                                        <div class="box-tools pull-right nppaginatedcells-order collapse" data-toggle="tooltip" title="Change order"></div>
                                    </div>
                                    <div class="nppaginatedcells-empty callout callout-empty">
                                        <p>List is empty. <span class="results-empty">You do not have any user.</span><span class="filter-results-empty collapse">Your current selection returned no results.</span></p>
                                    </div>
                                    <div class="box-body chat users-box">
                                        <div class="nppaginatedcells-panel-body">
                                        </div>
                                        <div class="cell-templates collapse">
                                            <core-cell-list>
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="nodes-item-core-box">
                                                        <div class="box-top-tags">
                                                            <span>Tag1</span><span>Tag2</span><span>Tag3</span>
                                                        </div>
                                                        <div class="box-top">
                                                            <div class="box-title"><span class="val-fullName"> ##### </span></div>
                                                            <div class="box-subtitle"><span class="val-username">  #####  </span></div>
                                                        </div>
                                                        <div class="row user-info-row">
                                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                                <img src="https://www.gravatar.com/avatar/87876294a3cb8e341dfb6b4f675c52fe?d=mm" alt="user image" class="online val-gravatar">
                                                                <p class="message">
                                                                    <span class="u-i-span">Groups: <strong><span class="val-labelGroups">###</span></strong></span>
                                                                    <span class="u-i-span">Email address: <strong><span class="val-email">###</span></strong></span>
                                                                    <span class="u-i-span">User type: <strong><span class="val-labelUserType">###</span></strong></span>
                                                                    <span class="u-i-span">Status: <strong><span class="val-status">###</span></strong></span>
                                                                    <span class="u-i-span">Last log-in: <strong><span class="val-ago">never</span></strong></span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                                <div class="text-right" style="padding-top: 30px;">
                                                                    <button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-nodeop" data-action="edit"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i><span class="span-muted">&nbsp;Edit</span></button>
                                                                    <button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-nodeop" data-action="disable"><i class="fa fa-pause fa-fw" aria-hidden="true"></i><span class="span-muted">&nbsp;Disable</span></button>
                                                                    <button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-nodeop collapse" data-action="enable"><i class="fa fa-play fa-fw" aria-hidden="true"></i><span class="span-muted">&nbsp;Enable</span></button>
                                                                    <button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-nodeop disabled" data-action="delete"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i><span class="span-muted">&nbsp;Delete</span></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </core-cell-list>
                                            <core-cell-grid>
                                                <div class="col-md-3 col-sm-6">
                                                    <div class="nodes-item-core-box">
                                                        <div class="box-top-tags">
                                                            <span>Tag1</span><span>Tag2</span><span>Tag3</span>
                                                        </div>
                                                        <div class="box-top">
                                                            <div class="box-title"><span class="val-fullName"> ##### </span></div>
                                                            <div class="box-subtitle"><span class="val-username">  #####  </span></div>
                                                        </div>
                                                        <img src="https://www.gravatar.com/avatar/87876294a3cb8e341dfb6b4f675c52fe?d=mm" alt="user image" class="online val-gravatar">
                                                        <br>
                                                        <p class="message">
                                                            <span class="u-i-span">Groups: <strong><span class="val-labelGroups">###</span></strong></span>
                                                            <span class="u-i-span">Email address: <strong><span class="val-email">###</span></strong></span>
                                                            <span class="u-i-span">User type: <strong><span class="val-labelUserType">###</span></strong></span>
                                                            <span class="u-i-span">Status: <strong><span class="val-status">###</span></strong></span>
                                                            <span class="u-i-span">Last log-in: <strong><span class="val-ago">never</span></strong></span>
                                                            
                                                        </p>
                                                        <div class="box-bottom">
                                                            <div class="">
                                                                <button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-nodeop" data-action="edit"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i><span class="span-muted collapse">&nbsp;Edit</span></button>
                                                                <button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-nodeop" data-action="disable"><i class="fa fa-pause fa-fw" aria-hidden="true"></i><span class="span-muted collapse">&nbsp;Disable</span></button>
                                                                <button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-nodeop collapse" data-action="enable"><i class="fa fa-play fa-fw" aria-hidden="true"></i><span class="span-muted collapse">&nbsp;Enable</span></button>
                                                                <button type="button" class="btn btn-primary btn-sm btn-flat btn-action btn-nodeop disabled" data-action="delete"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i><span class="span-muted collapse">&nbsp;Delete</span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </core-cell-grid>
                                        </div>
                                    </div>
                                    <div class="box-footer clearfix no-border">
                                        <div class="box-tools pull-right">
                                            <ul class="nppaginatedcells-panel-pagination pagination pagination-sm inline">
                                                <li><a href="#" data-page="prev">«</a></li>
                                                <li class="active"><a href="#" data-page="0">1</a></li>
                                                <li><a href="#" data-page="1">2</a></li>
                                                <li><a href="#" data-page="2">3</a></li>
                                                <li><a href="#" data-page="next">»</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="box-notification"><p><span>List updated</span></p></div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.tab-pane -->

                    <div class="tab-pane" id="panel-nodesX">
                    </div><!-- /.tab-pane -->

                </div><!-- /.tab-content -->
            </div><!-- nav-tabs-custom -->
        </div>
    </div>
</section><!-- /.content -->
<script>

    disableUser = function(username){
        var settings = {
            "async": true,
            "url": baseRestApiURL + "admin/users/"+ username +"/disable",
            "method": "POST",
            "headers": {
                "Content-Type": "application/json",
                "Cache-Control": "no-cache",
                "X-Auth-Token": window.tokenKey
            },
            "data": "{\"deletePrivateResources\" : true}"
        };
        $.ajax(settings)
            .done(function (response) {
                showMsg("User "+ username +" successfully disabled.", "SUCCESS");
                panelComp.refreshData();
            });
    };

    myModalNodesOpShow = function(operationid, args){
        var $modal = $("#myModalNodes");
        $(".modal-dialog",$modal).removeClass("modal-lg");
        var rm_contentUrl = '';
        var rmContent = '';
        window.userOpStack = [];

        if(operationid === "op-plus"){
            //$(".modal-dialog",$modal).addClass("modal-lg");
            rm_contentUrl="./fragments/users-plus.fragment.html?" + Math.random();
        }
        if(operationid === "edit"){
            window.userOpStack = [{
                "dna": args.dna,
                "action": "comp_edit"
            }];
            rm_contentUrl="./fragments/users-edit.fragment.html?" + Math.random();
        }

        if(rm_contentUrl === ''){
            alert("TAO - Operation mismatch");
            return;
        }
        $.ajax({
            url: rm_contentUrl,
            success: function(result) {
                rmContent = result;
                if(rmContent !== ''){
                    $modal.find('.modal-dialog').html(rmContent);
                }else{
                    alert("Could not retrive needed data from server.");
                    return e.preventDefault();
                }
                $modal.modal('show');
            }
        });
    };

    $( document ).ready(function() {
        var userType = "ACTIVE";
        var urls = [
            baseRestApiURL + "admin/users?status="+userType,
        ];

        $("#selectUserPanel").on("change", function(event){
            var current_pane = $(this).val() || 0;
            $("a[data-action='" + current_pane +"']",'#panel-users-wrapper').trigger( "click" );
        });
        $('a[data-toggle="tab"]', '#panel-users-wrapper').on('shown.bs.tab', function (e) {
            var action = $(this).data("action");
            if(action ==="all_users"){
                userType = "ACTIVE";
            }
            if(action ==="disabled_users"){
                userType = "DISABLED";
            }
            if(action ==="pending_users"){
                userType = "PENDING";
            }
            window.panelComp.refreshData([
                baseRestApiURL + "admin/users?status="+userType,
            ]);
        });

        window.panelComp = $('#panel-nodes').npPaginatedCells({
            headerUser: taoUserProfile.username,
            url: urls,
            viewMode: prefferences.viewMode,
            filterAttribute: "fullName",
            order:[
                {
                    "label":"Name ascending",
                    "objAttributeName":"fullName",
                    "direction":"ASC"
                },
                {
                    "label":"Name descending",
                    "objAttributeName":"fullName",
                    "direction":"DSC"
                }
            ],
            doDataPreprocessing: function(data){
                for (var i = 0; i < data.length; i++){
                    data[i].fullName = data[i].firstName+" "+data[i].lastName;
                    var groupsLabels = _.map(data[i].groups, function(g){ return g["name"];});
                    data[i].labelGroups = groupsLabels.join(", ");
                    data[i].ago = niceIsoTime(data[i].lastLoginDate);
                    var userEmailMD5 = CryptoJS.MD5(data[i].email).toString();
                    data[i].gravatarUrl = "https://www.gravatar.com/avatar/"+userEmailMD5+"?d=mp&s=80";
                    data[i].labelUserType = data[i].userType;
                    if(data[i].cpuQuota === -1){
                        data[i].cpuQuota = "unmeterred";
                    }else{
                        data[i].cpuQuota += " X";
                    }
                    if(data[i].inputQuota === -1){
                        data[i].inputQuota = "unmeterred";
                        data[i].usageInputQuota = "";
                    }else{
                        data[i].inputQuota += " GB";
                        data[i].usageInputQuota = ", using: "+data[i].actualInputQuota + " GB";
                    }
                    if(data[i].memoryQuota === -1){
                        data[i].memoryQuota = "unmeterred";
                    }else{
                        data[i].memoryQuota += " GB";
                    }
                    if(data[i].processingQuota === -1){
                        data[i].processingQuota = "unmeterred";
                        data[i].usageProcessingQuota = "";
                    }else{
                        data[i].processingQuota += " GB";
                        data[i].usageProcessingQuota = ", using: "+data[i].actualProcessingQuota + " GB";
                    }
                }
                return data;
            },
            doCustomRender: function($el, data){
                $(".val-gravatar", $el).attr("src", data.gravatarUrl);
            },
            doAction: function(action, args){
                if(action === "op-plus"){
                    if( taoUserProfile.userRole !== "ADMIN"){
                        showMsg("Only admin roles can ad components to the shared workspace. You should try adding components to your own workspace", "ERROR");
                        return;
                    }
                    myModalNodesOpShow(action, args);
                }
                if(action === "edit") myModalNodesOpShow(action, args);
                if(action === "disable"){
                    if( taoUserProfile.userRole !== "ADMIN"){
                        alert("not allowed");
                        return;
                    }
                    $('#confirm-dialog').modal('confirm',{
                        msg:"Are you sure you want to disable user: <strong>"+args.dna.fullName+"</strong>?",

                        callbackConfirm: function() {
                            disableUser(args.dna.username);
                        },
                        callbackCancel:function(){}
                    });
                }
            }
        });
    });
    //# sourceURL=users-admin2.fragment.js
</script>
