.app-noscroll { 
  overflow: hidden;
}

app-modal-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
	margin-top: 0;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    height: 100vh;
    width: 100vw;
    opacity: 0;
	visibility: hidden;
    transition: opacity .5s ease-in-out;
}
app-modal-overlay.on-screen {
    opacity: 1;
	visibility: visible;
}
app-modal-overlay a{
	font-size: 1rem;
}
app-modal-overlay a:hover{
	font-size: 1rem;
	color: #06447e;
}


app-modal {
    position: absolute;    
	width: 500px;
    height: 100vh;
    max-height: 100vh;
    border-radius: 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 12px 18px 1px rgba(0,0,0,.2);
    background-color: #f3f6f8;
	transition: right .5s ease-in-out;
	right: -400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
app-modal-overlay.on-screen app-modal{
    right: 0;
}

.app-dismiss{
	background: transparent;
    border: 0;
    padding: 12px;
	line-height: 0px;
    float: left;
    transition: background ease 1s
}
.app-dismiss:hover{
    background: #3c8dbc;
}

.app-title-line{
	display: block;
    border: none;
    padding: 0 16px 0 0;
}
.app-propbar-details{
	display: inline-block;
	padding: 0 10px;
    line-height: 48px;
}
.app-user-avatar{
	display: inline-block;
    float: right;
}
.app-user-avatar-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 2px #fff;
    margin: 10px 10px 0;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    transition: box-shadow .2s ease-in-out;
}
.app-user-avatar-img:hover{
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}

app-modal-header {
    display: block;
    border: none;
    padding: 8px 16px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
app-modal-header h1 {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 20px;
    font-weight: bold;
}
app-modal-header h2 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
}
app-modal-header p{
    font-size: 12px;
}

app-modal-content {
    display: block;
	overflow: auto;
    padding: 8px 16px;
}
.app-card{
	border: 1px solid rgba(0,0,0,.15);
    border-radius: 2px;
    padding-bottom: 0;
    margin-bottom: 12px;
    background-color: #fff;
}
.app-card-clean{
    display:none;
}
.app-card-header{
    padding: 10px 20px;
    line-height: 24px;
    color: rgba(0,0,0,.9);
	font-weight: bold;
}
.app-card-divider{
    border: 0;
    display: block;
    height: 1px;
	margin: 0 0 8px 0;
    padding: 0;
    border-color: rgba(0,0,0,.15);
    border-top: 1px solid rgba(0,0,0,.15);
}
.app-nav-list{
    padding: 8px 0 8px 20px;
    list-style: none;
}
.app-nav-list li {
    width: 70px;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 5px;
    vertical-align: top;
}
.app-nav-list li a {
	text-decoration: none;
}

.app-nav-list li .app-icon-title{
	display:block;
	font-size: 12px;
}
.app-posting-icon{
	width: 40px;
    height: 40px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
	margin-bottom: 5px;
	transition: box-shadow .2s ease-in-out;
}
.app-nav-list li:hover .app-posting-icon{
	box-shadow: 0 2px 10px rgba(0,0,0,.4);
}
.app-card-note-item{
	position: relative;
	padding: 5px 24px;
    color: rgba(0,0,0,.9);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
	transition: padding .4s ease-in-out;
    font-size: 12px;
}
.app-card-note-item:hover {
	padding: 20px 24px;
	background: #f3f6f8;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
.app-card-note-item a{
	color: rgba(0,0,0,.9);
	text-decoration: none;
}
.app-card-note-item-title{
	font-size: 14px;
    font-weight: bold;
}
.app-card-note-item a.item-read-more{
    display: block;
    float: right;
    background: #65c3e8;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: .3;	
}
.app-card-note-item:hover a.item-read-more{
    opacity: .8;
}

btn-avatar{
    content: "";
    display: block;
    background: url("./media/module01.png") no-repeat center;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-size: 30px;
	border-radius: 40px;
}
.l-form{
	padding: 0 20px;
}
.l-form__input{
	background-color: #fff;
    color: #5b5e6d;
    text-decoration: none;
    font-family: Slack-Averta,appleLogo,sans-serif;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: normal;
    font-size: 1rem;
    border: 1px solid #5b77c4;
    border-radius: 4px;
    box-shadow: none;
    padding: .8rem 1rem;
	margin-bottom: 10px;
    display: inline-block;
	width: 100%;
}
.l-form__input:focus,.l-form__input:active,.l-form__input:hover{
	border: 1px solid #1c299d;
}
.l-form__submit{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: 0 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-family: Slack-Averta,appleLogo,sans-serif;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: normal;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: block;
    width: 100%;
    transition: box-shadow 420ms cubic-bezier(.165,.84,.44,1),color 420ms cubic-bezier(.165,.84,.44,1),background 420ms cubic-bezier(.165,.84,.44,1);
	background-color: #000;
    color: #fff;
    fill: #fff;
    outline: 0;
}
.l-form__submit:hover{
	background-color: #3c8dbc;
}

.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}
.table-bordered {
    border: 1px solid #f4f4f4;
}
.tbl-edt .tpl-sample-row {
    display: none;
}
.tbl-edt input, .tbl-edt textarea, .tbl-edt select {
    width: 100%;
    padding-left: 0.3em;
    border: 1px solid #bdbdbd;
    /*transition: .1s ease-out;
    input[type="text"]
    */
}
.tbl-edt textarea {
    resize: none;
}

/*pni editable*/
.pni-editable{

}

.pni-editable .pni-editable-input {
    display: none;
    background: transparent;
    border-width: 0;
    margin: 0;
    padding: 0 0 10px 0;
}
.pni-editable .pni-editable-input:focus {
    outline: none;
    border-width: 0 0 1px;
    border-color: black;
}
.pni-editable .pni-editable-btn{
    cursor:pointer;
}
.pni-editable .pni-editable-btn:hover{
    color: #367fa9;
}

.pni-editable.edit .pni-editable-input {
    display: inline;
}

.pni-editable.edit .pni-editable-btn{
    display:none;
}
.pni-editable.edit span{
    display:none;
}

.ui-dialog {z-index:10001;box-shadow: 0 0 0 1px rgb(0 0 0 / 10%), 0 12px 18px 1px rgb(0 0 0 / 20%);}
.ui-dialog .ui-dialog-buttonpane {text-align:center;border:0;margin:0;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {float:none;}
.ui-dialog label {color: #286080;display: block;}

.ui-dialog input[type="radio"]:hover{outline: 5px auto #0075ff;outline-offset: -1px;}

/**/
