/*
 * Skin: Blue
 * ----------
 */

  /*** Workflow toolbox ***/
.skin-blue-light .toolbox-sidebar{
  background: #ffffff;
}
.skin-blue-light .toolbox-sidebar .toolbox-bar {
  color: #fff!important;
  background-color: #3c8dbc!important;
  margin-top: 2px;
}
.skin-blue-light .toolboxAccordion{
  background: #ffffff;
}

.skin-blue-light .toolboxAccordion .ui-accordion-content{
  background: #ffffff;
}

.skin-blue-light .toolboxAccordion .ui-accordion-header{
  background-color: #76accc;
  color: #ffffff;
}

.skin-blue-light .item-info{
  background: #ffffff;
  border: 1px solid #3c8dbc;
  color: #333333;
}
.skin-blue-light .modulesholder .item {
  background: #ffffff;
  border: 1px solid #3c8dbc;
}

.skin-blue-light .toolbox-sidebar .toolbox-search input {
  background: #eee;
}

.skin-blue-light .ui-widget-content{
  color: #3c8dbc;
}

/*** Node editor CTRL + SPACE border ***/
.skin-blue-light .npsyntaxeditor{
  border:3px dotted #3c8dbc; 
} 

.skin-blue-light .form-control:focus {
  border-color: #3c8dbc;
  outline: 0;
  box-shadow: inset 0 1px 1px #3c8dbcb4, 0 0 8px #76acccb9;
}

.skin-blue-light .l-form__submit:hover {
  background-color: #76accc;
}

.skin-blue-light .l-form__submit{
  background-color: #3c8dbc
}